[Desktop Entry]
Type=Service
Icon=ktimetracker
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_karm
X-KDE-KontactPluginVersion=7
X-KDE-KontactPartLibraryName=karmpart

X-KDE-PluginInfo-Name=kontact_karm
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=TimeTracker Plugin
Comment[af]=TimeTracker inprop module
Comment[be]=Утулка TimeTracker
Comment[bg]=Приставка за TimeTracker
Comment[br]=Lugent TimeTracker
Comment[ca]=Connector TimeTracker
Comment[cs]=Modul TimeTracker
Comment[da]=TimeTracker-plugin
Comment[de]=TimeTracking-Modul
Comment[el]=Πρόσθετο του TimeTracker
Comment[eo]=TimeTracker-kromaĵo
Comment[es]=Complemento de TimeTracker
Comment[et]=TimeTrackeri plugin
Comment[eu]=TimeTracker plugina
Comment[fa]=وصلۀ TimeTracker
Comment[fi]=TimeTracker-liitännäinen
Comment[fr]=Module pour KTimeTracker
Comment[fy]=TimeTracker-plugin
Comment[ga]=Breiseán TimeTracker
Comment[gl]=Extensión para TimeTracker
Comment[hu]=TimeTracker bővítőmodul
Comment[is]=TimeTracker íforrit
Comment[it]=Plugin TimeTracker
Comment[ja]=TimeTracker プラグイン
Comment[ka]=TimeTracker მოდული
Comment[kk]=TimeTracker модулі
Comment[km]=កម្មវិធី​ជំនួយ TimeTracker
Comment[ko]=TimeTracker 플러그인
Comment[lt]=TimeTracker priedas
Comment[mk]=Приклучок за TimeTracker
Comment[ms]=Plugin TimeTracker 
Comment[nb]=TimeTracker-programtillegg
Comment[nds]=TimeTracker-Moduul
Comment[ne]=TimeTracker प्लगइन
Comment[nl]=TimeTracker-plugin
Comment[pa]=TimeTracker ਪਲੱਗਇਨ
Comment[pl]=Wtyczka TimeTracker
Comment[pt]='Plugin' do TimeTracker
Comment[pt_BR]=Plugin do TimeTracker
Comment[ru]=Модуль TimeTracker
Comment[sk]=Modul TimeTracker
Comment[sl]=Vstavek za TimeTracker
Comment[sr]=Прикључак TimeTracker-а
Comment[sr@latin]=Priključak TimeTracker-a
Comment[sv]=Timetracker-insticksprogram
Comment[tr]=TimeTracker Eklentisi
Comment[uk]=Втулок TimeTracker
Comment[uz]=TimeTracker плагини
Comment[x-test]=xxTimeTracker Pluginxx
Comment[zh_CN]=TimeTracker 插件
Comment[zh_TW]=TimeTracker 外掛程式

Name=KTimeTracker
Name[af]=ktimetracker
Name[eo]=Tempomezurilo
Name[sv]=ktimetracker
Name[ta]=Kஅம்
Name[x-test]=xxKTimeTrackerxx
Name[zh_TW]=KTimeTracker 個人時程紀錄
