[Desktop Entry]
Type=Service
Icon=ktimetracker
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_karm
X-KDE-KontactPluginVersion=7
X-KDE-KontactPartLibraryName=karmpart
X-KDE-KontactPluginHasSummary=false

X-KDE-PluginInfo-Name=kontact_karm
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=TimeTracker Plugin
Comment[ca]=Connector de registre horari
Comment[ga]=Breiseán TimeTracker
Comment[ja]=タイムトラッカープラグイン
Comment[km]=កម្មវិធី​ជំនួយ TimeTracker
Comment[pt]='Plugin' do KTimeTracker
Comment[pt_BR]=Plug-in do TimeTracker
Comment[zh_TW]=時間追蹤器外掛程式

Name=Time Tracker
Name[ca]=Registre horari
Name[ga]=TimeTracker
Name[ja]=タイムトラッカー
Name[km]=កម្មវិធី​តាមដាន​ពេលវេលា
Name[pt]=Gestor de Tempo
Name[pt_BR]=Gerenciador de Tempo
Name[zh_TW]=時間追蹤器
