[Desktop Entry]
Type=Service
Icon=ktimetracker
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_karmplugin
X-KDE-KontactPluginVersion=7
X-KDE-KontactPartLibraryName=karmpart
X-KDE-KontactPluginHasSummary=false

X-KDE-PluginInfo-Name=kontact_karmplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=TimeTracker Plugin
Comment[ca]=Connector de registre horari
Comment[da]=Tidsstyrings-plugin
Comment[de]=Modul für die persönliche Zeiterfassung
Comment[el]=Πρόσθετο χρονικού προγραμματισμού
Comment[et]=Ajaarvesti plugin
Comment[fr]=Module de suivi du temps
Comment[ga]=Breiseán TimeTracker
Comment[ja]=タイムトラッカープラグイン
Comment[km]=កម្មវិធី​ជំនួយ TimeTracker
Comment[lv]=KTimeTracker spraudnis
Comment[nds]=Tietlogbook-Moduul
Comment[nl]=Tijdsregistratie-plugin
Comment[pl]=Wtyczka osobistego czasomierza
Comment[pt]='Plugin' do KTimeTracker
Comment[pt_BR]=Plug-in do TimeTracker
Comment[sv]=Insticksprogram för tidmätning
Comment[tr]=Zaman İzleyici Eklentisi
Comment[uk]=Втулок TimeTracker
Comment[x-test]=xxTimeTracker Pluginxx
Comment[zh_CN]=时间追踪器插件
Comment[zh_TW]=時間追蹤器外掛程式

Name=Time Tracker
Name[ca]=Seguiment horari
Name[da]=Tidsstyring
Name[de]=Zeiterfassung
Name[el]=Χρονικός προγραμματισμός
Name[et]=Ajaarvesti
Name[fr]=Suivi du temps
Name[ga]=TimeTracker
Name[ja]=タイムトラッカー
Name[km]=កម្មវិធី​តាមដាន​ពេលវេលា
Name[lv]=Patērētā laika uzskatītājs
Name[nds]=Tietlogbook
Name[nl]=Tijdsregistratie
Name[pl]=Osobisty czasomierz
Name[pt]=Gestor de Tempo
Name[pt_BR]=Gerenciador de Tempo
Name[sv]=Tidmätning
Name[tr]=Zaman İzleyici
Name[uk]=Слідкування за часом
Name[x-test]=xxTime Trackerxx
Name[zh_CN]=时间追踪器
Name[zh_TW]=時間追蹤器
