[Desktop Entry]
Encoding=UTF-8
Icon=knode
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kontactknt
X-KDE-FactoryName=kontactknt
X-KDE-ParentApp=kontact_newstickerplugin
X-KDE-ParentComponents=kontact_newstickerplugin
X-KDE-CfgDlgHierarchy=KontactSummary

Name=News Sources
Name[be]=Крыніцы навін
Name[ca]=Fonts de notícies
Name[cs]=Zdroje novinek
Name[cy]=Tarddiadau Newyddion
Name[da]=Nyhedskilder
Name[de]=Nachrichtenquellen
Name[es]=Fuentes de noticias
Name[et]=Uudisteallikad
Name[fr]=Sources de nouvelles
Name[gl]=Fontes de Novas
Name[hu]=Hírforrások
Name[it]=Fonti Notizie
Name[ja]=ニュース ソース
Name[nb]=Nyhetskilder
Name[nl]=Nieuwsbronnen
Name[pl]=Źródła wiadomości
Name[pt]=Fontes de Notícias
Name[pt_BR]=Fontes de Notícias
Name[ru]=Новости
Name[sk]=Zdroje správ
Name[sl]=Viri novic
Name[sr]=Извори вести
Name[sr@Latn]=Извори вести
Name[sv]=Nyhetskällor
Name[ta]=செய்திகள் மூலங்கள்
Name[tg]=Махзани маълумот
Name[tr]=Haber Kaynakları
Name[uk]=Джерела новин
Name[xx]=xxNews Sourcesxx
Name[zh_CN]=新闻来源
Comment=News Sources Setup
Comment[bg]=Настройки на източниците на новини
Comment[ca]=Configuració de les fonts de notícies
Comment[cs]=Nastavení zdrojů novinek
Comment[da]=Opsætning af nyhedskilder
Comment[de]=Einrichtung der Nachrichtenquellen
Comment[es]=Configuración de las fuentes de noticias
Comment[et]=Uudisteallikate seadistamine
Comment[fr]=Configuration des sources de nouvelles
Comment[ga]=Cumraíocht na bhFoinsí Nuachta
Comment[gl]=Configuración de Fontes de Novas
Comment[hu]=A hírforrások beállításai
Comment[it]=Impostazione nuove fonti
Comment[ja]=ニュース ソースの設定
Comment[nb]=Oppsett av nyhetskilder
Comment[nl]=Nieuwsbroninstellingen
Comment[pl]=Ustawienia źródeł wiadomości
Comment[pt]=Configuração de Fontes de Notícias
Comment[pt_BR]=Configurar Fontes de Notícias
Comment[ru]=Настройка источников новостей
Comment[sk]=Nastavenie zdrojov správ
Comment[sl]=Nastavitve virov novic
Comment[sr]=Подешавање извора вести
Comment[sr@Latn]=Подешавање извора вести
Comment[sv]=Inställning av nyhetskällor
Comment[ta]=திட்ட அமைப்பு
Comment[tg]=Танзимотгоҳи махзани маълумот
Comment[tr]=Haber Kaynakları Kurulumu
Comment[uk]=Налаштування джерел новин
Comment[xx]=xxNews Sources Setupxx
Comment[zh_CN]=新闻来源设置
Keywords=news ticker, configure, settings
Keywords[bg]=новини, източник, настройки, news ticker, configure, settings
Keywords[ca]=teletip, configura, opcions
Keywords[da]=nyhedstelegraf, indstil, opsætning
Keywords[de]=Newsticker, Einrichten, Einstellungen
Keywords[es]=teletipo de noticias, configurar, opciones
Keywords[et]=uudistejälgija, seadistamine, seadistused
Keywords[fr]=configurer,paramètre,news ticker, téléscripteur
Keywords[gl]=capturador de novas, configurar, opcións
Keywords[hu]=hírmegjelenítő,konfigurálás,beállítások
Keywords[it]=ticker notizie, configura, impostazioni
Keywords[ja]=ニュース ティッカー,設定,設定
Keywords[nb]=nyhetstelegraf, oppsett, innstillinger
Keywords[nl]=newsticker,instellingen,configuratie,nieuws
Keywords[pl]=news ticker,wiadomości,nagłówki,konfiguracja,ustawienia
Keywords[pt]=notícias, configurar, configuração
Keywords[pt_BR]=mostrador de notícias,configurar, preferências
Keywords[ru]=news ticker, configure, settings, настройка, новости
Keywords[sk]=zdroje správ,nastavenie
Keywords[sr]=news ticker, подеси, поставке
Keywords[sr@Latn]=news ticker, подеси, поставке
Keywords[sv]=nyhetsövervakare, anpassa, inställningar
Keywords[ta]=கேமுகவரிப்புத்தகம்,கட்டமைப்பு,அமைவுகள்
Keywords[tg]=news ticker, configure, settings, танзимот
Keywords[tr]=haber takibi, yapılandırma, ayarlar
Keywords[uk]=новини, налаштування, установки
Keywords[xx]=xxnews ticker, configure, settingsxx
Keywords[zh_CN]=news ticker, configure, settings, 新闻点点通, 配置, 设置
