[Desktop Entry]
Icon=knode
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kontactknt
X-KDE-FactoryName=kontactknt
X-KDE-ParentApp=kontact_newstickerplugin
X-KDE-ParentComponents=kontact_newstickerplugin
X-KDE-CfgDlgHierarchy=KontactSummary

Name=News Ticker
Name[af]=Nuus tikker
Name[az]=Xəbər Gözləyici
Name[br]=Kliker keleier
Name[ca]=Teletip de notícies
Name[cy]=Ticer Newyddion
Name[da]=Nyhedstelegraf
Name[de]=Newsticker
Name[el]=Προβολέας ειδήσεων
Name[eo]=Novaĵprezentilo
Name[es]=Teletipo de noticias
Name[et]=Uudistejälgija
Name[eu]=Berri markatzailea
Name[fa]=Ticker اخبار
Name[fi]=Uutisnäytin
Name[fr]=Téléscripteur de nouvelles
Name[fy]=Nijs Tikker
Name[gl]=Colector de Novas
Name[he]=חדשות רצות
Name[hi]=न्यूज टिकर
Name[hr]=Ticker sa novostima
Name[hu]=RSS hírmegjelenítő
Name[id]=Ticker Berita
Name[is]=Fréttastrimill
Name[it]=Ticker notizie
Name[ja]=ニュースティッカー
Name[ka]=სიახლეთა ტიკერი
Name[kk]=Жаңалық таспасы
Name[km]=កម្មវិធី​ទទួល​ព័ត៌មាន
Name[lt]=News pranešėjas
Name[lv]=Ziņu Tikkers
Name[ms]=Pengetik Berita
Name[nb]=Nyhetstelegraf
Name[nds]=Narichten-Ticker
Name[ne]=न्यूज टिकर
Name[nn]=Nyheitstelegraf
Name[pl]=Wiadomości
Name[pt]=Extractor de Notícias
Name[pt_BR]=Animação de Notícias
Name[ro]=Ştiri Internet
Name[ru]=Новости
Name[sk]=Sledovanie správ
Name[sl]=Prikazovalnik novic
Name[sr]=Откуцавач вести
Name[sr@Latn]=Otkucavač vesti
Name[sv]=Nyhetsövervakare
Name[ta]=செய்திகள் குறிப்பான்
Name[tg]=Ахборот
Name[th]=ตั๋วข่าว
Name[tr]=Haber İzleyici
Name[uk]=Стрічка новин
Name[ven]=Musengulusi wa Mafhungo
Name[vi]=Trình kiểm tra news 
Name[xh]=Umchola-choli weendaba
Name[zh_CN]=新闻点点通
Name[zh_TW]=新聞顯示器
Name[zu]=Umlungiseleli Wezindaba 
Comment=News Ticker Summary Setup
Comment[af]=Nuus tikker opsomming opstelling
Comment[bg]=Настройване обобщението на новините
Comment[ca]=Configuració del resum del teletip de notícies
Comment[cs]=Nastavení souhrnu newstickeru
Comment[da]=Nyhedstelegrafs opsætning af opsummering
Comment[de]=Einstellung der News-übersicht
Comment[el]=Περίληψη ρύθμισης προβολέα ρυθμίσεων
Comment[es]=Configuración del resumen del teletipo de noticias
Comment[et]=Uudistejälgija kokkuvõtte seadistus
Comment[eu]=Berri markatzailearen laburpenaren konfigurazioa
Comment[fa]=برپایی خلاصۀTicker اخبار
Comment[fi]=Uutisnäyttimen yhteenvedon asetukset
Comment[fr]=Configuration du résumé du téléscripteur de nouvelles
Comment[fy]=Oersichtsynstellings nijstikker
Comment[gl]=Configuración do Resumo de Fontes de Novas
Comment[he]=הגדרות תקציר חדשות רצות
Comment[hu]=A hírmegjelenítő áttekintőjének beállításai
Comment[is]=Uppsetning á yfirliti yfir fréttastrimla
Comment[it]=Impostazioni sommario ticker notizie
Comment[ja]=ニュースティッカーの設定
Comment[ka]=სიახლეთა ტიკერის დაიჯესტის კონფიგურაცია
Comment[kk]=Жаңалық таспасының тұжырымынын баптау
Comment[km]=រៀបចំ​សេចក្ដី​សង្ខេប​កម្មវិធី​ទទួល​ព័ត៌មាន
Comment[lt]=News Ticker santraukos nustatymai
Comment[nb]=Oppsett av sammendraget til nyhetstelegrafen
Comment[nds]=Narichten-Översicht instellen
Comment[ne]=न्यूज टिकर सारांश सेटअप
Comment[nl]=Overzichtsinstellingen nieuwsticker
Comment[nn]=Oppsett av nyhendetelegrafsamandrag
Comment[pl]=Ustawienia podsumowania wiadomości
Comment[pt]=Configuração do Sumário do Extractor de Notícias
Comment[pt_BR]=Configuração de Resumo de Notícias
Comment[ru]=Настройка сводки новостей
Comment[sk]=Nastavenie súhrnu správ
Comment[sl]=Nastavitve povzetka novic
Comment[sr]=Подешавање сажетка приказивања вести
Comment[sr@Latn]=Podešavanje sažetka prikazivanja vesti
Comment[sv]=Inställning av nyhetsövervakningsöversikt
Comment[tr]=Haber Yakalayıcı Özet Ayarları
Comment[uk]=Налаштування зведення стрічки новин
Comment[zh_CN]=新闻点点通摘要设置
Comment[zh_TW]=新聞顯示器摘要設定
Keywords=news ticker, configure, settings
Keywords[bg]=новини, източник, настройки, news ticker, configure, settings
Keywords[bs]=news ticker, configure, settings, vijesti, newsticker, podešavanje
Keywords[ca]=teletip, configura, opcions
Keywords[cs]=novinky,nastavení
Keywords[da]=nyhedstelegraf, indstil, opsætning
Keywords[de]=Newsticker,Einrichten,Einstellungen
Keywords[el]=προβολέας ειδήσεων, ρύθμιση, ρυθμίσεις
Keywords[es]=teletipo de noticias, configurar, opciones
Keywords[et]=uudistejälgija, seadistamine, seadistused
Keywords[eu]=berri markatzaileak, konfiguratu, ezarpenak
Keywords[fa]=ticker اخبار، پیکربندی، تنظیمات
Keywords[fi]=uutiset, asetukset, muokkaa
Keywords[fr]=configurer,paramètre,news ticker, téléscripteur
Keywords[fy]=newsticker,instellingen,ynstellings,configuratie,nieuws,nijs
Keywords[gl]=capturador de novas, configurar, opcións
Keywords[he]=news ticker, configure, settings, חדשות, תצורה, הגדרות
Keywords[hu]=hírmegjelenítő,konfigurálás,beállítások
Keywords[is]=fréttastrimill, stillingar, stilla
Keywords[it]=ticker notizie, configura, impostazioni
Keywords[ja]=ニュースティッカー,設定,設定
Keywords[ka]=სიახლეთა ტიკერი, კონფიგურაცია, პარამეტრები
Keywords[km]=កម្មវិធី​ទទួល​ព័ត៌មាន,កំណត់​រចនាសម្ព័ន្ធ,ការ​កំណត់
Keywords[lt]=news ticker, configure, settings, konfigūravimas, nustatymai, naujienų pranešėjas
Keywords[ms]=Pengetik  berita, konfigur, seting
Keywords[nb]=nyhetstelegraf, oppsett, innstillinger
Keywords[nds]=Narichten-Ticker, instellen
Keywords[ne]=न्यूज टिकर, कन्फिगर, सेटिङ
Keywords[nl]=newsticker,instellingen,configuratie,nieuws
Keywords[nn]=nyhendetelegraf,oppsett,innstillingar
Keywords[pl]=news ticker,wiadomości,nagłówki,konfiguracja,ustawienia
Keywords[pt]=notícias, configurar, configuração
Keywords[pt_BR]=mostrador de notícias,configurar, preferências
Keywords[ru]=news ticker, configure, settings, настройка, новости
Keywords[sk]=zdroje správ,nastavenie
Keywords[sl]=prikazovalnik novic, nastavi, nastavitve
Keywords[sr]=news ticker, подеси, поставке
Keywords[sr@Latn]=news ticker, podesi, postavke
Keywords[sv]=nyhetsövervakare, anpassa, inställningar
Keywords[ta]=கேமுகவரிப்புத்தகம்,கட்டமைப்பு,அமைவுகள்
Keywords[tg]=news ticker, configure, settings, танзимот
Keywords[tr]=haber izleyici, yapılandırma, yapılandır
Keywords[uk]=новини, налаштування, параметри
Keywords[zh_CN]=news ticker, configure, settings, 新闻点点通, 配置, 设置
