[Desktop Entry]
Encoding=UTF-8
Icon=knode
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kontactknt
X-KDE-FactoryName=kontactknt
X-KDE-ParentApp=kontact_newstickerplugin
X-KDE-ParentComponents=kontact_newstickerplugin
X-KDE-CfgDlgHierarchy=KontactSummary

Name=News Feeds
Name[x-test]=xxNews Tickerxx
Comment=News Ticker Summary Setup
Comment[x-test]=xxNews Ticker Summary Setupxx
Keywords=news ticker, configure, settings
Keywords[x-test]=xxnews ticker, configure, settingsxx
