[Desktop Entry]
Type=Service
Icon=knewsticker
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo
TryExec=rssservice

X-KDE-Library=kontact_newstickerplugin
X-KDE-KontactPluginVersion=7
X-KDE-KontactPluginHasSummary=true
X-KDE-KontactPluginHasPart=false

X-KDE-PluginInfo-Name=kontact_newstickerplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact NewsTicker Plugin
Comment[af]=Kontact nuus tikker inprop module
Comment[bg]=Приставка за новини
Comment[ca]=Connector del teletip de noticies per al Kontact
Comment[cs]=Modul NewsTicker pro aplikaci Kontact
Comment[da]=Kontact plugin for nyhedstelegraf
Comment[de]=Newsticker-Modul für Kontact
Comment[el]=Πρόσθετο προβολέα ειδήσεων του Kontact
Comment[es]=Complemento de teletipo de noticias para Kontact
Comment[et]=Kontacti uudistejälgija plugin
Comment[eu]=Kontact-en NewsTicker plugin-a
Comment[fa]=وصلۀ Kontact NewsTicker
Comment[fi]=Kontactin uutisnäytin
Comment[fr]=Module NewsTicker pour Kontact
Comment[fy]=Kontact NewsTicker-plugin
Comment[ga]=Breiseán NewsTicker le haghaidh Kontact
Comment[gl]=Engadido do NewsTicker para o Kontact
Comment[he]=תוסף חדשות רצות עבור Kontact
Comment[hu]=Kontact KNewsTicker-bővítőmodul
Comment[is]=Kontact fréttastrimils-íforrit
Comment[it]=Estensione per Kontact delle notizie a scorrimento
Comment[ja]=Kontact ニュースティッカー プラグイン
Comment[ka]=Kontact სიახლეთა ტიკერის მოდული
Comment[kk]=NewsTicker модулі
Comment[km]=កម្មវិធី​ជំនួយ​កម្មវិធី​ទទួល​ព័ត៌មាន​ក្នុង Kontact
Comment[ko]=Kontact 뉴스 티커 플러그인
Comment[lt]=Kontact Naujienų pranešėjo įskiepis
Comment[lv]=Kontact ziņu rādītāja spraudnis
Comment[ms]=Plugin Pengetik Berita Kontact 
Comment[nb]=Kontact programtillegg for nyhetstelegrafen
Comment[nds]=Narichtentelegraaf-Moduul för Kontact
Comment[ne]=समाचार टिकर प्लगइनमा सम्पर्क गर्नुहोस्
Comment[nl]=Kontact NewsTicker-plugin
Comment[nn]=Kontakt-programtillegg for nyheitstelegraf
Comment[pl]=Wtyczka wiadomości do Kontact
Comment[pt]='Plugin' de Notícias para o Kontact
Comment[pt_BR]=Plug-in de Mostrador de notícias para o Kontact
Comment[ru]=Ленты новостей
Comment[sk]=Modul správ pre Kontact
Comment[sl]=Vstavek za prikazovanje novic v Kontactu
Comment[sv]=Kontact insticksprogram för Nyhetsövervakaren
Comment[ta]= செய்திகள் டிக்கர் சொருகுப்பொருளை தொடர்புகொள்
Comment[tg]=Тамос гирифтан бо NewsTicker Plugin
Comment[tr]=Kontact Haber İzleyici Eklentisi
Comment[uk]=Втулок стрічки новин Kontact
Comment[x-test]=xxKontact NewsTicker Pluginxx
Comment[zh_CN]=Kontact 新闻点点通插件
Comment[zh_TW]=Kontact NewsTicker 外掛程式
Name=NewsTicker
Name[af]=Nuus tikker
Name[ca]=Teletip de notícies
Name[da]=Nyhedstelegraf
Name[de]=Newsticker
Name[el]=Προβολέας ειδήσεων
Name[eo]=Novaĵprezentilo
Name[es]=Teletipo de noticias
Name[et]=Uudistejälgija
Name[fa]=Ticker اخبار
Name[fi]=Uutisnäytin
Name[fr]=Téléscripteur de nouvelles
Name[fy]=Nijstikker
Name[he]=חדשות רצות
Name[hu]=RSS hírmegjelenítő
Name[is]=Fréttastrimill
Name[it]=Notizie a scorrimento
Name[ja]=ニュースティッカー
Name[ka]=სიახლეთა ტიკერი
Name[km]=កម្មវិធី​ទទួល​ព័ត៌មាន
Name[ko]=뉴스 티커
Name[lt]=Naujienų pranešiklis
Name[lv]=Ziņu rādītājs
Name[ms]=Pengetik Berita
Name[nb]=Nyhetstelegraf
Name[nds]=Narichtentelegraaf
Name[ne]=समाचार टिकर
Name[nn]=Nyheitstelegraf
Name[pa]=ਨਿਊਜ਼ ਟਿੱਕਰ
Name[pl]=Wiadomości
Name[ru]=Ленты новостей
Name[sk]=Správy
Name[sl]=Prikazovalnik novic
Name[sv]=Nyhetsövervakare
Name[ta]=செய்திகள் குறிப்பான்
Name[th]=ตั๋วข่าว
Name[tr]=Haber İzleyici
Name[x-test]=xxNewsTickerxx
Name[zh_CN]=新闻点点通
