[Desktop Entry]
Type=Service
Icon=knewsticker
ServiceTypes=Kontact/Plugin,KPluginInfo
TryExec=rssservice

X-KDE-Library=libkontact_newstickerplugin
X-KDE-KontactPluginVersion=6
X-KDE-KontactPluginHasSummary=true
X-KDE-KontactPluginHasPart=false

X-KDE-PluginInfo-Name=kontact_newstickerplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Newsticker Component
Comment[bg]=Компонент за новини
Comment[ca]=Component de teletip de notícies
Comment[da]=Nyhedstelegraf-komponent
Comment[de]=Newsticker-Komponente
Comment[el]=Συστατικό προβολέα ειδήσεων
Comment[es]=Componente de teletipo de noticias
Comment[et]=Uudistejälgija plugin
Comment[fr]=Composant Newsticker
Comment[is]=Fréttastrimilseining
Comment[it]=Componente ticker notizie
Comment[ja]=ニュースティッカーコンポーネント
Comment[km]=សមាសភាគ Newsticker
Comment[nds]=Narichtentelegraaf-Komponent
Comment[nl]=Nieuwstickercomponent
Comment[pl]=Składnik paska wiadomości
Comment[ru]=Компонент новостей
Comment[sr]=Компонента откуцавача вести
Comment[sr@Latn]=Komponenta otkucavača vesti
Comment[sv]=Nyhetsövervakningskomponent
Comment[tr]=Haber İzleyici Bileşeni
Comment[zh_CN]=新闻点点通组件
Comment[zh_TW]=新聞顯示組件
Name=News
Name[af]=Nuus
Name[ar]=الأخبار
Name[be]=Навіны
Name[bg]=Новини
Name[br]=Keleier
Name[bs]=Usenet
Name[ca]=Notícies
Name[cs]=Novinky
Name[cy]=Newyddion
Name[da]=Nyheder
Name[de]=Usenet
Name[el]=Νέα
Name[eo]=Novaĵoj
Name[es]=Noticias
Name[et]=Uudisegrupid
Name[eu]=Berriak
Name[fa]=اخبار
Name[fi]=Uutiset
Name[fr]=Nouvelles
Name[fy]=Nijs
Name[ga]=Nuacht
Name[gl]=Novas
Name[he]=חדשות
Name[hi]=समाचार
Name[hu]=Hírek
Name[is]=Fréttir
Name[ja]=ニュース
Name[ka]=სიახლეები
Name[kk]=Жаңалықтар
Name[km]=ព័ត៌មាន
Name[lt]=Naujienos
Name[mk]=Вести
Name[ms]=Berita
Name[nb]=Njus
Name[nds]=Narichten
Name[ne]=समाचार
Name[nl]=Nieuws
Name[nn]=Nyheiter
Name[pa]=ਖ਼ਬਰਾਂ
Name[pl]=Listy dyskusyjne
Name[pt]=Notícias
Name[pt_BR]=Notícias
Name[ro]=Ştiri
Name[ru]=Новости
Name[se]=Ođđasat
Name[sk]=Diskusné skupiny
Name[sl]=Novice
Name[sr]=Вести
Name[sr@Latn]=Vesti
Name[sv]=Nyheter
Name[ta]=செய்திகள்
Name[tg]=Ахборот
Name[th]=ข่าว
Name[tr]=Haberler
Name[uk]=Новини
Name[uz]=Yangiliklar
Name[uz@cyrillic]=Янгиликлар
Name[zh_CN]=新闻
Name[zh_TW]=新聞
