[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=knewsticker
ServiceTypes=Kontact/Plugin,KPluginInfo
TryExec=rssservice

X-KDE-Library=libkontact_newstickerplugin
X-KDE-KontactPluginVersion=4
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Name=kontact_newstickerplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact NewsTicker Plugin
Comment[bs]=Kontact NewsTicker dodatak
Comment[ca]=Endollable del teletip de noticies per a Kontact
Comment[cs]=Modul NewsTicker pro aplikaci Kontact
Comment[da]=Kontact plugin for nyhedstelegraf
Comment[de]=Newsticker-Plugin für Kontact
Comment[es]=Extensión de teletipo de noticias para Kontact
Comment[et]=Kontacti uudistejälgija plugin
Comment[fi]=Kontactin uutisnäyttäjä
Comment[fr]=Module NewsTicker pour Kontact
Comment[gl]=Extensión de NewsTicker para Kontact
Comment[he]=תוסף צג חדשות עבור Kontact
Comment[hu]=Kontact KNewsTicker-bővítőmodul
Comment[is]=Kontact Fréttastrimilsíforrit
Comment[it]=Plugin Kontact Ticker Notizie
Comment[ja]=Kontact ニュース ティッカー プラグイン
Comment[nb]=Kontact nyhetstelegraf programtillegg
Comment[nl]=Kontact NewsTicker-plugin
Comment[nn]=Programtillegg for nyhendetelegraf i Kontact
Comment[pl]=Wtyczka NewsTicker do Kontact
Comment[pt]='Plugin' do Notícias para o Kontact
Comment[pt_BR]=Plug-in para Kontact do Mostrador de Notícias
Comment[ru]=Модуль ленты новостей Kontact
Comment[sk]=Modul správ pre Kontact
Comment[sr]=Прикључак News Ticker-а за Kontact
Comment[sr@Latn]=Priključak News Ticker-a za Kontact
Comment[sv]=Kontact insticksprogram för Nyhetsövervakaren
Comment[ta]= செய்திகள் டிக்கர் சொருகுப்பொருளை தொடர்புகொள்
Comment[tg]=Тамос гирифтан бо NewsTicker Plugin
Comment[uk]=Втулок стрічки новин Kontact
Comment[zh_CN]=Kontact 新闻点点通插件
Name=NewsTicker
Name[ca]=Teletip de notícies
Name[da]=Nyhedstelegraf
Name[de]=News-Ticker
Name[es]=Teletipo de noticias
Name[et]=Uudistejälgija
Name[fi]=Uutisnäyttäjä
Name[fr]=Téléscripteur de nouvelles
Name[he]=צג חדשות
Name[hu]=Hírmegjelenítő - RSS
Name[is]=Fréttastrimill
Name[it]=Ticker notizie
Name[ja]=ニュース ティッカー
Name[nb]=Nyhetstelegraf
Name[nn]=Nyhendetelegraf
Name[pt]=Notícias
Name[ru]=Лента новостей
Name[sk]=Správy
Name[sv]=Nyhetsövervakare
Name[ta]=செய்திகள் குறிப்பான்
Name[zh_CN]=新闻点点通
