[Desktop Entry]
Type=Service
Icon=konsole
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkptestplugin
X-KDE-KontactPluginVersion=6

X-KDE-PluginInfo-Name=kptestplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-EnabledByDefault=false

Comment=Kontact Test Plugin
Comment[af]=Kontact toets inprop module
Comment[be]=Тэставае дапаўненне Кантакту
Comment[bg]=Приставка за проба
Comment[bs]=Kontact testni dodatak
Comment[ca]=Endollable de prova per a Kontact
Comment[cy]=Ategyn Prawf Kontact
Comment[da]=Kontact Test-plugin
Comment[de]=Test-Modul für Kontact
Comment[el]=Δοκιμαστικό πρόσθετο του Kontact
Comment[eo]=Kontact-Testkromaĵo
Comment[es]=Plugin de prueba para Kontact
Comment[et]=Kontacti testplugin
Comment[eu]=Kontact-en proba plugin-a
Comment[fa]=وصلۀ آزمون Kontact
Comment[fi]=Kontactin testiliitännäinen
Comment[fr]=Module de test pour Kontact
Comment[fy]=Kontact Test-plugin
Comment[gl]=Extensión de Proba para Kontact
Comment[he]=תוסף ניסיון עבור Kontact
Comment[hi]=कॉन्टेक्ट जांच प्लगइन
Comment[hu]=Kontact tesztmodul
Comment[is]=Kontact prufu íforrit
Comment[it]=Plugin test Kontact
Comment[ja]=Kontact テストプラグイン
Comment[ka]=Kontact სატესტო მოდული
Comment[kk]=Сынақ модулі
Comment[km]=កម្មវិធី​ជំនួយ​ការ​សាកល្បង​ក្នុង Kontact
Comment[lt]=Kontact bandymo priedas
Comment[mk]=Приклучок за тест на Контакт
Comment[ms]=Plugin Ujian Kontact 
Comment[nb]=Kontact test-programtillegg
Comment[nds]=Test-Moduul för Kontact
Comment[ne]=परीक्षण प्लगइनमा सम्पर्क गर्नुहोस्
Comment[nl]=Kontact Test-plugin
Comment[nn]=Kontact, test-programtillegg
Comment[pl]=Wtyczka Kontact do testowania
Comment[pt]='Plugin' de Teste do Kontact
Comment[pt_BR]=Plug-in para Teste do Kontact
Comment[ro]=Modul de test Kontact
Comment[ru]=Проверочный модуль Kontact
Comment[se]=Kontact, geahččalanlassemoduvla
Comment[sl]=Preizkusni vstavek za Kontact
Comment[sr]=Пробни прикључак Kontact-а
Comment[sr@Latn]=Probni priključak Kontact-a
Comment[sv]=Kontact-testinsticksprogram
Comment[ta]=பரிசோதனை சொருகுப்பொருளை தொடர்பு கொள்
Comment[tg]=Модули матнии Kontact
Comment[tr]=Kontact Test Eklentisi
Comment[uk]=Тестовий втулок Kontact
Comment[uz]=Kontact uchun sinash plagini
Comment[uz@cyrillic]=Kontact учун синаш плагини
Comment[zh_CN]=Kontact Test 插件
Comment[zh_TW]=Kontact 測試外掛程式
Name=TestPlugin
Name[af]=Toets inprop module
Name[be]=Тэставае дапаўненне
Name[bg]=Приставка за тестване
Name[ca]=Endollable de prova
Name[cy]=AtegynPrawf
Name[de]=TestModul
Name[el]=Πρόσθετο ελέγχου
Name[eo]=Testo-kromaĵo
Name[fa]=وصلۀ آزمون
Name[fr]=Module de test
Name[fy]=Test-plugin
Name[he]=תוסף ניסיון
Name[hi]=टेस्ट-प्लगइन
Name[hr]=Probni dodatak
Name[hu]=Tesztmodul
Name[is]=Prufu íforrit
Name[it]=Plugin Test
Name[ja]=テストプラグイン
Name[ka]=სატესტო მოდული
Name[kk]=Сынақ модулі
Name[km]=កម្មវិធី​ជំនួយ​ការ​សាកល្បង
Name[mk]=Приклучок за тест
Name[ms]=Plugin Ujian
Name[nb]=Test-programtillegg
Name[nds]=Testmoduul
Name[ne]=परीक्षण प्लगइन
Name[nl]=Test-plugin
Name[nn]=Test-programtillegg
Name[nso]=Plugin ya Teko
Name[pl]=Wtyczka testowa
Name[pt_BR]=Plugin de Teste
Name[ro]=Modul de  test
Name[ru]=Проверочный модуль
Name[se]=Geahččalan-lassemoduvla
Name[sk]=TestModul
Name[sl]=Preizkusni vstavek
Name[sr]=Пробни прикључак
Name[sr@Latn]=Probni priključak
Name[sv]=Testinsticksprogram
Name[ta]=சோதனை சொருகுப்பொருள்
Name[tg]=Модули матнӣ
Name[tr]=Test Eklentisi
Name[uk]=Тестовий втулок
Name[ven]=Lingani Plugin
Name[zh_CN]=Test 插件
Name[zh_TW]=測試外掛程式
