[Desktop Entry]
Type=Service
Exec=blubb
Comment=Kontact Test Plugin
Comment[be]=Тэставае дапаўненьне Кантакту
Comment[ca]=Connector de proves per a Kontact
Comment[da]=Kontact Test-plugin
Comment[el]=Δοκιμαστικό πρόσθετο του Kontact
Comment[es]=Plugin de prueba para Kontact
Comment[hu]=Kontact tesztmodul
Comment[pt_BR]=Plug-in para Teste do Kontact
Comment[ru]=Тестовый модуль Kontact
Comment[sv]=Kontact-testinsticksprogram
Comment[tr]=Kontact Test Eklentisi
Comment[xx]=xxKontact Test Pluginxx
Comment[zh_CN]=Kontact Test 插件
Name=TestPlugin
Name[be]=Тэставае дапаўненьне
Name[bg]=ТестPlugin
Name[ca]=ConnectorProves
Name[eo]=Testo-kromaĵo
Name[fr]=Module de test
Name[he]=תוסף ניסיון
Name[hr]=Probni dodatak
Name[hu]=Tesztmodul
Name[it]=Plugin Test
Name[ja]=テストプラグイン
Name[nb]=Test-programtillegg
Name[nl]=Test-plugin
Name[nn]=Test-programtillegg
Name[nso]=Plugin ya Teko
Name[pl]=Wtyczka testowa
Name[pt_BR]=Plugin de Teste
Name[ro]=Modul de  test
Name[ru]=Тестовый модуль
Name[sk]=TestModul
Name[sv]=Testinsticksprogram
Name[tr]=Test Eklentisi
Name[ven]=Lingani Plugin
Name[xx]=xxTestPluginxx
Name[zh_CN]=Test 插件
Icon=konsole
ServiceTypes=Kontact/Plugin
X-KDE-Library=libkptestplugin
X-KDE-KontactPluginVersion=1