[Desktop Entry]
Type=Service
Exec=blubb
Comment=Kaplan Test Plugin
Comment[da]=Kaplan Test-indstik
Comment[el]=Δοκιμαστικό πρόσθετο του Kaplan
Comment[es]=Plugin de prueba Kaplan
Comment[fi]=Kaplan testisovelma
Comment[fr]=Module de test pour Kaplan
Comment[he]=תוסף ניסיון ל-Kaplan
Comment[hr]=Kaplan probni dodatak
Comment[hu]=Kaplan tesztmodul
Comment[ja]=Kaplan テストプラグイン
Comment[pt_BR]=Plugin de Teste do Kaplan
Comment[ro]=Modul de test pentru Kaplan
Comment[sv]=Kaplan test-insticksdelprogram
Comment[tr]=Kaplan Test Eklentisi
Name=TestPlugin
Name[da]=TestIndstik
Name[fr]=Module de test
Name[he]=תוסף ניסיון
Name[hr]=Probni dodatak
Name[hu]=Tesztmodul
Name[ja]=テストプラグイン
Name[pt_BR]=Plugin de Teste
Name[ro]=Modul de  test
Name[sv]=Testinsticksprogram
Name[tr]=Test Eklentisi
Icon=konsole
ServiceTypes=Kaplan/Plugin
X-KDE-Library=libkptestplugin
