[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kitchensync
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_kitchensync
X-KDE-KontactPluginVersion=2
X-KDE-KontactPartLibraryName=libkitchensyncpart

X-KDE-PluginInfo-Name=kontact_kitchensync
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false

Comment=KitchenSync Plugin
Comment[ca]=Connector KitchenSync
Comment[cs]=Modul KitchenSync
Comment[da]=Køkkenvask-plugin
Comment[de]=KitchenSync-Plugin
Comment[es]=Accesorio de KitchenSync
Comment[et]=KitchenSynci plugin
Comment[fi]=KitchenSync-liitännäinen
Comment[fr]=Module KitchenSync
Comment[hu]=KitchenSync bővítőmodul
Comment[it]=Plugin KitchenSync
Comment[nl]=KitchenSync-plugin
Comment[nn]=KitchenSync-programtillegg
Comment[pt]='Plugin' do KitchenSync
Comment[pt_BR]=Plug-in para KitchenSync
Comment[ru]=Модуль KitchenSync
Comment[sr]=Додатак KitchenSync-а
Comment[sv]=Kitchensync-insticksprogram
Comment[uk]=Втулок KitchenSync
Comment[xx]=xxKitchenSync Pluginxx
Name=Synchronization
Name[be]=Сынхранізацыя
Name[ca]=Sincronització
Name[cs]=Synchronizace
Name[da]=Synkronisering
Name[de]=Abgleich
Name[en_GB]=Synchronisation
Name[es]=Sincronización
Name[et]=Sünkroniseerimine
Name[fi]=Synkronointi
Name[fr]=Synchronisation
Name[hu]=Szinkronizáció
Name[it]=Sincronizzazione
Name[nl]=Synchronizatie
Name[nn]=Synkronisering
Name[pt]=Sincronização
Name[pt_BR]=Sincronização
Name[ru]=Синхронизация
Name[sr]=Синхронизација
Name[sv]=Synkronisering
Name[uk]=Синхронізація
Name[xx]=xxSynchronizationxx
