[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kitchensync
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_kitchensync
X-KDE-KontactPluginVersion=1
X-KDE-KontactPartLibraryName=libkitchensyncpart

X-KDE-PluginInfo-Name=kontact_kitchensync
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false

Comment=KitchenSync Plugin
Comment[ca]=Connector KitchenSync
Comment[da]=Køkkenvask-plugin
Comment[es]=Accesorio de KitchenSync
Comment[pt_BR]=Plug-in para KitchenSync
Comment[ru]=Модуль KitchenSync
Comment[sr]=KitchenSync додатак
Comment[sv]=Kitchensync-insticksprogram
Name=Synchronization
