[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kitchensync
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_kitchensync
X-KDE-KontactPluginVersion=4
X-KDE-KontactPartLibraryName=libkitchensyncpart

X-KDE-PluginInfo-Name=kontact_kitchensync
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false

Comment=KitchenSync Plugin
Comment[bg]=Приставка за синхронизация
Comment[br]=Lugent KitchenSync
Comment[bs]=KitchenSync dodatak
Comment[ca]=Endollable KitchenSync
Comment[cs]=Modul KitchenSync
Comment[cy]=Ategyn KitchenSync
Comment[da]=Køkkenvask-plugin
Comment[de]=KitchenSync-Plugin
Comment[el]=Πρόσθετο KitchenSync
Comment[es]=Accesorio de KitchenSync
Comment[et]=KitchenSynci plugin
Comment[fi]=KitchenSync-liitännäinen
Comment[fr]=Module KitchenSync
Comment[gl]=Extensión KitchenSync
Comment[hi]=किचन-सिंक प्लगइन
Comment[hu]=KitchenSync bővítőmodul
Comment[is]=KitchenSync íforrit
Comment[it]=Plugin KitchenSync
Comment[ja]=KitchenSync プラグイン
Comment[nb]=Programtillegg for KitchenSync
Comment[nl]=KitchenSync-plugin
Comment[nn]=KitchenSync-programtillegg
Comment[pl]=Wtyczka KitchenSync
Comment[pt]='Plugin' do KitchenSync
Comment[pt_BR]=Plug-in para KitchenSync
Comment[ru]=Модуль KitchenSync
Comment[sk]=Modul pre KitchenSync
Comment[sl]=Vstavek KitchenSync
Comment[sr]=Прикључак KitchenSync-а
Comment[sr@Latn]=Dodatak KitchenSync-a
Comment[sv]=Kitchensync-insticksprogram
Comment[ta]=கிச்சன் ஒன்றிணை சொருகுப்பொருள்
Comment[tg]=Модули KitchenSync
Comment[tr]=KitchenSync Eklentisi
Comment[uk]=Втулок KitchenSync
Comment[xx]=xxKitchenSync Pluginxx
Comment[zh_CN]=KitchenSync 插件
Name=Synchronization
Name[ar]=تزامن
Name[be]=Сынхранізацыя
Name[bs]=Sinhronizacija
Name[ca]=Sincronització
Name[cs]=Synchronizace
Name[cy]=Cydamseriad
Name[da]=Synkronisering
Name[de]=Abgleich
Name[el]=Συγχρονισμός
Name[en_GB]=Synchronisation
Name[es]=Sincronización
Name[et]=Sünkroniseerimine
Name[fi]=Synkronointi
Name[fr]=Synchronisation
Name[gl]=Sincronización
Name[hi]=सिंक्रोनाइजेशन
Name[hu]=Szinkronizáció
Name[is]=Samstilling
Name[it]=Sincronizzazione
Name[ja]=同期
Name[nb]=Synkronisering
Name[nl]=Sync
Name[nn]=Synkronisering
Name[pl]=Synchronizacja
Name[pt]=Sincronização
Name[pt_BR]=Sincronização
Name[ro]=Sincronizare
Name[ru]=Синхронизация
Name[sk]=Synchronizácia
Name[sl]=Usklajevanje
Name[sr]=Синхронизација
Name[sr@Latn]=Sinhronizacija
Name[sv]=Synkronisering
Name[ta]=ஒன்றிணைப்பு
Name[tg]=Синхронизатсия
Name[tr]=Senkronizyasyon
Name[uk]=Синхронізація
Name[uz]=Тенглаштириш
Name[xx]=xxSynchronizationxx
Name[zh_CN]=同步
