[Desktop Entry]
Icon=knotes
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knotessummary
X-KDE-FactoryName=knotessummary
X-KDE-ParentApp=kontact_summaryplugin
X-KDE-ParentComponents=kontact_summaryplugin
X-KDE-CfgDlgHierarchy=KontactSummary
X-KDE-Weight=200

Name=New Notes
Name[cs]=Nové poznámky
Name[de]=Neue Notizen
Name[nl]=Nieuwe notities
Name[pt]=Novas Notas
Name[pt_BR]=Novas notas
Name[sk]=Nové poznámky
Name[sv]=Nya anteckningar
Name[uk]=Нові нотатки
Name[x-test]=xxNew Notesxx
Comment=Notes Summary Setup
Comment[cs]=Nastavení souhrnu poznámek
Comment[de]=Einstellung der Notizen-Übersicht
Comment[nl]=Instellingen voor overzicht van notities
Comment[pt]=Configuração do Resumo das Notas
Comment[pt_BR]=Configuração do resumo de notas
Comment[sk]=Nastavenie súhrnu poznámok
Comment[sv]=Inställning av anteckningsöversikt
Comment[uk]=Налаштування резюме щодо нотаток
Comment[x-test]=xxNotes Summary Setupxx
X-KDE-Keywords=notes, summary, configure, settings
X-KDE-Keywords[de]=Notizen,Übersicht,einstellen,konfigurieren,Konfiguration,Einrichtung,Einstellungen
X-KDE-Keywords[nl]=notities, samenvatting, instellen, instellingen
X-KDE-Keywords[pt]=notas, resumo, configurar, configuração
X-KDE-Keywords[pt_BR]=notas, resumo, configurar, configurações
X-KDE-Keywords[sk]=email, súhrn, nastaviť, nastavenia
X-KDE-Keywords[sv]=anteckningar, sammanfattning, anpassa, inställningar
X-KDE-Keywords[uk]=notes, summary, configure, settings, нотатки, резюме, налаштувати, параметри
X-KDE-Keywords[x-test]=xxnotes, summary, configure, settingsxx
