[Desktop Entry]
Type=Service
Icon=knotes
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_knotes2plugin
X-KDE-KontactPluginVersion=9
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Website=http://pim.kde.org/components/knotes.php
X-KDE-PluginInfo-Name=kontact_knotesplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-AllowEmptySettings=true

Comment=Kontact KNotes Plugin
Comment[af]=Kontact KNotes inprop module
Comment[ar]=ملحق Kontact KNotes
Comment[be]=Утулка Kontact KNotes
Comment[bg]=Приставка за бележки
Comment[br]=Lugent Kontact KNotes
Comment[bs]=Kontakt KNotes dodatak
Comment[ca]=Connector del KNotes pel Kontact
Comment[ca@valencia]=Connector del KNotes pel Kontact
Comment[cs]=Modul KNotes pro aplikaci Kontact
Comment[cy]=Ategyn KNotes Kontact 
Comment[da]=Kontact KNotes-plugin
Comment[de]=KNotes-Modul für Kontact
Comment[el]=Πρόσθετο KNotes του Kontact
Comment[en_GB]=Kontact KNotes Plugin
Comment[eo]=Kontact-KNotes-kromaĵo
Comment[es]=Complemento de KNotes para Kontact
Comment[et]=Kontacti KNotesi plugin
Comment[eu]=Kontact-en KNotes plugin-a
Comment[fa]=وصله Kontact KNotes
Comment[fi]=Kontactin KNotes-liitännäinen
Comment[fr]=Module KNotes pour Kontact
Comment[fy]=Kontact KNotes-plugin
Comment[ga]=Breiseán KNotes le haghaidh Kontact
Comment[gl]=Engadido do KNotes para o Kontact
Comment[hu]=Kontact KNotes-bővítőmodul
Comment[ia]=Plug-in de Kontact KNotes
Comment[is]=Kontact KNotes íforrit
Comment[it]=Estensione per Kontact di KNotes
Comment[ja]=Kontact KNotes プラグイン
Comment[ka]=Kontact KNotes  მოდული
Comment[kk]=Kontact-тың KNotes плагині
Comment[km]=កម្មវិធី​ជំនួយ KNotes ក្នុង Kontact
Comment[ko]=Kontact KNotes 플러그인
Comment[lt]=Kontact KNotes įskiepis
Comment[lv]=Kontact KNotes spraudnis
Comment[mk]=Приклучок за КБелешки во Контакт
Comment[mr]=कॉन्टेक्ट के-नोट्स प्लगइन
Comment[ms]=Plugin KNotes Kontact KNotes 
Comment[nb]=Kontact programtillegg for KNotes
Comment[nds]=KNotes-Moduul för Kontact
Comment[ne]=केडीई टिपोट प्लगइन सम्पर्क गर्नुहोस्
Comment[nl]=Kontact KNotes-plug-in
Comment[nn]=Kontakt-programtillegg for KNotes
Comment[pl]=Wtyczka Kontact do współpracy z KNotes
Comment[pt]='Plugin' do KNotes para o Kontact
Comment[pt_BR]=Plugin do KNotes para o Kontact
Comment[ro]=Modul KNotes pentru Kontact
Comment[ru]=Заметки
Comment[se]=Kontact, KNotes-lassemoduvla
Comment[sk]=Kontact KNotes Plugin
Comment[sl]=Vstavek KNotes za Kontact
Comment[sr]=Прикључак Контакта за К‑белешке
Comment[sr@ijekavian]=Прикључак Контакта за К‑биљешке
Comment[sr@ijekavianlatin]=Priključak Kontacta za K‑bilješke
Comment[sr@latin]=Priključak Kontacta za K‑beleške
Comment[sv]=Kontacts insticksprogram för Knotes
Comment[ta]= கேகுறிப்புகளை சொருகுப்பொருளை தொடர்புகொள்
Comment[tg]=Модули Kontact барои дастрасӣ ба ахборот
Comment[tr]=Kontact KNotes Eklentisi
Comment[uk]=Додаток приміток (KNotes) Kontact
Comment[uz]=Kontact uchun KNotes plagini
Comment[uz@cyrillic]=Kontact учун KNotes плагини
Comment[wa]=Module KNotes di Kontact
Comment[x-test]=xxKontact KNotes Pluginxx
Comment[zh_CN]=Kontact KNotes 插件
Comment[zh_TW]=Kontact KNotes 外掛程式
Name=Popup Notes
Name[ar]=الملاحظات المنبثقة
Name[bs]=Iskočne napomene
Name[ca]=Notes emergents
Name[ca@valencia]=Notes emergents
Name[cs]=Vyskakovací poznámky
Name[da]=Pop-op-noter
Name[de]=Haftnotizen
Name[el]=Αναδυόμενες σημειώσεις
Name[en_GB]=Popup Notes
Name[es]=Notas emergentes
Name[et]=Sedelid
Name[fi]=Ponnahdusviestit
Name[fr]=Notes
Name[ga]=Preabnótaí
Name[gl]=Notas emerxentes
Name[hu]=Jegyzetlapok
Name[ia]=Notas de popup
Name[it]=Note a comparsa
Name[ja]=ポップアップメモ
Name[kk]=Қалқымалы жазбалар
Name[km]=ចំណាំ​លេច​ឡើង
Name[ko]=팝업 노트
Name[lt]=Lipnūs lapeliai
Name[lv]=Piezīmju lapiņas
Name[mr]=पॉपअप नोंदी
Name[nb]=Sprettopp-notater
Name[nds]=Opduk-Notizen
Name[nl]=Popup notities
Name[nn]=Sprettoppnotat
Name[pa]=ਪੋਪਅੱਪ ਨੋਟਿਸ
Name[pl]=Żółte karteczki
Name[pt]=Notas
Name[pt_BR]=Notas instantâneas
Name[ro]=Notițe
Name[ru]=Заметки
Name[sk]=Vyskakujúce poznámky
Name[sl]=Notice
Name[sr]=Искачуће белешке
Name[sr@ijekavian]=Искачуће биљешке
Name[sr@ijekavianlatin]=Iskačuće bilješke
Name[sr@latin]=Iskačuće beleške
Name[sv]=Anteckningslappar
Name[th]=บันทึกย่อแบบป๊อปอับ
Name[tr]=Seyyar Notlar
Name[ug]=سەكرىمە ئىزاھلار
Name[uk]=Записник
Name[wa]=Aspitantès notes
Name[x-test]=xxPopup Notesxx
Name[zh_CN]=弹出式记事本
Name[zh_TW]=彈出式便條
