[Desktop Entry]
Type=Service
Icon=kpilot
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_kpilotplugin
X-KDE-KontactIdentifier=kpilot
X-KDE-KontactPluginVersion=6
X-KDE-KontactPluginHasSummary=true
X-KDE-KontactPluginHasPart=false

X-KDE-PluginInfo-Website=http://www.slac.com/~pilone/kpilot_home/
X-KDE-PluginInfo-Name=kontact_kpilotplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Palm Tools Component (KPilot Plugin)
Comment[bg]=Приставка за KPilot
Comment[ca]=Component d'eines de la Palm (endollable del KPilot)
Comment[da]=Komponent til palm-værktøjer (KPilot-plugin)
Comment[de]=Palm-Komponente (KPilot-Modul)
Comment[el]=Συστατικό εργαλείων Palm (Πρόσθετο του KPilot)
Comment[et]=Palmi tööriistade plugin (KPilot)
Comment[fr]=Composant d'outils pour Palms (Module KPilot)
Comment[is]=Palm verkfæraeining (KPilot íforrit)
Comment[it]=Componente strumenti Palm (plugin KPilot)
Comment[ja]=Palm ツールコンポーネント (KPilot プラグイン)
Comment[km]=សមាសភាគ​ឧបករណ៍ Palm (កម្មវិធី​ជំនួយ KPilot​)
Comment[nds]=Palmreekner-Warktüüchkomponent (KPilot-Moduul)
Comment[nl]=Component met hulpmiddelen voor PalmOS(tm)-apparaten (KPilot-plugin)
Comment[pl]=Składnik narzędzi Palma (wtyczka KPilot)
Comment[ru]=Синхронизация с Palm (модуль KPilot)
Comment[sr]=Компонента алата за Palm (прикључак KPilot-а)
Comment[sr@Latn]=Komponenta alata za Palm (priključak KPilot-a)
Comment[sv]=Palm Pilot-verktygskomponent (Kpilot-insticksprogram)
Comment[tr]=Palm Araçları Bileşeni (KPilot Eklentisi)
Comment[zh_CN]=Palm 工具组件(KPilot 插件)
Comment[zh_TW]=Palm 工具組件（KPilot 外掛程式）
Name=Palm
Name[nds]=Palmreekner
Name[nl]=PalmOS(tm)-apparaat
Name[sv]=Palm Pilot
