[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kpilot
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_kpilotplugin
X-KDE-KontactIdentifier=kpilot
X-KDE-KontactPluginVersion=4
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Website=http://www.slac.com/~pilone/kpilot_home/
X-KDE-PluginInfo-Name=kontact_kpilotplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact KPilot Plugin
Comment[be]=Дапаўненьне Кантакту "KPilot"
Comment[bg]=Приставка за връзка на адресника с мобилни устройства
Comment[bs]=Kontact KPilot dodatak
Comment[ca]=Connector de KPilot per Kontact
Comment[cs]=Modul KPilotu pro aplikaci Kontact
Comment[da]=Kontact KPilot-plugin
Comment[el]=Πρόσθετο KPilot του Kontact
Comment[es]=Accesorio KPilot para Kontact
Comment[et]=Kontacti KPiloti plugin
Comment[fr]=Module KPilot pour Kontact
Comment[gl]=Extensión de KPilot para Kontact
Comment[hu]=Kontact KPilot-bővítőmodul
Comment[is]=Kontact KPilot íforrit
Comment[it]=Plugin KPilot Kontact
Comment[ja]=Kontact ＫPilot プラグイン
Comment[nb]=Kontact programtillegg for KPilot
Comment[nl]=Kontact KPilot-plugin
Comment[nn]=Kontact-programtillegg for KPilot
Comment[pl]=Wtyczka KPilota do Kontact
Comment[pt]='Plugin' do KPilot para o Kontact
Comment[pt_BR]=Plug-in do KPilot para o Kontact
Comment[ru]=Модуль Kontact для доступа к КПК через KPilot
Comment[sk]=Modul KPilot pre Kontact
Comment[sl]=Vstavek KPilota za Kontact
Comment[sr]=Прикључак Kontact-а за KPilot-а
Comment[sr@Latn]=Priključak Kontact-a za KPilot-a
Comment[sv]=Kontact-insticksprogram för Kpilot
Comment[ta]=கேபைலட் சொருகுப்பொருளை தொடர்பு கொள்
Comment[tg]=Модули Kontact барои дастрасӣ ба KPilot
Comment[zh_CN]=Kontact KPilot 插件
Name=KPilot Configuration
Name[be]=Канфігурацыя KPilot
Name[bs]=KPilot podešavanje
Name[ca]=Configuració de KPilot
Name[cs]=Nastavení KPilotu
Name[da]=KPilot indstilling
Name[de]=KPilot Konfiguration
Name[es]=Configuración de KPilot
Name[et]=KPiloti seadistamine
Name[fr]=Configuration de KPilot
Name[gl]=Configuración de KPilot
Name[hu]=A KPilot beállításai
Name[is]=KPilot stillingar
Name[it]=Configurazione KPilot
Name[ja]=KPilotの設定
Name[nb]=KPilot oppsett
Name[nl]=KPilot instellingen
Name[nn]=KPilot-oppsett
Name[pl]=konfiguracja KPilota
Name[pt]=Configuração do KPilot
Name[pt_BR]=Configuração do KPilot
Name[ru]=Синхронизация с КПК
Name[sk]=Nastavenie KPilot
Name[sl]=Nastavitve KPilota
Name[sr]=KPilot подешавање
Name[sr@Latn]=KPilot podešavanje
Name[sv]=Inställning av Kpilot
Name[ta]=Kபைலட் கட்டமைப்பு
Name[tg]=Танзимоти KPilot
Name[zh_CN]=KPilot 配置
