[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kpilot
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_kpilotplugin
X-KDE-KontactIdentifier=kpilot
X-KDE-KontactPluginVersion=3
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Name=kontact_kpilotplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact KPilot Plugin
Comment[be]=Дапаўненьне Кантакту "KPilot"
Comment[da]=Kontact KPilot-plugin
Comment[es]=Accesorio KPilot para Kontact
Comment[et]=Kontacti KPiloti plugin
Comment[fr]=Module KPilot pour Kontact
Comment[pt_BR]=Plug-in do KPilot para o Kontact
Comment[sv]=Kontact-insticksprogram för Kpilot
Name=KPilot Configuration
Name[be]=Канфігурацыя KPilot
Name[da]=KPilot indstilling
Name[es]=Configuración de KPilot
Name[et]=KPiloti seadistamine
Name[fr]=Configuration de KPilot
Name[pt_BR]=Configuração do KPilot
Name[sv]=Inställning av Kpilot
