[Desktop Entry]
Type=Service
Icon=akregator
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_akregator
X-KDE-KontactPluginVersion=6
X-KDE-KontactPartLibraryName=libakregatorpart
X-KDE-KontactPartLoadOnStart=false

X-KDE-PluginInfo-Name=kontact_akregator
X-KDE-PluginInfo-Version=1.0b2
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Feed Reader Component (Akregator Plugin)
Comment[bg]=Приставка за Akregator
Comment[ca]=Component lector d'enllaços (endollable de l'Akregator)
Comment[da]=Feed-læserkomponent (Akregator-plugin)
Comment[de]=News-Leser (Akregator-Modul)
Comment[el]=Συστατικό ανάγνωσης ροών (Πρόσθετο του Akregator)
Comment[es]=Componente de lectura de fuentes (complemento de Akregator)
Comment[et]=Uudistevoogude plugin (Akregator)
Comment[fr]=Composant du lecteur de flux (Module pour Akregator)
Comment[is]=Fréttastraumalestur (Akregator íforrit)
Comment[it]=Componente lettore fonti (plugin Akregator)
Comment[ja]=フィードリーダーコンポーネント (Akregator プラグイン)
Comment[km]=មមាសភាគ​កម្មវិធី​អាន​មតិព័ត៌មាន (កម្មវិធី​ជំនួយ Akregator​)
Comment[nds]=Stroomleser-Komponent (Akregator-Moduul)
Comment[nl]=Component om feeds te lezen (Akregator-plugin)
Comment[pl]=Składnik do czytania kanałów RSS (wtyczka Akregator)
Comment[ru]=Просмотр лент новостей (модуль Akregator)
Comment[sk]=Komponent na čítanie kanálov (Modul pre Akregator)
Comment[sr]=Компонента читања довода (прикључак Akregator-а)
Comment[sr@Latn]=Komponenta čitanja dovoda (priključak Akregator-a)
Comment[sv]=Komponent för läsning av kanaler (Akregator-insticksprogram)
Comment[tr]=Kaynak Okuyucu Bileşeni (Akregator Eklentisi)
Comment[zh_CN]=新闻源阅读器组件(Akregator 插件)
Comment[zh_TW]=Feed 閱讀器組件（Akregator 外掛程式）
Name=Feeds
Name[af]=Strome
Name[bg]=Новини
Name[ca]=Enllaços
Name[cs]=Kanály
Name[da]=Kilder
Name[de]=Nachrichten
Name[el]=Ροές
Name[eo]=Fluoj
Name[es]=Orígenes
Name[et]=Uudisevood
Name[eu]=Iturriak
Name[fa]=خوراندنها
Name[fi]=Syötteet
Name[fr]=Flux
Name[fy]=Nijsoanfier
Name[ga]=Fothaí
Name[gl]=Fontes
Name[he]=ערוצים
Name[hu]=Hírforrások
Name[is]=Fréttastraumar
Name[it]=Fonti
Name[ja]=フィード
Name[ka]=კვება
Name[kk]=Ақпарлар
Name[km]=មតិព័ត៌មាន
Name[lt]=Kanalai
Name[ms]=Suapan
Name[nb]=Kanaler
Name[nds]=Narichtenströöm
Name[ne]=फिड
Name[nn]=Kanalar
Name[pl]=Kanały
Name[pt]=Fontes
Name[pt_BR]=Fontes de Notícias
Name[ru]=Ленты новостей
Name[sk]=Kanály
Name[sl]=Viri
Name[sr]=Доводи
Name[sr@Latn]=Dovodi
Name[sv]=Kanaler
Name[ta]=உள்ளீடுகள்
Name[tr]=Haberler
Name[uk]=Подачі
Name[uz]=Yangiliklar tasmalari
Name[uz@cyrillic]=Янгиликлар тасмалари
Name[zh_CN]=种子

