[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=akregator
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_akregator
X-KDE-KontactPluginVersion=6
X-KDE-KontactPartLibraryName=libakregatorpart
X-KDE-KontactPartLoadOnStart=false

X-KDE-PluginInfo-Name=kontact_akregator
X-KDE-PluginInfo-Version=1.0b2
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Akregator Plugin
Comment[el]=Πρόσθετο του Akregator
Comment[fr]=Module pour Akregator
Comment[x-test]=xxAkregator Pluginxx
Name=Feeds
Name[el]=Ροές
Name[fr]=Flux
Name[x-test]=xxFeedsxx

