[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=akregator
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_akregator
X-KDE-KontactPluginVersion=4
X-KDE-KontactPartLibraryName=libakregatorpart
X-KDE-KontactPartLoadOnStart=true

X-KDE-PluginInfo-Name=kontact_akregator
X-KDE-PluginInfo-Version=1.0b2
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=aKregator Plugin
Comment[br]=Lugant aKregator
Comment[cy]=Ategyn aKregator
Comment[es]=Plugin de aKregator
Comment[et]=aKregatori plugin
Comment[fr]=Module externe pour aKregator
Comment[nl]=aKregator-plugin
Comment[pt]='Plugin' do aKregator
Comment[pt_BR]=Plug-in do aKregator
Comment[ru]=Модуль aKregator
Comment[sr]=aKregator-ов прикључак
Comment[sv]=aKregator-insticksprogram
Comment[ta]=aKregator சொருகு
Comment[xx]=xxaKregator Pluginxx
Name=Feeds
Name[cy]=Porthiannau
Name[es]=Titulares
Name[et]=Kanalid
Name[fr]=Flux
Name[pt]=Fontes
Name[ru]=Новостные ленты
Name[sv]=Källor
Name[ta]=உள்ளிடல்
Name[xx]=xxFeedsxx

