[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=akregator
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_akregator
X-KDE-KontactPluginVersion=3
X-KDE-KontactPartLibraryName=libakregatorpart

X-KDE-PluginInfo-Name=kontact_akregator
X-KDE-PluginInfo-Version=1.0b2
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Akregator Plugin
Comment[bg]=Приставка за Akregator
Comment[br]=Lugant Akregator
Comment[ca]=Endollable Akregator
Comment[cs]=Modul Akregatoru
Comment[es]=Extensión de Akregator
Comment[et]=Akregatori plugin
Comment[fi]=Akregator-liitännäinen
Comment[ga]=Breiseán Akregator
Comment[it]=Plugin aKregator
Comment[nl]=Akregatorplugin
Comment[pt]='Plugin' Akregator
Comment[pt_BR]=Plugin do Akregator
Comment[ru]=Модуль Akregator
Comment[sl]=Vstavek Akregator
Comment[sv]=Akregator-insticksprogram
Comment[uk]=Втулок Akregator
Comment[zh_CN]=Akregator 插件
Name=Feeds
Name[bg]=Новини
Name[ca]=Enllaços
Name[cs]=Kanály
Name[da]=Kilder
Name[es]=Orígenes
Name[et]=Kanalid
Name[fi]=Syötteet
Name[ga]=Fothaí
Name[it]=Fonti
Name[pt]=Fontes
Name[pt_BR]=Fontes de Notícias
Name[ru]=Ленты новостей
Name[sr]=Доводи
Name[sr@Latn]=Доводи
Name[sv]=Källor
Name[tr]=Haberler
Name[uk]=Подачі
Name[xx]=xxFeedsxx
Name[zh_CN]=种子

