[Desktop Entry]
Type=Service
Icon=akregator
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_akregatorplugin
X-KDE-KontactPluginVersion=3
X-KDE-KontactPartLibraryName=akregatorpart

X-KDE-PluginInfo-Name=kontact_akregatorplugin
X-KDE-PluginInfo-Version=1.0b2
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Akregator Plugin
Comment[de]=Akregator-Modul
Name=Feeds
Name[de]=Nachrichten

