[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=multisynk
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_multisynk
X-KDE-KontactPluginVersion=4
X-KDE-KontactPartLibraryName=libmultisynkpart

X-KDE-PluginInfo-Name=kontact_multisynk
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=MultiSynk Plugin
Comment[fr]=Module MultiSynk
Comment[x-test]=xxMultiSynk Pluginxx
Name=Synchronization
Name[fr]=Synchronisation
Name[x-test]=xxSynchronizationxx
