[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=multisynk
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_multisynk
X-KDE-KontactPluginVersion=4
X-KDE-KontactPartLibraryName=libmultisynkpart

X-KDE-PluginInfo-Name=kontact_multisynk
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=MultiSynk Plugin
Comment[bg]=Приставка за синхронизация
Comment[br]=Lugent MultiSynk
Comment[ca]=Endollable MultiSynk
Comment[cs]=Modul aplikace MultiSynk
Comment[de]=MultiSynk-Plugin
Comment[es]=Extensión MultiSynk
Comment[et]=MultiSynki plugin
Comment[fr]=Module MultiSynk
Comment[hu]=MultiSynk bővítőmodul
Comment[it]=Plugin MultiSync
Comment[nl]=MultiSynk-plugin
Comment[nn]=MultiSynk-programtillegg
Comment[pl]=Wtyczka MultiSynk
Comment[pt]='Plugin' MultiSynk
Comment[pt_BR]=Plugin do MultiSynk
Comment[ru]=Синхронизация
Comment[sl]=Vstavek MultiSynk
Comment[sr]=Прикључак MultiSynk-а
Comment[sr@Latn]=Priključak MultiSynk-a
Comment[sv]=Multisynk-insticksprogram
Comment[ta]=பலவிதகூட்டிணைப்பு சொருகுப்பொருள்
Comment[tr]=MultiSynk Eklentisi
Comment[uk]=Втулок MultiSynk
Comment[xx]=xxMultiSynk Pluginxx
Comment[zh_CN]=MultiSynk 插件
Name=Synchronization
Name[ar]=تزامن
Name[be]=Сынхранізацыя
Name[bs]=Sinhronizacija
Name[ca]=Sincronització
Name[cs]=Synchronizace
Name[cy]=Cydamseriad
Name[da]=Synkronisering
Name[de]=Abgleich
Name[el]=Συγχρονισμός
Name[en_GB]=Synchronisation
Name[es]=Sincronización
Name[et]=Sünkroniseerimine
Name[fi]=Synkronointi
Name[fr]=Synchronisation
Name[ga]=Sioncronú
Name[gl]=Sincronización
Name[hi]=सिंक्रोनाइजेशन
Name[hu]=Szinkronizáció
Name[is]=Samstilling
Name[it]=Sincronizzazione
Name[ja]=同期
Name[nb]=Synkronisering
Name[nl]=Sync
Name[nn]=Synkronisering
Name[pa]=ਸਮਕਾਲੀ
Name[pl]=Synchronizacja
Name[pt]=Sincronização
Name[pt_BR]=Sincronização
Name[ro]=Sincronizare
Name[ru]=Синхронизация
Name[se]=Buohtalastin
Name[sk]=Synchronizácia
Name[sl]=Usklajevanje
Name[sr]=Синхронизација
Name[sr@Latn]=Sinhronizacija
Name[sv]=Synkronisering
Name[ta]=ஒன்றிணைப்பு
Name[tg]=Синхронизатсия
Name[tr]=Senkronizasyon
Name[uk]=Синхронізація
Name[uz]=Тенглаштириш
Name[xx]=xxSynchronizationxx
Name[zh_CN]=同步
