[Desktop Entry]
Type=Service
Exec=
Comment=Kontact Weather Plugin
Name=Weather
Icon=
ServiceTypes=Kontact/Plugin
X-KDE-Library=libkpweatherplugin
X-KDE-KontactIdentifier=weather
