[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kweather
ServiceTypes=Kontact/Plugin,KPluginInfo
TryExec=kweatherservice

X-KDE-Library=libkontact_weatherplugin
X-KDE-KontactIdentifier=weather
X-KDE-KontactPluginVersion=4
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Name=kontact_weatherplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact Weather Plugin
Comment[be]=Дапаўненьне Кантакту "Надвор'е"
Comment[bg]=Приставка за информация за метеорологичното време
Comment[bs]=Kontact dodatak za vremensku prognozu
Comment[ca]=Endollable del temps per a Kontact
Comment[cs]=Modul počasí pro aplikaci Kontact
Comment[cy]=Ategyn Tywydd Kontact
Comment[da]=Kontact Vejr-plugin
Comment[de]=Wetter-Plugin für Kontact
Comment[el]=Πρόσθετο καιρού του Kontact
Comment[es]=Extensión de meteorología para Kontact
Comment[et]=Kontacti ilmaplugin
Comment[fi]=Kontactin sääliitännäinen
Comment[fr]=Module météo pour Kontact
Comment[gl]=Extensión de clima para Kontact
Comment[hi]=कॉन्टेक्ट मौसम प्लगइन
Comment[hu]=Kontact időjárás-előrejelzési bővítőmodul
Comment[is]=Kontact veður íforrit
Comment[it]=Plugin Kontact meteorologico
Comment[ja]=Kontact 天気プラグイン
Comment[nb]=Kontact vær-programtillegg
Comment[nl]=Kontact Weerplugin
Comment[nn]=Kontact, programtillegg for vêrmelding
Comment[pl]=Wtyczka Kontact do wyświetlania pogody
Comment[pt]='Plugin' Meteorológico do Kontact
Comment[pt_BR]=Plugin de Tempo do Kontact
Comment[ro]=Modul meteorologie Kontact
Comment[ru]=Модуль информации о погоде Kontact
Comment[sk]=Modul počasia pre Kontact
Comment[sl]=Vremenski vstavek za Kontact
Comment[sr]=Прикључак Kontact-а за време
Comment[sr@Latn]=Dodatak Kontact-a za vreme
Comment[sv]=Kontact-väderinsticksprogram
Comment[ta]=வானிலை சொருகுப்பொருளை தொடர்பு கொள்
Comment[tg]=Модули пешгӯии ҳавои Kontact
Comment[tr]=Kontact Hava Durumu Eklentisi
Comment[uk]=Втулок погоди Kontact
Comment[uz]=Kontact учун об-ҳаво плагини
Comment[xx]=xxKontact Weather Pluginxx
Comment[zh_CN]=Kontact 天气插件
Name=Weather
Name[be]=Надвор'е
Name[br]=Amzer
Name[bs]=Vrijeme
Name[ca]=Temps
Name[cs]=Počasí
Name[cy]=Tywydd
Name[da]=Vejr
Name[de]=Wetter
Name[el]=Καιρός
Name[es]=Meteorología
Name[et]=Ilm
Name[fi]=Sää
Name[fr]=Météo
Name[gl]=O Tempo
Name[hi]=वेदर
Name[hu]=Időjárás
Name[is]=Veður
Name[it]=Tempo meteorologico
Name[ja]=天気
Name[nb]=Været
Name[nl]=Het weer
Name[nn]=Vêrmelding
Name[pl]=Pogoda
Name[pt]=Meteorologia
Name[pt_BR]=Tempo
Name[ro]=Vreme
Name[ru]=Погода
Name[sk]=Počasie
Name[sl]=Vreme
Name[sr]=Време
Name[sr@Latn]=Vreme
Name[sv]=Väder
Name[ta]=வானிலை
Name[tg]=Пешгӯии ҳаво
Name[tr]=Hava Durumu
Name[uk]=Погода
Name[uz]=Об-ҳаво
Name[xx]=xxWeatherxx
Name[zh_CN]=天气
