[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kweather
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_weatherplugin
X-KDE-KontactIdentifier=weather
X-KDE-KontactPluginVersion=2

X-KDE-PluginInfo-Name=kontact_weatherplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact Weather Plugin
Comment[be]=Comment=Дапаўненьне Кантакту "Надвор'е"
Comment[bg]=Приставка за информация за метеорологичното време
Comment[ca]=Connector de temps vist per a Kontact
Comment[cs]=Modul počasí pro aplikaci Kontact
Comment[da]=Kontact Vejr-plugin
Comment[de]=Wetter-Plugin für Kontact
Comment[el]=Πρόσθετο καιρού του Kontact
Comment[es]=Accesorio de clima para Kontact
Comment[et]=Kontacti ilmaplugin
Comment[fi]=Kontactin sääliitännäinen
Comment[fr]=Module météo pour Kontact
Comment[hu]=Kontact időjárás-előrejelzési bővítőmodul
Comment[it]=Plugin Kontact meteorologico
Comment[nl]=Kontact Weerplugin
Comment[nn]=Kontact, programtillegg for vêrmelding
Comment[pt]='Plugin' Meteorológico do Kontact
Comment[pt_BR]=Plugin de Tempo do Kontact
Comment[ru]=Модуль погоды Kontact
Comment[sr]=Додатак Kontact-а за време
Comment[sv]=Kontact-väderinsticksprogram
Comment[tr]=Kontact Hava Durumu Eklentisi
Comment[uk]=Втулок погоди Kontact
Comment[xx]=xxKontact Weather Pluginxx
Comment[zh_CN]=Kontact 天气插件
Name=Weather
Name[be]=Надвор'е
Name[ca]=Temps vist
Name[cs]=Počasí
Name[da]=Vejr
Name[de]=Wetter
Name[el]=Καιρός
Name[es]=Clima
Name[et]=Ilm
Name[fi]=Sää
Name[fr]=Météo
Name[hu]=Időjárás
Name[it]=Tempo meteorologico
Name[nl]=Het weer
Name[nn]=Vêrmelding
Name[pt]=Meteorologia
Name[pt_BR]=Tempo
Name[ru]=Погода
Name[sl]=Vreme
Name[sr]=Време
Name[sv]=Väder
Name[tr]=Hava Durumu
Name[uk]=Погода
Name[uz]=Об-ҳаво
Name[xx]=xxWeatherxx
Name[zh_CN]=天气
