[Desktop Entry]
Type=Service
Icon=kweather
ServiceTypes=Kontact/Plugin,KPluginInfo
TryExec=kweatherservice

X-KDE-Library=libkontact_weatherplugin
X-KDE-KontactIdentifier=weather
X-KDE-KontactPluginVersion=6
X-KDE-KontactPluginHasSummary=true
X-KDE-KontactPluginHasPart=false

X-KDE-PluginInfo-Name=kontact_weatherplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact Weather Component
Comment[bg]=Приставка за метеорологичното време
Comment[ca]=Component del temps del Kontact
Comment[da]=Vejrkomponent til Kontact
Comment[de]=Wetter-Komponente für Kontact
Comment[el]=Συστατικό καιρού του Kontact
Comment[et]=Kontacti ilmaplugin
Comment[fr]=Composant météo pour Kontact
Comment[is]=Kontact veðurfréttaeining
Comment[it]=Componente meteorologico di Kontact
Comment[ja]=Kontact 気象情報コンポーネント
Comment[km]=សមាសភាគ​អាកាសធាតុ Kontact
Comment[nds]=Kontact-Wederkomponent
Comment[nl]=Kontact Weercomponent
Comment[pl]=Składnik Kontaktu wiadomości o pogodzie
Comment[ru]=Компонент информации о погоде для Kontact
Comment[sr]=Компонента времена за Kontact
Comment[sr@Latn]=Komponenta vremena za Kontact
Comment[sv]=Kontacts väderkomponent
Comment[tr]=Kontact Hava Durumu Bileşeni
Comment[zh_CN]=Kontact 天气插件
Comment[zh_TW]=Kontact 天氣組件
Name=Weather Service
Name[af]=Weer diens
Name[ar]=خدمة الطقس
Name[bg]=Информация за времето
Name[br]=Servij an amzer
Name[ca]=Servei meteorològic
Name[cs]=Služba počasí
Name[cy]=GwasanaethTywydd
Name[da]=Vejrtjeneste
Name[de]=Wetterdienst
Name[el]=Υπηρεσία πρόβλεψης Καιρού
Name[eo]=Veterservo
Name[es]=Servicio meteorológico
Name[et]=Ilmateade
Name[eu]=Eguraldiaren zerbitzua
Name[fa]=خدمت آب و هوا
Name[fi]=Sääpalvelu
Name[fr]=KWeatherService
Name[fy]=Waarberjocht
Name[ga]=Seirbhís Aimsire
Name[gl]=Servicio do Tempo
Name[he]=שירות מזג אוויר
Name[hu]=Időjárás
Name[is]=Veðurþjónusta
Name[it]=Servizio meteorologico
Name[ja]=気象サービス
Name[ka]=ამინდის მომსახურება
Name[kk]=Ауа райы қызметі
Name[km]=សេវា​អាកាសធាតុ
Name[lt]=Orų tarnyba
Name[mk]=Временска прогноза
Name[nb]=Værtjeneste
Name[nds]=Wederdeenst
Name[ne]=मौसम कार्य
Name[nl]=Weerbericht
Name[nn]=Vêrmelding
Name[pl]=Pogoda
Name[pt]=Serviço Meteorológico
Name[pt_BR]=Serviço de Previsão do Tempo
Name[ru]=Погода
Name[sk]=Služba počasie
Name[sl]=Vremenska storitev
Name[sr]=Време
Name[sr@Latn]=Vreme
Name[sv]=Väderleksprognos
Name[th]=รายงานอากาศ
Name[tr]=Hava Durumu Servisi
Name[uk]=Служба погоди
Name[uz]=Ob-havo xizmati
Name[uz@cyrillic]=Об-ҳаво хизмати
Name[zh_CN]=天气服务
Name[zh_TW]=天氣服務
