[Desktop Entry]
Icon=view-pim-calendar
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_planner
X-KDE-FactoryName=planner
X-KDE-ParentApp=kontact_plannerplugin
X-KDE-ParentComponents=kontact_plannerplugin
X-KDE-CfgDlgHierarchy=KontactSummary

Name=Planner
Name[de]=Planer
Name[et]=Planeerija
Name[fr]=Agenda
Name[ga]=Pleanálaí
Name[ja]=スケジュール帳
Name[km]=កម្មវិធីធ្វើ​គម្រោង
Name[lv]=Plānotājs
Name[pl]=Planowanie
Name[sv]=Planering
Name[tr]=Planlayıcı
Name[uk]=Планувальник
Name[x-test]=xxPlannerxx
Name[zh_CN]=安排计划
Name[zh_TW]=行事曆
Comment=Planner Setup
Comment[ca]=Arranjament del Planner
Comment[de]=Planer-Einrichtung
Comment[el]=Ρύθμιση του Planner
Comment[et]=Planeerija seadistamine
Comment[fr]=Configuration de l agenda
Comment[ga]=Socrú Pleanálaí
Comment[ja]=スケジュール帳の設定
Comment[km]=កា​ររៀបចំ​កម្មវិធី​ធ្វើ​គម្រោង
Comment[lv]=Plānotāja iestatījumi
Comment[nds]=Planner inrichten
Comment[pl]=Konfiguracja Planowania
Comment[pt]=Configuração do Planner
Comment[pt_BR]=Configuração do Planner
Comment[sv]=Anpassa Planering
Comment[tr]=Planlayıcı Kurlumu
Comment[uk]=Налаштування планувальника
Comment[x-test]=xxPlanner Setupxx
Comment[zh_CN]=安排计划设定
Comment[zh_TW]=行事曆設定
X-KDE-Keywords=calendar, todos, configure, settings
