[Desktop Entry]
Icon=view-pim-summary
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_planner
X-KDE-FactoryName=planner
X-KDE-ParentApp=kontact_summaryplugin
X-KDE-ParentComponents=kontact_summaryplugin
X-KDE-CfgDlgHierarchy=KontactSummary
X-KDE-Weight=10

Name=Planner
Name[ar]=المُخطِط
Name[bs]=Planer
Name[ca]=Planner
Name[ca@valencia]=Planner
Name[cs]=Plánovač
Name[da]=Planlægningskalender
Name[de]=Planer
Name[el]=Planner
Name[en_GB]=Planner
Name[es]=Calendario
Name[et]=Planeerija
Name[fi]=Planner
Name[fr]=Agenda
Name[ga]=Pleanálaí
Name[gl]=Planificador
Name[hu]=Tervező
Name[ia]=Planificator
Name[it]=Agenda
Name[ja]=スケジュール帳
Name[kk]=Жоспарлағыш
Name[km]=កម្មវិធីធ្វើ​គម្រោង
Name[ko]=플래너
Name[lt]=Planuoklis
Name[lv]=Plānotājs
Name[mr]=नियोजक
Name[nb]=Planlegger
Name[nds]=Planner
Name[nl]=Planner
Name[nn]=Planleggjar
Name[pa]=ਪਲੈਨਰ
Name[pl]=Planowanie
Name[pt]=Planner
Name[pt_BR]=Planner
Name[ro]=Planificator
Name[ru]=Planner
Name[sk]=Plánovač
Name[sl]=Planer
Name[sr]=Планер
Name[sr@ijekavian]=Планер
Name[sr@ijekavianlatin]=Planer
Name[sr@latin]=Planer
Name[sv]=Planering
Name[th]=แผนงาน
Name[tr]=Planlayıcı
Name[ug]=پىلانچى
Name[uk]=Планувальник
Name[wa]=Planifieu
Name[x-test]=xxPlannerxx
Name[zh_CN]=安排计划
Name[zh_TW]=行事曆
Comment=Planner Setup
Comment[ar]=إعداد المُخطِط
Comment[bs]=Postavke planera
Comment[ca]=Arranjament del Planner
Comment[ca@valencia]=Arranjament del Planner
Comment[cs]=Nastavení plánovače
Comment[da]=Indstilling af planlægningskalender
Comment[de]=Planer-Einrichtung
Comment[el]=Ρύθμιση του Planner
Comment[en_GB]=Planner Setup
Comment[es]=Configuración inicial de calendario
Comment[et]=Planeerija seadistamine
Comment[fi]=Plannerin asetukset
Comment[fr]=Configuration de l'agenda
Comment[ga]=Socrú Pleanálaí
Comment[gl]=Configuración do planificador
Comment[hu]=Tervező-beállítások
Comment[ia]=Configuration de Planificator
Comment[it]=Impostazioni agenda
Comment[ja]=スケジュール帳の設定
Comment[kk]=Жоспарлағышты баптау
Comment[km]=កា​ររៀបចំ​កម្មវិធី​ធ្វើ​គម្រោង
Comment[ko]=플래너 설정
Comment[lt]=Planuoklio nustatymai
Comment[lv]=Plānotāja iestatījumi
Comment[mr]=नियोजक संयोजना
Comment[nb]=Planlegger-oppsett
Comment[nds]=Planner inrichten
Comment[nl]=Planner-instellingen
Comment[nn]=Oppsett av planleggjar
Comment[pa]=ਪਲੈਨਰ ਸੈੱਟਅੱਪ
Comment[pl]=Konfiguracja Planowania
Comment[pt]=Configuração do Planner
Comment[pt_BR]=Configuração do Planner
Comment[ro]=Configurare planificator
Comment[ru]=Настройка планировщика
Comment[sk]=Nastavenie plánovača
Comment[sl]=Natavitev Planerja
Comment[sr]=Подешавање планера
Comment[sr@ijekavian]=Подешавање планера
Comment[sr@ijekavianlatin]=Podešavanje planera
Comment[sr@latin]=Podešavanje planera
Comment[sv]=Anpassa Planering
Comment[th]=ตั้งค่าแผนงาน
Comment[tr]=Planlayıcı Kurlumu
Comment[uk]=Налаштування планувальника
Comment[wa]=Apontyî planifieu
Comment[x-test]=xxPlanner Setupxx
Comment[zh_CN]=安排计划设定
Comment[zh_TW]=行事曆設定
X-KDE-Keywords=calendar, todos, configure, settings
X-KDE-Keywords[bs]=kalendar, zadaci , konfigurirati,  postavke
X-KDE-Keywords[ca]=calendari, pendents, configura, arranjament
X-KDE-Keywords[ca@valencia]=calendari, pendents, configura, arranjament
X-KDE-Keywords[da]=kalender, gøremål, indstil, indstillinger
X-KDE-Keywords[de]=Kalender,Aufgaben,einstellen,konfigurieren,Konfiguration,Einrichtung,Einstellungen
X-KDE-Keywords[el]=ημερολόγιο, εργασίες, διαμόρφωση, ρυθμίσεις
X-KDE-Keywords[es]=calendario, tareas pendientes, configurar, preferencias
X-KDE-Keywords[et]=kalender, ülesanded, seadistamine, seadistused
X-KDE-Keywords[fi]=calendar, kalenteri, todos, tehtävät, configure, settings, asetukset
X-KDE-Keywords[fr]=agenda,tâches,configuration,paramètres
X-KDE-Keywords[ga]=féilire, tascanna, cumraigh, socruithe
X-KDE-Keywords[gl]=calendario,tarefas,configurar,opcións
X-KDE-Keywords[hu]=naptár, feladatok, beállítás, beállítások
X-KDE-Keywords[ia]=calendario,cosas de facer, configura, preferentias
X-KDE-Keywords[it]=calendario, cose da fare, configurazione, impostazioni
X-KDE-Keywords[kk]=calendar, todos, configure, settings
X-KDE-Keywords[km]=ប្រតិទិន កិច្ចការ​ត្រូវ​ធ្វើ កំណត់​រចនាសម្ព័ន្ធ កំណត់
X-KDE-Keywords[lt]=kalendorius, darbai, konfigūruoti, nustatymai
X-KDE-Keywords[mr]=दिनदर्शिका, कार्ये, संयोजना, संयोजना
X-KDE-Keywords[nb]=kalender, gjøremål, oppsett. innstillinger
X-KDE-Keywords[nds]=Kalenner,Opgaven,instellen,inrichten
X-KDE-Keywords[nl]=agenda, taken, instellen, instellingen
X-KDE-Keywords[pl]=kalendarz, do zrobienia, konfiguruj, ustawienia
X-KDE-Keywords[pt]=calendário,por-fazer,configurar,configuração
X-KDE-Keywords[pt_BR]=calendário,a fazeres,configurar,configuração
X-KDE-Keywords[ru]=calendar,todos,configure,settings,настройка,календарь,задачи,настроить
X-KDE-Keywords[sk]=kalendár, úlohy, nastaviť, nastavenia
X-KDE-Keywords[sl]=koledar,za narediti,nastavi,nastavitve
X-KDE-Keywords[sr]=calendar,todos,configure,settings,календар,обавезе,подесити,подешавање,поставке
X-KDE-Keywords[sr@ijekavian]=calendar,todos,configure,settings,календар,обавезе,подесити,подешавање,поставке
X-KDE-Keywords[sr@ijekavianlatin]=calendar,todos,configure,settings,kalendar,obaveze,podesiti,podešavanje,postavke
X-KDE-Keywords[sr@latin]=calendar,todos,configure,settings,kalendar,obaveze,podesiti,podešavanje,postavke
X-KDE-Keywords[sv]=kalender, uppgifter, anpassa, inställningar
X-KDE-Keywords[tr]=takvim, yapılacaklar, yapılandır, ayarlar
X-KDE-Keywords[uk]=calendar,todos,configure,settings,календар,завдання,задача,задачі,налаштувати,налаштування,параметри
X-KDE-Keywords[wa]=calindrî, afés, apontyî, apontiaedje, tchuzes, apontiaedjes
X-KDE-Keywords[x-test]=xxcalendar, todos, configure, settingsxx
X-KDE-Keywords[zh_CN]=calendar, todos, configure, settings, 日历, 待办事宜, 配置, 设置
X-KDE-Keywords[zh_TW]=calendar, todos, configure, settings
