[Desktop Entry]
Icon=view-pim-calendar
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_planner
X-KDE-FactoryName=planner
X-KDE-ParentApp=kontact_plannerplugin
X-KDE-ParentComponents=kontact_plannerplugin
X-KDE-CfgDlgHierarchy=KontactSummary

Name=Planner
Name[de]=Planer
Comment=Planner Setup
Comment[de]=Planer-Einrichtung
X-KDE-Keywords=calendar, todos, configure, settings
