[Desktop Entry]
Type=Service
Icon=view-pim-summary
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_plannerplugin
X-KDE-KontactPluginVersion=9
X-KDE-KontactPluginHasPart=false
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Name=kontact_plannerplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Name=Planner
Name[ar]=المُخطِط
Name[bs]=Planer
Name[ca]=Planner
Name[ca@valencia]=Planner
Name[cs]=Plánovač
Name[da]=Planlægningskalender
Name[de]=Planer
Name[el]=Planner
Name[en_GB]=Planner
Name[es]=Calendario
Name[et]=Planeerija
Name[fi]=Planner
Name[fr]=Agenda
Name[ga]=Pleanálaí
Name[gl]=Planificador
Name[hu]=Tervező
Name[ia]=Planificator
Name[it]=Agenda
Name[ja]=スケジュール帳
Name[kk]=Жоспарлағыш
Name[km]=កម្មវិធីធ្វើ​គម្រោង
Name[ko]=플래너
Name[lt]=Planuoklis
Name[lv]=Plānotājs
Name[mr]=नियोजक
Name[nb]=Planlegger
Name[nds]=Planner
Name[nl]=Planner
Name[nn]=Planleggjar
Name[pa]=ਪਲੈਨਰ
Name[pl]=Planowanie
Name[pt]=Planner
Name[pt_BR]=Planner
Name[ro]=Planificator
Name[ru]=Planner
Name[sk]=Plánovač
Name[sl]=Planer
Name[sr]=Планер
Name[sr@ijekavian]=Планер
Name[sr@ijekavianlatin]=Planer
Name[sr@latin]=Planer
Name[sv]=Planering
Name[th]=แผนงาน
Name[tr]=Planlayıcı
Name[ug]=پىلانچى
Name[uk]=Планувальник
Name[wa]=Planifieu
Name[x-test]=xxPlannerxx
Name[zh_CN]=安排计划
Name[zh_TW]=行事曆
Comment=Planner Plugin
Comment[ar]=ملحق المُخطِط
Comment[bs]=Dodatak za planner
Comment[ca]=Connector del Planner
Comment[ca@valencia]=Connector del Planner
Comment[cs]=Modul plánovače
Comment[da]=Plugin til planlægningskalender
Comment[de]=Planer-Modul
Comment[el]=Πρόσθετο Planner
Comment[en_GB]=Planner Plugin
Comment[es]=Complemento de calendario
Comment[et]=Planeerija plugin
Comment[fi]=Planner-liitännäinen
Comment[fr]=Module d'agenda
Comment[ga]=Breiseán Pleanálaí
Comment[gl]=Engadido do planificador
Comment[hu]=Tervező bővítmény
Comment[ia]=Plug-in de Planificator
Comment[it]=Estensione agenda
Comment[ja]=スケジュール帳プラグイン
Comment[kk]=Жоспарлағыш плагині
Comment[km]=កម្មវិធី​ជំនួយ​​របស់​កម្មវិធី​ធ្វើ​គម្រោង
Comment[ko]=플래너 플러그인
Comment[lt]=Planuoklio įskiepis
Comment[lv]=Plānotāja spraudnis
Comment[mr]=नियोजक प्लगइन
Comment[nb]=Planlegger-programtillegg
Comment[nds]=Planner-Moduul
Comment[nl]=Planner-plug-in
Comment[nn]=Planleggjar-programtillegg
Comment[pa]=ਪਲੈਨਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka do Planowania
Comment[pt]='Plugin' do Planner
Comment[pt_BR]=Plugin do Planner
Comment[ro]=Modul planificator
Comment[ru]=Модуль планировщика
Comment[sk]=Modul plánovača
Comment[sl]=Vstavek Planer
Comment[sr]=Прикључак планера
Comment[sr@ijekavian]=Прикључак планера
Comment[sr@ijekavianlatin]=Priključak planera
Comment[sr@latin]=Priključak planera
Comment[sv]=Insticksprogram för planering
Comment[th]=โปรแกรมเสริมแผนงาน
Comment[tr]=Planlayıcı Eklentisi
Comment[uk]=Додаток планувальника
Comment[wa]=Module planifieu
Comment[x-test]=xxPlanner Pluginxx
Comment[zh_CN]=安排计划插件
Comment[zh_TW]=行事曆外掛程式
