[Desktop Entry]
Type=Service
Icon=view-pim-calendar
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_plannerplugin
X-KDE-KontactPluginVersion=8
X-KDE-KontactPluginHasPart=false
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Name=kontact_plannerplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Name=Planner
Name[de]=Planer
Name[et]=Planeerija
Name[fr]=Agenda
Name[ga]=Pleanálaí
Name[ja]=スケジュール帳
Name[km]=កម្មវិធីធ្វើ​គម្រោង
Name[lv]=Plānotājs
Name[pl]=Planowanie
Name[sv]=Planering
Name[tr]=Planlayıcı
Name[uk]=Планувальник
Name[x-test]=xxPlannerxx
Name[zh_CN]=安排计划
Name[zh_TW]=行事曆
Comment=Planner Plugin
Comment[ca]=Connector del Planner
Comment[de]=Planer-Modul
Comment[el]=Πρόσθετο Planner
Comment[et]=Planeerija plugin
Comment[fr]=Module d'agenda
Comment[ga]=Breiseán Pleanálaí
Comment[ja]=スケジュール帳プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​​របស់​កម្មវិធី​ធ្វើ​គម្រោង
Comment[lv]=Plānotāja spraudnis
Comment[nds]=Planner-Moduul
Comment[pl]=Wtyczka do Planowania
Comment[pt]='Plugin' do Planner
Comment[pt_BR]=Plug-in do Planner
Comment[sv]=Insticksprogram för planering
Comment[tr]=Planlayıcı Eklentisi
Comment[uk]=Втулок планувальника
Comment[x-test]=xxPlanner Pluginxx
Comment[zh_CN]=安排计划插件
Comment[zh_TW]=行事曆外掛程式
