[Desktop Entry]
Type=Service
Icon=kcontactmanager
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_kcontactmanagerplugin
X-KDE-KontactPluginVersion=7
X-KDE-KontactPartLibraryName=kcontactmanagerpart
X-KDE-KontactPartExecutableName=kcontactmanager
X-KDE-KontactPartLoadOnStart=false
X-KDE-KontactPluginHasSummary=false

X-KDE-PluginInfo-Name=kontact_kcontactmanagerplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-AllowEmptySettings=true

Comment=Kontact KContactManager Plugin
Comment[da]=Kontact KContactManager-plugin
Comment[de]=KContactManager-Modul für Kontact
Comment[el]=Πρόσθετο KContactManager του Kontact
Comment[et]=Kontacti KContactManageri plugin
Comment[gl]=Engadido do KContactManager para o Kontact
Comment[it]=Estensione per Kontact di KContactManager
Comment[km]=កម្មវិធី​ជំនួយ Kontact KContactManager
Comment[lv]=Kontact KContactManager spraudnis
Comment[nb]=KContactManager programtillegg for Kontact
Comment[nds]=Kontaktpleeg-Moduul vun Kontact
Comment[nl]=KContactmanager-plugin van Kontact
Comment[nn]=Kontakt-programtillegg for KContactManager
Comment[pt]='Plugin' do KContactManager para o Kontact
Comment[pt_BR]=Plug-in KContactManager do Kontact
Comment[ru]=KContactManager — модуль Kontact
Comment[sv]=Kontacts insticksprogram för kontakthantering
Comment[tr]=Kontact KContactManager Eklentisi
Comment[uk]=Додаток до Kontact KContactManager
Comment[x-test]=xxKontact KContactManager Pluginxx
Comment[zh_CN]=Kontact KContactManager 插件
Comment[zh_TW]=Kontact KContactManager 外掛程式
Name=Contacts
Name[af]=Kontakte
Name[be]=Кантакты
Name[br]=Darempredoù
Name[ca]=Contactes
Name[cs]=Kontakty
Name[cy]=Cysylltau
Name[da]=Kontakter
Name[de]=Kontakte
Name[el]=Επαφές
Name[eo]=Kontaktoj
Name[es]=Contactos
Name[et]=Kontaktid
Name[eu]=Kontaktuak
Name[fa]=تماسها
Name[fi]=Yhteystiedot
Name[fy]=Adressen
Name[ga]=Teagmhálacha
Name[gl]=Contactos
Name[he]=אנשי קשר
Name[hu]=Névjegyek
Name[is]=Tengiliðir
Name[it]=Contatti
Name[ja]=連絡先
Name[ka]=კონტაქტები
Name[kk]=Контакттар
Name[km]=ទំនាក់ទំនង
Name[ko]=연락처
Name[lt]=Kontaktai
Name[lv]=Kontakti
Name[mk]=Контакти
Name[ms]=Orang hubungan
Name[nds]=Kontakten
Name[ne]=सम्पर्क
Name[nl]=Adressen
Name[nn]=Kontaktar
Name[oc]=Contactes
Name[pa]=ਸੰਪਰਕ
Name[pl]=Wizytówki
Name[pt]=Contactos
Name[pt_BR]=Contatos
Name[ro]=Contacte
Name[ru]=Контакты
Name[se]=Oktavuođat
Name[sk]=Kontakty
Name[sl]=Stiki
Name[sv]=Kontakter
Name[ta]=தொடர்புகள்
Name[tg]=Алоқот
Name[th]=ที่อยู่ติดต่อ
Name[tr]=Kişiler
Name[uk]=Контакти
Name[uz]=Aloqalar
Name[uz@cyrillic]=Алоқалар
Name[x-test]=xxContactsxx
Name[zh_CN]=联系人
Name[zh_TW]=聯絡人
