[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kontact_news
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_knodeplugin
X-KDE-KontactPluginVersion=4
X-KDE-KontactPartLibraryName=libknodepart
X-KDE-KontactPartExecutableName=knode

X-KDE-PluginInfo-Name=kontact_knodeplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false

Comment=Kontact KNode Plugin
Comment[ar]=Kontact KNodel أداة إضافية لـ
Comment[be]=Дапаўненьне Кантакту "KNode"
Comment[bg]=Приставка за четене на новини
Comment[br]=Lugent Kontact KNode
Comment[bs]=Kontact KNode dodatak
Comment[ca]=Endollable KNode per a Kontact
Comment[cs]=Modul KNode pro aplikaci Kontact
Comment[cy]=Ategyn KNode Kontact
Comment[da]=Kontact KNode-plugin
Comment[de]=KNode-Plugin für Kontact
Comment[el]=Πρόσθετο KNode του Kontact
Comment[es]=Accesorio KNode para Kontact
Comment[et]=Kontacti KNode plugin
Comment[fi]=Kontactin KNode-liitännäinen
Comment[fr]=Module KNode pour Kontact
Comment[gl]=Extensión de KNode para Kontact
Comment[he]=תוסף KNotes עבור Kaplan
Comment[hi]=कॉन्टेक्ट के-नोड प्लगइन
Comment[hu]=Kontact KNode-bővítőmodul
Comment[is]=Kontact KNode íforrit
Comment[it]=Plugin Knode Kontact
Comment[ja]=Kontact KNode プラグイン
Comment[nb]=Kontact programtillegg for KNode
Comment[nl]=Kontact KNode-plugin
Comment[nn]=Kontact, KNode-programtillegg
Comment[pl]=Wtyczka Kontact do współpracy z KNode
Comment[pt]='Plugin' do KNode para o Kontact
Comment[pt_BR]=Plug-in para Knode do Kontact
Comment[ro]=Modul KNode pentru Kontact
Comment[ru]=Модуль Kontact для доступа к KNode
Comment[se]=Kontact, KNode-lassemoduvla
Comment[sk]=Modul KNode pre Kontact
Comment[sl]=Vstavek KNode za Kontact
Comment[sr]=Прикључак Kontact-а за KNode
Comment[sr@Latn]=Priključak Kontact-a za KNode
Comment[sv]=Kontact insticksdelprogram för Knode
Comment[ta]=கேநோடு சொருகுப்பொருளை தொடர்பு கொள்
Comment[tg]=Модули Kontact барои дастрасӣ ба KNode
Comment[tr]=Kontact KNode Eklentisi
Comment[uk]=Втулок новин (KNode) Kontact
Comment[uz]=Kontact учун KNode плагини
Comment[zh_CN]=Kontact KNode 插件
Name=News
Name[ar]=أخبار
Name[be]=Навіны
Name[br]=Keleier
Name[bs]=Usenet
Name[ca]=Notícies
Name[cs]=Novinky
Name[cy]=Newyddion
Name[da]=Nyheder
Name[el]=Νέα
Name[es]=Noticias
Name[et]=Uudised
Name[fi]=Uutiset
Name[fr]=Nouvelles
Name[ga]=Nuacht
Name[gl]=Novas
Name[he]=חדשות
Name[hi]=समाचार
Name[hu]=Hírek
Name[is]=Fréttir
Name[nb]=Njus
Name[nl]=Nieuws
Name[nn]=Nyheiter
Name[pl]=Listy dyskusyjne
Name[pt]=Notícias
Name[pt_BR]=Notícias
Name[ro]=Ştiri
Name[ru]=Новости
Name[se]=Ođđasat
Name[sk]=Diskusné skupiny
Name[sl]=Novice
Name[sr]=Вести
Name[sr@Latn]=Vesti
Name[sv]=Nyheter
Name[ta]=செய்திகள்
Name[tg]=Ахборот
Name[tr]=Haberler
Name[uk]=Новини
Name[uz]=Янгиликлар
Name[zh_CN]=新闻
