[Desktop Entry]
Type=Service
Exec=
Comment=Kontact KNode Plugin
Comment[be]=Дапаўненьне Кантакту "KNode"
Comment[da]=Kontact KNode-plugin
Comment[es]=Accesorio KNode para Kontact
Comment[pt_BR]=Plug-in para Knode do Kontact
Comment[ru]=Модуль Kontact для доступа к KNode
Comment[sv]=Kontact insticksdelprogram för Knode
Name=News
Name[be]=Навіны
Name[da]=Nyheder
Name[es]=Noticias
Name[pt_BR]=Notícias
Name[ru]=Новости
Name[sv]=Nyheter
Icon=knode
ServiceTypes=Kontact/Plugin
X-KDE-Library=libkontact_knodeplugin
X-KDE-KontactIdentifier=news
X-KDE-KontactPluginVersion=1
