[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=knode
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_knodeplugin
X-KDE-KontactPluginVersion=1
X-KDE-KontactPartLibraryName=libknodepart
X-KDE-KontactPartExecutableName=knode

X-KDE-PluginInfo-Name=kontact_knodeplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false

Comment=Kontact KNode Plugin
Comment[be]=Дапаўненьне Кантакту "KNode"
Comment[ca]=Connector Kontact per a KNode
Comment[cs]=Modul KNode pro aplikaci Kontact
Comment[da]=Kontact KNode-plugin
Comment[es]=Accesorio KNode para Kontact
Comment[fr]=Module KNode pour Kontact
Comment[hu]=Kontact KNode-bővítőmodul
Comment[it]=Plugin Knode Kontact
Comment[pt_BR]=Plug-in para Knode do Kontact
Comment[ru]=Модуль Kontact для доступа к KNode
Comment[sr]=Додатак Kontact-а за KNode
Comment[sv]=Kontact insticksdelprogram för Knode
Comment[xx]=xxKontact KNode Pluginxx
Name=News
Name[be]=Навіны
Name[ca]=Notícies
Name[cs]=Novinky
Name[da]=Nyheder
Name[es]=Noticias
Name[fr]=Nouvelles
Name[hu]=Hírek
Name[it]=Notizie
Name[pt_BR]=Notícias
Name[ru]=Новости
Name[sr]=Вести
Name[sv]=Nyheter
Name[tr]=Haberler
Name[xx]=xxNewsxx
