[Desktop Entry]
Name=Kontact Administration
Name[ast]=Xestión de Kontact
Name[bs]=Upravljanje kontaktima
Name[ca]=Administració del Kontact
Name[ca@valencia]=Administració del Kontact
Name[cs]=Správa Kontactu
Name[da]=Administration af Kontact
Name[de]=Kontact-Verwaltung
Name[el]=Διαχείριση του Kontact
Name[en_GB]=Kontact Administration
Name[es]=Administración de Kontact
Name[et]=Kontacti haldur
Name[fi]=Kontactin hallinta
Name[fr]=Administration de Kontact
Name[ga]=Riarachán Kontact
Name[gl]=Administración do Akonadi
Name[hu]=Kontact adminisztráció
Name[ia]=Administration de Kontact
Name[it]=Gestione di Kontact
Name[ja]=Kontact の管理
Name[kk]=Kontact-ты әкімшілік ету
Name[km]=ការ​គ្រប់គ្រង Kontact
Name[ko]=Kontact 관리
Name[lt]=Kontact administravimas
Name[lv]=Kontact administrācija
Name[mr]=कॉन्टेक्ट प्रशासन
Name[nb]=Kontact-administrasjon
Name[nds]=Kontaktenpleeg
Name[nl]=Kontactbeheer
Name[nn]=Kontakt-administrering
Name[pa]=ਕੇਸੰਪਰਕ ਪਰਸ਼ਾਸ਼ਨ
Name[pl]=Administracja Kontact
Name[pt]=Administração do Kontact
Name[pt_BR]=Administração do Kontact
Name[ro]=Administrare Kontact
Name[ru]=Администрирование Kontact
Name[sk]=Správa Kontactu
Name[sl]=Skrbništvo Kontacta
Name[sr]=Администрирање Контакта
Name[sr@ijekavian]=Администрирање Контакта
Name[sr@ijekavianlatin]=Administriranje Kontacta
Name[sr@latin]=Administriranje Kontacta
Name[sv]=Administration av Kontact
Name[tr]=Kontact Yönetimi
Name[uk]=Адміністрування Kontact
Name[wa]=Manaedjmint di Kontact
Name[x-test]=xxKontact Administrationxx
Name[zh_CN]=Kontact 管理
Name[zh_TW]=Kontact 管理
Icon=kontact
Exec=kontact
Categories=Qt;KDE;Office;ProjectManagement;
X-DocPath=kontact-admin/index.html
NoDisplay=true
Terminal=false
Type=Application
