#headerL {
  background-image: url(top-left-kontact.png);
}

#title {
  right: 125px;
}

#tagline {
  right: 125px;
}

#subtext {
  font-style: italic;
}

/* vim:set sw=2 et nocindent smartindent: */
