[Desktop Entry]
Type=Service
Icon=kmobiletools
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_kmobiletoolsplugin
X-KDE-KontactPluginVersion=7
X-KDE-KontactPartLibraryName=kmobiletoolsmainpart

X-KDE-PluginInfo-Name=kontact_kmobiletoolsplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=KMobileTools Plugin
Comment[bg]=KAB Mobile Phone XXPort Plugin
Comment[ca]=Connector del KMmobileTools
Comment[de]=Modul für Mobiltelefonverwaltung
Comment[el]=Πρόσθετο KMmobileTools
Comment[es]=Complemento de KMobileTools
Comment[et]=KMmobileToolsi plugin
Comment[fa]=وصلۀ KMmobileTools
Comment[fi]=KMmobileTools -liitännäinen
Comment[fr]=Module externe KMobileTools
Comment[ga]=Breiseán KMmobileTools
Comment[it]=Plugin di KMobileTools
Comment[ja]=KMobileTools プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​របស់ KMmobileTools
Comment[ko]=KMMobileTools 플러그인
Comment[lv]=KMmobileTools spraudnis
Comment[nb]=KMobileTools programtillegg
Comment[nds]=KMobileTools-Moduul
Comment[ne]=KMmobile उपकरण प्लगइन
Comment[nl]=KMmobileTools-plugin
Comment[pa]=KM-ਮੋਬਾਇਲ ਟੂਲ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka do importu/eksportu z/do telefonu komórkowego
Comment[pt]='Plugin' do KMobileTools
Comment[pt_BR]=Plug-in do KMobileTools
Comment[sv]=Insticksprogram för Kmobiletools
Comment[tr]=KMmobileTools Eklentisi
Comment[uk]=Втулка KMmobileTools
Comment[x-test]=xxKMmobileTools Pluginxx
Comment[zh_CN]=KMobileTools 插件
Comment[zh_TW]=KMobileTools 外掛程式
Name=Mobile Phones
Name[ca]=Telèfons mòbils
Name[de]=Mobiltelefone
Name[el]=Κινητά τηλέφωνα
Name[es]=Teléfonos móviles
Name[et]=Mobiiltelefonid
Name[fa]=تلفنهای همراه
Name[fi]=Matkapuhelimet
Name[fr]=Téléphone portable
Name[ga]=Fóin Phóca
Name[it]=Telefoni cellulari
Name[ja]=携帯電話
Name[km]=ទូរស័ព្ទ​ចល័ត
Name[ko]=휴대폰
Name[lv]=Mobilie telefoni
Name[nb]=Mobiltelefoner
Name[nds]=Mobiltelefonen
Name[ne]=मोबाइल फोन
Name[nl]=Mobiele telefoons
Name[pa]=ਮੋਬਾਇਲ ਫੋਨ
Name[pl]=Telefony komórkowe
Name[pt]=Telemóveis
Name[pt_BR]=Celulares
Name[sv]=Mobiltelefoner
Name[tr]=Cep Telefonları
Name[uk]=Мобільні телефони
Name[x-test]=xxMobile Phonesxx
Name[zh_CN]=移动电话
Name[zh_TW]=行動電話
