[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kmobiletools
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_kmobiletools
X-KDE-KontactPluginVersion=7
X-KDE-KontactPartLibraryName=libkmobiletoolsmainpart

X-KDE-PluginInfo-Name=kontact_kmobiletools
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=KMmobileTools Plugin
Comment[el]=Πρόσθετο KMmobileTools
Comment[es]=Plugin de KMobileTools
Comment[fa]=وصلۀ KMmobileTools
Comment[ja]=KMobileTools プラグイン
Comment[pa]=ਕੇ-ਮੋਬਾਇਲ ਸੰਦ ਪਲੱਗਇਨ
Comment[pt]='Plugin' do KMobileTools
Comment[pt_BR]='Plugin' do KMobileTools
Comment[sv]=Insticksprogram för Kmobiletools
Comment[zh_TW]=KMobileTools 外掛程式
Name=Mobile Phones
Name[el]=Κινητά τηλέφωνα
Name[es]=Teléfonos móviles
Name[fa]=تلفنهای همراه
Name[ja]=携帯電話
Name[pa]=ਮੋਬਾਇਲ ਫੋਨ
Name[pt]=Telemóveis
Name[pt_BR]=Telemóveis
Name[sv]=Mobiltelefoner
Name[zh_TW]=行動電話
