[Desktop Entry]
Type=Service
Icon=kmobiletools
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_kmobiletoolsplugin
X-KDE-KontactPluginVersion=7
X-KDE-KontactPartLibraryName=kmobiletoolsmainpart

X-KDE-PluginInfo-Name=kontact_kmobiletoolsplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=KMobileTools Plugin
Comment[ca]=Connector del KMmobileTools
Comment[cs]=KMobileTools modul
Comment[da]=KMobileTools-plugin
Comment[de]=Modul für Mobiltelefonverwaltung
Comment[el]=Πρόσθετο KMmobileTools
Comment[es]=Complemento de KMobileTools
Comment[et]=KMobileToolsi plugin
Comment[fr]=Module externe KMobileTools
Comment[ga]=Breiseán KMobileTools
Comment[gl]=Engadido KMobileTools
Comment[it]=Estensione di KMobileTools
Comment[ja]=KMobileTools プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​របស់ KMmobileTools
Comment[ko]=KMobileTools 플러그인
Comment[lv]=KMobileTools spraudnis
Comment[nb]=KMobileTools programtillegg
Comment[nds]=KMobileTools-Moduul
Comment[nl]=KMmobileTools-plugin
Comment[nn]=KMobileTools-programtillegg
Comment[pa]=Kਮੋਬਾਇਲ ਟੂਲ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka KMobileTools
Comment[pt]='Plugin' do KMobileTools
Comment[pt_BR]=Plug-in do KMobileTools
Comment[sl]=Vstavek KMobileTools
Comment[sv]=Insticksprogram för Kmobiletools
Comment[tr]=KMobileTools Eklentisi
Comment[uk]=Втулка KMobileTools
Comment[x-test]=xxKMobileTools Pluginxx
Comment[zh_CN]=KMobileTools 插件
Comment[zh_TW]=KMobileTools 外掛程式
Name=Mobile Phones
Name[ca]=Telèfons mòbils
Name[cs]=Mobilní telefony
Name[da]=Mobiltelefoner
Name[de]=Mobiltelefone
Name[el]=Κινητά τηλέφωνα
Name[es]=Teléfonos móviles
Name[et]=Mobiiltelefonid
Name[fa]=تلفنهای همراه
Name[fi]=Matkapuhelimet
Name[fr]=Téléphones portables
Name[ga]=Fóin Phóca
Name[gl]=Teléfonos Móbeis
Name[it]=Telefoni cellulari
Name[ja]=携帯電話
Name[km]=ទូរស័ព្ទ​ចល័ត
Name[ko]=휴대폰
Name[lv]=Mobilie telefoni
Name[nb]=Mobiltelefoner
Name[nds]=Mobiltelefonen
Name[ne]=मोबाइल फोन
Name[nl]=Mobiele telefoons
Name[nn]=Mobiltelefonar
Name[pa]=ਮੋਬਾਇਲ ਫੋਨ
Name[pl]=Telefony komórkowe
Name[pt]=Telemóveis
Name[pt_BR]=Telefones celulares
Name[ro]=Telefoane mobile
Name[sl]=Mobilni telefoni
Name[sv]=Mobiltelefoner
Name[th]=โทรศัพท์เคลื่อนที่
Name[tr]=Cep Telefonları
Name[uk]=Мобільні телефони
Name[x-test]=xxMobile Phonesxx
Name[zh_CN]=移动电话
Name[zh_TW]=行動電話
