[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kaddressbook
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_kaddressbookplugin
X-KDE-KontactPluginVersion=3
X-KDE-KontactPartLibraryName=libkaddressbookpart
X-KDE-KontactPartExecutableName=kaddressbook

X-KDE-PluginInfo-Website=http://www.kaddressbook.org/
X-KDE-PluginInfo-Name=kontact_kaddressbookplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact KAddressBook Plugin
Comment[be]=Дапаўненьне Кантакту "K Адрасная кніга"
Comment[bg]=Приставка за адресника
Comment[ca]=Connector Kontact per a la Llibreta d'adreces
Comment[cs]=Modul Knihy adres pro Kontact
Comment[cy]=Ategyn KLlyfrCyfeiriadau Kontact
Comment[da]=Kontact KAddressbook-plugin
Comment[de]=Adressbuch-Plugin für Kontact
Comment[el]=Πρόσθετο KAddressBook του Kontact
Comment[es]=Plugin de KAddressbook para Kontact
Comment[et]=Kontacti KDE aadressiraamatu plugin
Comment[fi]=Kontactin KAddressBook-liitännäinen
Comment[fr]=Module KAddressBook pour Kontact
Comment[hi]=कॉन्टेक्ट के-एड्रेस-बुक प्लगइन
Comment[hu]=Kontact bővítőmodul a KAddressbookhoz
Comment[it]=Plugin Kontact di KAddressbook
Comment[nb]=Kontact programtillegg for KAddressbook
Comment[nl]=Kontact KAddressBook-plugin
Comment[nn]=Kontact, programtillegg for KDE-adresseboka
Comment[pt]='Plugin' do KAddressbook para o Kontact
Comment[pt_BR]=Plug-in para KAddressBook do Kontact
Comment[ru]=Модуль Kontact для доступа к адресной книге
Comment[sl]=Vstavek KadressBook za Kontact
Comment[sr]=Додатак Kontact-а за KAddressBook
Comment[sv]=Kontact-insticksprogram för adressbok
Comment[ta]= தொடர்பு கொள் ka  முகவரிப்புத்தகத்தை சொருகு
Comment[tr]=Kontact KAdresDefteri Eklentisi
Comment[uk]=Втулок адресної книги Kontact
Comment[xx]=xxKontact KAddressBook Pluginxx
Comment[zh_CN]=Kontact KAddressbook 插件
Name=Contacts
Name[be]=Кантакты
Name[ca]=Contactes
Name[cs]=Kontakty
Name[cy]=Cysylltau
Name[da]=Kontakter
Name[de]=Kontakte
Name[el]=Επαφές
Name[es]=Contactos
Name[et]=Kontaktid
Name[fi]=Kontaktit
Name[hi]=कॉन्टेक्ट्स
Name[hu]=Névjegyek
Name[it]=Contatti
Name[nl]=Contactpersonen
Name[nn]=Kontaktar
Name[pt]=Contactos
Name[pt_BR]=Contatos
Name[ru]=Контакты
Name[sl]=Stiki
Name[sr]=Контакти
Name[sv]=Kontakter
Name[ta]=தொடர்புகள்
Name[tr]=Bağlantılar
Name[uk]=Контакти
Name[xx]=xxContactsxx
Name[zh_CN]=联系人
