[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kaddressbook
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_kaddressbookplugin
X-KDE-KontactPluginVersion=1
X-KDE-KontactPartLibraryName=libkaddressbookpart
X-KDE-KontactPartExecutableName=kaddressbook

X-KDE-PluginInfo-Website=http://www.kaddressbook.org/
X-KDE-PluginInfo-Name=kontact_kaddressbookplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact KAddressBook Plugin
Comment[be]=Дапаўненьне Кантакту "K Адрасная кніга"
Comment[ca]=Connector Kontact per a la Llibreta d'adreces
Comment[cs]=Modul Knihy adres pro Kontact
Comment[da]=Kontact KAddressbook-plugin
Comment[el]=Πρόσθετο του Kontact για το KAddressBook
Comment[es]=Plugin de KAddressbook para Kontact
Comment[fr]=Module KAddressBook pour Kontact
Comment[hu]=Kontact bővítőmodul a KAddressbookhoz
Comment[it]=Plugin Kontact di KAddressbook
Comment[pt_BR]=Plug-in para KAddressBook do Kontact
Comment[ru]=Модуль Kontact для доступа к адресной книге
Comment[sr]=Додатак Kontact-а за KAddressBook
Comment[sv]=Kontact-insticksprogram för adressbok
Comment[tr]=Kontact KAdresDefteri Eklentisi
Comment[xx]=xxKontact KAddressBook Pluginxx
Name=Contacts
Name[be]=Кантакты
Name[ca]=Contactes
Name[cs]=Kontakty
Name[da]=Kontakter
Name[es]=Contactos
Name[hu]=Névjegyek
Name[it]=Contatti
Name[pt_BR]=Contatos
Name[ru]=Контакты
Name[sr]=Контакти
Name[sv]=Kontakter
Name[tr]=Bağlantılar
Name[xx]=xxContactsxx
