[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kontact_contacts
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_kaddressbookplugin
X-KDE-KontactPluginVersion=4
X-KDE-KontactPartLibraryName=libkaddressbookpart
X-KDE-KontactPartExecutableName=kaddressbook
X-KDE-KontactPluginHasSummary=false

X-KDE-PluginInfo-Website=http://www.kaddressbook.org/
X-KDE-PluginInfo-Name=kontact_kaddressbookplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact KAddressBook Plugin
Comment[fr]=Module KAddressBook pour Kontact
Comment[x-test]=xxKontact KAddressBook Pluginxx
Name=Contacts
Name[x-test]=xxContactsxx
