[Desktop Entry]
Encoding=UTF-8
Icon=kaddressbook
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kabsummary
X-KDE-FactoryName=kabsummary
X-KDE-ParentApp=kontact_kaddressbookplugin
X-KDE-ParentComponents=kontact_kaddressbookplugin
X-KDE-CfgDlgHierarchy=KAddressBook

Name=Address Book Summary
Name[xx]=xxAddress Book Summaryxx
Comment=Address Book Summary Setup
Comment[xx]=xxAddress Book Summary Setupxx
Keywords=birthday, anniversary, configure, settings
Keywords[xx]=xxbirthday, anniversary, configure, settingsxx
