[Desktop Entry]
Encoding=UTF-8
Icon=kontact_contacts
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kabsummary
X-KDE-FactoryName=kabsummary
X-KDE-ParentApp=kontact_kaddressbookplugin
X-KDE-ParentComponents=kontact_kaddressbookplugin
X-KDE-CfgDlgHierarchy=KAddressBook

Name=Address Book Summary
Name[bg]=Обобщение на адресника
Name[bs]=Sažetak za adresar
Name[ca]=Resum de la llibreta d'adreces
Name[cs]=Souhrn knihy adres
Name[da]=Adressebogssammendrag
Name[de]=Adressbuch Übersicht
Name[es]=Resumen de la libreta de direcciones
Name[et]=Aadressiraamatu kokkuvõte
Name[fr]=Résumé de carnet d'adresses
Name[gl]=Sumario do Caderno de Enderezos
Name[he]=תמצית פנקס כתובות
Name[hu]=Címjegyzék-áttekintés
Name[it]=Sommario rubrica indirizzi
Name[nb]=Addressebok sammendrag
Name[nl]=Adresboek overzicht
Name[nn]=Samandrag av adressebok
Name[pl]=Podsumowanie Książki adresowej
Name[pt]=Sumário do Livro de Endereços
Name[pt_BR]=Resumo do Livro de Endereços
Name[ru]=Контакты
Name[sk]=Súhrn adresára
Name[sl]=Povzetek Adresarja
Name[sr]=Сажетак адресара
Name[sr@Latn]=Сажетак адресара
Name[sv]=Adressboksöversikt
Name[ta]=முகவரிப் புத்தகச் சுருக்கம்
Name[tg]=Дайджести китоби адрес
Name[zh_CN]=地址簿摘要
Comment=Address Book Summary Setup
Comment[bg]=Настройки на обобщението на адресника
Comment[bs]=Podešavanje sažetka za Adresar
Comment[ca]=Configuració del resum de la llibreta d'adreces
Comment[cs]=Nastavení souhrnu knihy adres
Comment[da]=Opsætning af adressebogssammendrag
Comment[de]=Addressbuchübersicht-Einstellungen
Comment[es]=Configuración del resumen de la libreta de direcciones
Comment[et]=Aadressiraamatu kokkuvõtte seadistus
Comment[fr]=Configuration du résumé de carnet d'adresses
Comment[gl]=Configuración do sumario do Caderno de Enderezos
Comment[he]=תצורה של תמצית פנקס כתובות
Comment[hu]=A címjegyzék-áttekintés beállításai
Comment[it]=Plugin impostazioni rubrica indirizzi
Comment[nb]=Oppsett av adressebok sammendrag
Comment[nl]=KAddressBook Overzichts-plugin
Comment[nn]=Oppsett av samandrag av adresseboka
Comment[pl]=Ustawienia podsumowania Książki adresowej
Comment[pt]=Configuração do Sumário do Livro de Endereços
Comment[pt_BR]=Configuração do Resumo do Livro de Endereços
Comment[ru]=Модуль дайджеста контактов
Comment[sk]=Nastavenie súhrnu adresára
Comment[sl]=Nastavitve povzetka Adresarja
Comment[sr]=Подешавање сажетка адресара
Comment[sr@Latn]=Подешавање сажетка адресара
Comment[sv]=Inställning av adressboksöversikt
Comment[ta]=முகவரி புத்தக சுருக்க அமைப்பு
Comment[tg]=Модули дайджести китоби адрес
Comment[zh_CN]=地址簿摘要设置
Keywords=birthday, anniversary, configure, settings
Keywords[be]=дзень нараджэньня, гадавіна, настроіць, настройкі, birthday, anniversary, configure, settings
Keywords[bg]=рождени, рожден, дни, ден, годишнина, годишнини, обобщение, birthday, anniversary, configure, settings
Keywords[bs]=birthday, anniversary, configure, settings, rođendan, godišnjica, postavke
Keywords[ca]=data de naixement, aniversari, configuració, arranjament
Keywords[cs]=narozeniny,výročí,nastavení,nastavit
Keywords[da]=fødselsdag, årsdag, indstil, opsætning
Keywords[de]=Geburtstag,Jahrestag,einstellen,Einstellungen
Keywords[es]=cumpleaños, aniversario, configurar, preferencias
Keywords[et]=sünnipäev, tähtpäev, seadistamine, seadistused
Keywords[fr]=anniversaire,date de naissance,configurer,paramètres,préférences
Keywords[gl]=cumpreanos, aniversario, configurar, opcións
Keywords[he]=הולדת, שנה, תצורה, הגדרות
Keywords[hu]=születésnap,évforduló,konfigurálás,beállítások
Keywords[it]=compleanno, anniversario, configura, impostazioni
Keywords[nb]=fødselsdag, jubileum, sette opp, innstillinger
Keywords[nl]=verjaardag,instellingen,configuratie
Keywords[nn]=fødselsdag,bursdag,gebursdag,jubileum,oppsett,innstillingar
Keywords[pl]=urodziny,rocznica,konfiguracja,ustawienia
Keywords[pt]=data de nascimento, aniversário, configurar, configuração
Keywords[pt_BR]=aniversário,aniversário,configurar,configurações
Keywords[ru]=birthday,anniversary,configure,settings,дни рождения,настройки
Keywords[sk]=narodeniny,výročie,nastavenie
Keywords[sl]=rojstni dan,obletnica,nastavi,nastavitve
Keywords[sr]=рођендан, годишњица, подеси, поставке
Keywords[sr@Latn]=рођендан, годишњица, подеси, поставке
Keywords[sv]=födelsedag, bröllopsdag, anpassa, inställningar
Keywords[ta]=பிறந்தநாள், ஆண்டுவிழா, கட்டமைப்பு,அமைவுகள்
Keywords[tg]=birthday, anniversary, configure, settings, рӯзҳои таваллуд,танзимот
Keywords[zh_CN]=birthday, anniversary, configure, settings, 周年纪念, 配置, 设置
