[Desktop Entry]
Encoding=UTF-8
Icon=kaddressbook
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kabsummary
X-KDE-FactoryName=kabsummary
X-KDE-ParentApp=kontact_kaddressbookplugin
X-KDE-ParentComponents=kontact_kaddressbookplugin
X-KDE-CfgDlgHierarchy=KAddressBook

Name=Address Book Summary
Name[da]=Adressebogssammendrag
Name[es]=Resumen de la libreta de direcciones
Name[et]=Aadressiraamatu kokkuvõte
Name[fr]=Résumé de carnet d'adresses
Name[nl]=Adresboek overzicht
Name[pt_BR]=Sumário do Livro de Endereços
Name[sv]=Adressboksöversikt
Comment=Address Book Summary Setup
Comment[da]=Opsætning af adressebogssammendrag
Comment[es]=Configuración del resumen de la libreta de direcciones
Comment[et]=Aadressiraamatu kokkuvõtte seadistus
Comment[fr]=Configuration du résumé de carnet d'adresses
Comment[nl]=KAddressBook Overzichts-plugin
Comment[pt_BR]=Configuração do Sumário do Livro de Endereços
Comment[sv]=Inställning av adressboksöversikt
Keywords=birthday, anniversary, configure, settings
Keywords[be]=дзень нараджэньня, гадавіна, настроіць, настройкі, birthday, anniversary, configure, settings
Keywords[da]=fødselsdag, årsdag, indstil, opsætning
Keywords[es]=cumpleaños, aniversario, configurar, preferencias
Keywords[et]=sünnipäev, tähtpäev, seadistamine, seadistused
Keywords[fr]=anniversaire,date de naissance,configurer,paramètres,préférences
Keywords[nl]=verjaardag,instellingen,configuratie
Keywords[pt_BR]=aniversário,aniversário,configurar,configurações
Keywords[sv]=födelsedag, bröllopsdag, anpassa, inställningar
