[Desktop Entry]
Type=Service
Exec=blubb
Comment=Kontact KAddressBook Plugin
Comment[be]=Дапаўненьне Кантакту "K Адрасная кніга"
Comment[es]=Plugin de KAddressbook para Kontact
Comment[hu]=Kontact - bővítőmodul a KAddressbookhoz
Comment[sv]=Kontact-insticksprogram för Kadressbok
Name=KAddressBookPlugin
Name[be]=Дапаўненьне "K Адрасная кніга"
Name[bg]=Plugin за КАдресна книга
Name[cs]=Modul knihy adres
Name[de]=Adressbuch-Plugin
Name[eo]=Adresaro-kromaĵo
Name[es]=Plugin de libreta de direcciones
Name[fr]=Module de carnet d'adresse
Name[he]=תוסף KAddressbook
Name[hr]=Adresar dodatak
Name[hu]=KAddressbook-modul
Name[it]=Plugin di KAddressbook
Name[ja]=KAddressbookプラグイン
Name[lt]=Adresų knygelės priedas
Name[nb]=KAddressbook-programtillegg
Name[nl]=KAddressbook-plugin
Name[nn]=Programtillegg for KDE-adressebok
Name[nso]=Plugin ya Buka ya KDiaterese
Name[pl]=Wtyczka książki adresowej
Name[pt_BR]=Plugin do Livro de endereços
Name[ro]=Modul carte de adrese
Name[ru]=Модуль адресной книги
Name[sk]=Modul KAddressbook
Name[sl]=Vstavek za Adresar
Name[sv]=Kadressbok-insticksprogram
Name[tr]=Adres Defteri Eklentisi
Name[uk]=Втулок KAddressbook
Name[ven]=Plugin ya bugu ya diresi ya K
Name[zh_CN]=KAddressbook 插件
Icon=konsole
ServiceTypes=Kontact/Plugin
X-KDE-Library=libkpkaddressbookplugin
