[Desktop Entry]
Type=Service
Exec=blubb
Comment=Kaplan KAddressbook Plugin
Comment[cs]=Modul pro knihu adres
Comment[da]=Kaplan KAddressbook-plugin
Comment[de]=Kaplan-Adressbuch-Plugin
Comment[el]=Πρόσθετο του Kaplan για το KAddressbook
Comment[eo]=Kaplan-Adresaro kromaĵo
Comment[es]=Plugin de libreta de direcciones de Kaplan
Comment[et]=Kaplan KAddressbook plugin
Comment[fi]=Kaplan KAddressbook sovelma
Comment[fr]=Module Kaplan pour le carnet d'adresse
Comment[he]=תוסף KAddressbook ל-Kaplan
Comment[hr]=Kaplan dodatak za Adresar
Comment[hu]=Kaplan-bővítőmodul a KDE címjegyzékhez
Comment[it]=Plugin Kaplan di KAddressbook
Comment[ja]=Kaplan KAddressbook プラグイン
Comment[lt]=Kaplan adresų knygelės priedas
Comment[nb]=Kaplan KAddressbook-programtillegg
Comment[nl]=Kaplan KAddressbook-plugin
Comment[nn]=Kaplan, programtillegg for KDE-adresseboka
Comment[nso]=Plugin ya Buka ya KDiaterese tsa Kaplan
Comment[pl]=Wtyczka książki adresowej Kaplana
Comment[pt]='Plugin' do KAddressbook para o Kaplan
Comment[pt_BR]=Plugin Kaplan do Livro de endereços do KDE
Comment[ro]=Modul carte de adrese pentru Kaplan
Comment[ru]=Модуль Kaplan для адресной книги KDE
Comment[sk]=Modul KDE adresár pre Kaplan
Comment[sv]=Kaplan-insticksprogram för Kadressbok
Comment[tr]=Kaplan Adres Defteri Eklentisi
Comment[uk]=Втулок адресної книги Kaplan
Comment[ven]=Plugin ya bugu ya diresi ya K ya Kaplan
Comment[zh_CN]=Kaplan KAddressbook 插件
Comment[zh_TW]=Kaplan KAddressbook 外掛程式
Comment[zu]=I-Plugin ye-Kaplan KAddressbook
Name=KAddressbookPlugin
Name[cs]=Modul knihy adres
Name[de]=Adressbuch-Plugin
Name[eo]=Adresaro-kromaĵo
Name[es]=Plugin de libreta de direcciones
Name[fr]=Module de carnet d'adresse
Name[he]=תוסף KAddressbook
Name[hr]=Adresar dodatak
Name[hu]=KAddressbook-modul
Name[it]=Plugin di KAddressbook
Name[ja]=KAddressbookプラグイン
Name[lt]=Adresų knygelės priedas
Name[nb]=KAddressbook-programtillegg
Name[nl]=KAddressbook-plugin
Name[nn]=Programtillegg for KDE-adressebok
Name[nso]=Plugin ya Buka ya KDiaterese
Name[pl]=Wtyczka książki adresowej
Name[pt_BR]=Plugin do Livro de endereços
Name[ro]=Modul carte de adrese
Name[ru]=Модуль адресной книги
Name[sk]=Modul KAddressbook
Name[sl]=Vstavek za Adresar
Name[sv]=Kadressbok-insticksprogram
Name[tr]=Adres Defteri Eklentisi
Name[uk]=Втулок KAddressbook
Name[ven]=Plugin ya bugu ya diresi ya K
Name[zh_CN]=KAddressbook 插件
Icon=konsole
ServiceTypes=Kaplan/Plugin
X-KDE-Library=libkpkaddressbookplugin
