[Desktop Entry]
Icon=knotes
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_knotessummary
X-KDE-FactoryName=knotessummary
X-KDE-ParentApp=kontact_summaryplugin
X-KDE-ParentComponents=kontact_summaryplugin
X-KDE-CfgDlgHierarchy=KontactSummary
X-KDE-Weight=200

Name=New Notes
Name[bs]=Nove bilješke
Name[ca]=Notes noves
Name[ca@valencia]=Notes noves
Name[cs]=Nové poznámky
Name[da]=Nye noter
Name[de]=Neue Notizen
Name[el]=Νέες σημειώσεις
Name[en_GB]=New Notes
Name[es]=Nuevas notas
Name[et]=Uued märkmed
Name[fi]=Uudet muistiinpanot
Name[fr]=Nouvelles notes
Name[gl]=Novas notas
Name[hu]=Új jegyzetek
Name[ia]=Nove notas
Name[it]=Nuove note
Name[nb]=Nye notater
Name[nds]=Nieg Notizen
Name[nl]=Nieuwe notities
Name[pl]=Nowe notatki
Name[pt]=Novas Notas
Name[pt_BR]=Novas notas
Name[ru]=Новые заметки
Name[sk]=Nové poznámky
Name[sr]=Нове белешке
Name[sr@ijekavian]=Нове белешке
Name[sr@ijekavianlatin]=Nove beleške
Name[sr@latin]=Nove beleške
Name[sv]=Nya anteckningar
Name[tr]=Yeni Notlar
Name[uk]=Нові нотатки
Name[x-test]=xxNew Notesxx
Name[zh_TW]=新增便條
Comment=Notes Summary Setup
Comment[bs]=Postavke kratkog sadržaja bilješki
Comment[ca]=Configuració del resum per a les notes
Comment[ca@valencia]=Configuració del resum per a les notes
Comment[cs]=Nastavení souhrnu poznámek
Comment[da]=Opsætning af noteoversigt
Comment[de]=Einstellung der Notizen-Übersicht
Comment[el]=Ρύθμιση σύνοψης σημειώσεων
Comment[en_GB]=Notes Summary Setup
Comment[es]=Configuración del resumen de notas
Comment[et]=Märkmete kokkuvõtte seadistus
Comment[fi]=Muistiinpanoyhteenvedon asetukset
Comment[fr]=Configuration du résumé des notes
Comment[gl]=Configuración do resumo das notas
Comment[hu]=Jegyzetek áttekintésének beállításai
Comment[ia]=Configuration de summario de Notas
Comment[it]=Impostazioni sommario note
Comment[nb]=Notater sammendragsoppsett
Comment[nds]=De Notizen-Översicht instellen
Comment[nl]=Instellingen voor overzicht van notities
Comment[pl]=Ustawienia podsumowania notatek
Comment[pt]=Configuração do Resumo das Notas
Comment[pt_BR]=Configuração do resumo de notas
Comment[ru]=Настройка дайджеста заметок
Comment[sk]=Nastavenie súhrnu poznámok
Comment[sr]=Подешавање сажетка бележака
Comment[sr@ijekavian]=Подешавање сажетка бележака
Comment[sr@ijekavianlatin]=Podešavanje sažetka beležaka
Comment[sr@latin]=Podešavanje sažetka beležaka
Comment[sv]=Inställning av anteckningsöversikt
Comment[tr]=Not Özeti Kurulumu
Comment[uk]=Налаштування резюме щодо нотаток
Comment[x-test]=xxNotes Summary Setupxx
Comment[zh_TW]=便條摘要設定
X-KDE-Keywords=notes, summary, configure, settings
X-KDE-Keywords[bs]=bilješke, rezime, konfiguriranje, postavke
X-KDE-Keywords[ca]=notes, resum, configura, arranjament
X-KDE-Keywords[ca@valencia]=notes, resum, configura, arranjament
X-KDE-Keywords[da]=noter, oversigt, indstil, indstillinger
X-KDE-Keywords[de]=Notizen,Übersicht,einstellen,konfigurieren,Konfiguration,Einrichtung,Einstellungen
X-KDE-Keywords[el]=σημειώσεις, σύνοψη, διαμόρφωση, ρυθμίσεις
X-KDE-Keywords[en_GB]=notes, summary, configure, settings
X-KDE-Keywords[es]=notas, resumen, configurar, preferencias
X-KDE-Keywords[et]=märkmed, kokkuvõte, seadistamine, seadistused
X-KDE-Keywords[fi]=notes, muistiinpanot, summary, yhteenveto, configure, asetukset
X-KDE-Keywords[fr]=notes,résumé,configuration,paramètres
X-KDE-Keywords[gl]=notas, resumo, configurar, opcións
X-KDE-Keywords[hu]=jegyzetek, összegzés, beállítás, beállítások
X-KDE-Keywords[ia]=notas, summario,configura,preferentias
X-KDE-Keywords[it]=note, sommario, configurazione, impostazioni
X-KDE-Keywords[nb]=notater,sammendrag,oppsett,innstillinger
X-KDE-Keywords[nds]=Notizen,Tosamenfaten,instellen,inrichten
X-KDE-Keywords[nl]=notities, samenvatting, instellen, instellingen
X-KDE-Keywords[pl]=notatki, podsumowanie, konfiguruj, ustawienia
X-KDE-Keywords[pt]=notas, resumo, configurar, configuração
X-KDE-Keywords[pt_BR]=notas, resumo, configurar, configurações
X-KDE-Keywords[ru]=notes,email,summary,configure,settings,заметки,настройка,сводка,почта,дайджест,почта
X-KDE-Keywords[sk]=email, súhrn, nastaviť, nastavenia
X-KDE-Keywords[sr]=notes,summary,configure,settings,белешке,сажетак,подешавање,подесити,поставке
X-KDE-Keywords[sr@ijekavian]=notes,summary,configure,settings,белешке,сажетак,подешавање,подесити,поставке
X-KDE-Keywords[sr@ijekavianlatin]=notes,summary,configure,settings,beleške,sažetak,podešavanje,podesiti,postavke
X-KDE-Keywords[sr@latin]=notes,summary,configure,settings,beleške,sažetak,podešavanje,podesiti,postavke
X-KDE-Keywords[sv]=anteckningar, sammanfattning, anpassa, inställningar
X-KDE-Keywords[tr]=notlar, özet, yapılandır, ayarlar
X-KDE-Keywords[uk]=notes, summary, configure, settings, нотатки, резюме, налаштувати, параметри
X-KDE-Keywords[x-test]=xxnotes, summary, configure, settingsxx
X-KDE-Keywords[zh_TW]=notes, summary, configure, settings
