[Desktop Entry]
Type=Service
Icon=kontact_notes
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_knotesplugin
X-KDE-KontactPluginVersion=6
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Website=http://pim.kde.org/components/knotes.php
X-KDE-PluginInfo-Name=kontact_knotesplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Notes Component (KNotes Plugin)
Comment[bg]=Приставка за бележки
Comment[ca]=Component de notes (endollable del KNotes)
Comment[da]=Notatkomponent (KNotes-plugin)
Comment[de]=Notizen-Komponente (KNotes-Modul)
Comment[el]=Συσταικό σημειώσεων (Πρόσθετο του KNotes)
Comment[es]=Componente de notas (complemento de KNotes)
Comment[et]=Märkmete plugin (KNotes)
Comment[fr]=Composant de notes (Module KNotes)
Comment[is]=Minnismiðaeining (KNotes íforrit)
Comment[it]=Componente note (plugin KNotes)
Comment[ja]=メモコンポーネント (KNotes プラグイン)
Comment[km]=សមាសភាគ​ចំណាំ (កម្មវិធី​ជំនួយ KNotes​)
Comment[nds]=Notizen-Komponent (KNotes-Moduul)
Comment[nl]=Notitiecomponent (KNotes-plugin)
Comment[pl]=Składnik notatek (wtyczka KNotes)
Comment[ru]=Заметки (модуль KNotes)
Comment[sr]=Компонента белешки (прикључак KNotes-а)
Comment[sr@Latn]=Komponenta beleški (priključak KNotes-a)
Comment[sv]=Anteckningskomponent (Knotes-insticksprogram)
Comment[tr]=Notlar Bileşeni (KNotes Eklentisi)
Comment[zh_CN]=便笺组件(KNotes 插件)
Comment[zh_TW]=便條組件（KNotes 外掛程式）
Name=Notes
Name[af]=Notas
Name[ar]=الملاحظات
Name[be]=Нататкі
Name[bg]=Бележки
Name[br]=Notennoù
Name[bs]=Bilješke
Name[cs]=Poznámky
Name[cy]=Nodiadau
Name[da]=Noter
Name[de]=Notizen
Name[el]=Σημειώσεις
Name[eo]=Notoj
Name[es]=Notas
Name[et]=Märkmed
Name[eu]=Oharrak
Name[fa]=یادداشتها
Name[fi]=Muistio
Name[fy]=Notysjes
Name[ga]=Nótaí
Name[gl]=Notas
Name[he]=פתקים
Name[hi]=टीप
Name[hu]=Feljegyzések
Name[is]=Minnismiðar
Name[it]=Note
Name[ja]=メモ
Name[ka]=ჩანიშვნები
Name[kk]=Жазбалар
Name[km]=ចំណាំ
Name[lt]=Užrašai
Name[mk]=Белешки
Name[ms]=Nota
Name[nds]=Notizen
Name[ne]=टिपोट
Name[nl]=Notities
Name[nn]=Notat
Name[pl]=Notatki
Name[pt]=Notas
Name[pt_BR]=Notas
Name[ro]=Notiţe
Name[ru]=Заметки
Name[se]=Nohtat
Name[sk]=Poznámky
Name[sl]=Notice
Name[sr]=Белешке
Name[sr@Latn]=Beleške
Name[sv]=Anteckningar
Name[ta]=குறிப்புகள்
Name[tg]=Ахборот
Name[th]=บันทึกช่วยจำ
Name[tr]=Notlar
Name[uk]=Примітки
Name[uz]=Yozma xotira
Name[uz@cyrillic]=Ёзма хотира
Name[zh_CN]=便笺
Name[zh_TW]=備忘錄
