[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kontact_notes
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_knotesplugin
X-KDE-KontactPluginVersion=4
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Website=http://pim.kde.org/components/knotes.php
X-KDE-PluginInfo-Name=kontact_knotesplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact KNotes Plugin
Comment[x-test]=xxKontact KNotes Pluginxx
Name=Notes
Name[x-test]=xxNotesxx
