<!DOCTYPE kpartgui>
<kpartgui name="knotes" version="2">
  <MenuBar>
    <Menu name="edit"><text>&amp;Edit</text>
      <Action name="edit_rename"/>
      <Action name="edit_delete"/>
    </Menu>
  </MenuBar>

  <Menu name="note_context">
    <Action name="file_new"/>
    <Action name="edit_rename"/>
    <Action name="edit_delete"/>
  </Menu>
</kpartgui>
