[Desktop Entry]
Type=Service
Icon=view-pim-notes
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_knotesplugin
X-KDE-KontactPluginVersion=7
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Website=http://pim.kde.org/components/knotes.php
X-KDE-PluginInfo-Name=kontact_knotesplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact KNotes Plugin
Comment[af]=Kontact KNotes inprop module
Comment[be]=Утулка Kontact KNotes
Comment[bg]=Приставка за бележки
Comment[br]=Lugent Kontact KNotes
Comment[ca]=Connector del KNotes per al Kontact
Comment[cs]=Modul KNotes pro aplikaci Kontact
Comment[cy]=Ategyn KNotes Kontact 
Comment[da]=Kontact KNotes-plugin
Comment[de]=KNotes-Modul für Kontact
Comment[el]=Πρόσθετο KNotes του Kontact
Comment[eo]=Kontact-KNotes-kromaĵo
Comment[es]=Complemento de KNotes para Kontact
Comment[et]=Kontacti KNotesi plugin
Comment[eu]=Kontact-en KNotes plugin-a
Comment[fa]=وصلۀ Kontact KNotes
Comment[fi]=Kontactin KNotes-liitännäinen
Comment[fr]=Module KNotes pour Kontact
Comment[fy]=Kontact KNotes-plugin
Comment[ga]=Breiseán KNotes le haghaidh Kontact
Comment[gl]=Extensión de KNotes para Kontact
Comment[hu]=Kontact KNotes-bővítőmodul
Comment[is]=Kontact KNotes íforrit
Comment[it]=Plugin Kontact KNotes
Comment[ja]=Kontact KNotes プラグイン
Comment[ka]=Kontact KNotes  მოდული
Comment[kk]=KNotes модулі
Comment[km]=កម្មវិធី​ជំនួយ KNotes ក្នុង Kontact
Comment[ko]=Kontact KNotes 플러그인
Comment[lt]=Kontact KNotes priedas
Comment[lv]=Kontact KNotes spraudnis
Comment[mk]=Приклучок за КБелешки во Контакт
Comment[ms]=Plugin KNotes Kontact KNotes 
Comment[nb]=Kontact programtillegg for KNotes
Comment[nds]=KNotes-Moduul för Kontact
Comment[ne]=केडीई टिपोट प्लगइन सम्पर्क गर्नुहोस्
Comment[nl]=Kontact KNotes-plugin
Comment[pl]=Wtyczka Kontact do współpracy z KNotes
Comment[pt]='Plugin' do KNotes para o Kontact
Comment[pt_BR]=Plug-in do KNotes para o Kontact
Comment[ro]=Modul KNotes pentru Kontact
Comment[ru]=Заметки
Comment[se]=Kontact, KNotes-lassemoduvla
Comment[sl]=Vstavek KNotes za Kontact
Comment[sv]=Kontact insticksdelprogram för Knotes
Comment[ta]= கேகுறிப்புகளை சொருகுப்பொருளை தொடர்புகொள்
Comment[tg]=Модули Kontact барои дастрасӣ ба ахборот
Comment[tr]=Kontact KNotes Eklentisi
Comment[uk]=Втулок приміток (KNotes) Kontact
Comment[uz]=Kontact uchun KNotes plagini
Comment[uz@cyrillic]=Kontact учун KNotes плагини
Comment[x-test]=xxKontact KNotes Pluginxx
Comment[zh_CN]=Kontact KNotes 插件
Comment[zh_TW]=Kontact KNotes 外掛程式
Name=Notes
Name[af]=Notas
Name[be]=Заметкі
Name[br]=Notennoù
Name[cs]=Poznámky
Name[cy]=Nodiadau
Name[da]=Noter
Name[de]=Notizen
Name[el]=Σημειώσεις
Name[eo]=Notoj
Name[es]=Notas
Name[et]=Märkmed
Name[eu]=Oharrak
Name[fa]=یادداشتها
Name[fi]=Muistio
Name[fy]=Notysjes
Name[ga]=Nótaí
Name[gl]=Notas
Name[he]=פתקים
Name[hu]=Feljegyzések
Name[is]=Minnismiðar
Name[it]=Note
Name[ja]=メモ
Name[ka]=ჩანიშვნები
Name[kk]=Жазбалар
Name[km]=ចំណាំ
Name[ko]=노트
Name[lt]=Užrašai
Name[lv]=Piezīmes
Name[mk]=Белешки
Name[ms]=Nota
Name[nds]=Notizen
Name[ne]=टिपोट
Name[nl]=Notities
Name[oc]=Nòtas
Name[pa]=ਨੋਟਿਸ
Name[pl]=Notatki
Name[pt]=Notas
Name[pt_BR]=Notas
Name[ro]=Notiţe
Name[ru]=Заметки
Name[se]=Nohtat
Name[sk]=Poznámky
Name[sl]=Notice
Name[sv]=Anteckningar
Name[ta]=குறிப்புகள்
Name[tg]=Ахборот
Name[tr]=Notlar
Name[uk]=Примітки
Name[uz]=Yozma xotira
Name[uz@cyrillic]=Ёзма хотира
Name[x-test]=xxNotesxx
Name[zh_CN]=便笺
Name[zh_TW]=備忘錄
