[Desktop Entry]
Type=Service
Exec=blubb
Comment=Kaplan KNotes Plugin
Name=KNotesPlugin
Icon=konsole
ServiceTypes=Kaplan/Plugin
X-KDE-Library=libkpknotesplugin
