[Desktop Entry]
Type=Service
Exec=blubb
Comment=Kaplan KNotes Plugin
Comment[da]=Kaplan KNotes-indstik
Comment[el]=Πρόσθετο KNotes του Kaplan
Comment[es]=Plugin de KNotes Kaplan
Comment[fi]=Kaplan KNotes sovelma
Comment[fr]=Module de Kaplan pour KNotes
Comment[he]=תוסף KNotes ל-Kaplan
Comment[hr]=Kaplan KNotes dodatak
Comment[hu]=Kaplan KNotes-bővítőmodul
Comment[ja]=Kaplan KNotes プラグイン
Comment[pt_BR]=Plugin Kaplan para o Knotes
Comment[sv]=Kaplan Knotes-insticksdelprogram
Comment[tr]=Kaplan KNotes Eklentisi
Name=KNotesPlugin
Name[cs]=Modul poznámek
Name[da]=KNotesIndstik
Name[el]=KNotes πρόσθετο
Name[fr]=module de KNotes
Name[he]=תוסף KNotes
Name[hr]=KNotesUmetak
Name[hu]=KNotes-modul
Name[ja]=KNotesプラグイン
Name[pt_BR]=plugin do Knotes
Name[sv]=Knotes-insticksprogram
Name[tr]=KNotes Eklentisi
Icon=konsole
ServiceTypes=Kaplan/Plugin
X-KDE-Library=libkpknotesplugin
