[Desktop Entry]
Type=Service
Exec=blubb
Comment=Kaplan KNotes Plugin
Comment[cs]=Modul KNotes pro aplikaci Kaplan
Comment[da]=Kaplan KNotes-plugin
Comment[de]=Kaplan-KNotes-Plugin
Comment[el]=Πρόσθετο KNotes του Kaplan
Comment[eo]=Kplan-Notoj-kromaĵo
Comment[es]=Plugin de KNotes Kaplan
Comment[et]=Kaplan KNotes plugin
Comment[fi]=Kaplan KNotes sovelma
Comment[fr]=Module de Kaplan pour KNotes
Comment[he]=תוסף KNotes ל-Kaplan
Comment[hr]=Kaplan KNotes dodatak
Comment[hu]=Kaplan KNotes-bővítőmodul
Comment[it]=Plugin Kaplan KNotes
Comment[ja]=Kaplan KNotes プラグイン
Comment[lt]=Kaplan KNotes priedas
Comment[nb]=Kaplan KNotes-programtillegg
Comment[nl]=Kaplan KNotes-plugin
Comment[nn]=Kaplan, KNotes-programtillegg
Comment[nso]=Plugin ya KDitshwao tsa Kaplan
Comment[pl]=Wtyczka Żółtych karteczek Kaplana
Comment[pt]='Plugin' do KNotes para o Kaplan
Comment[pt_BR]=Plugin Kaplan para o Knotes
Comment[ru]=Модуль Kaplan для KNotes
Comment[sk]=Modul KNotes pre Kaplan
Comment[sv]=Kaplan Knotes-insticksdelprogram
Comment[tr]=Kaplan KNotes Eklentisi
Comment[uk]=Втулок зображень
Comment[xh]=Kaplan KNotes Iplagi efakiweyo
Comment[zh_CN]=Kaplan KNotes 插件
Comment[zh_TW]=Kaplan KNotes 外掛程式
Comment[zu]=I-Plugin ye-Kaplan KNotes
Name=KNotesPlugin
Name[cs]=Modul poznámek
Name[de]=KNotes-Plugin
Name[el]=KNotes πρόσθετο
Name[eo]=Notoj-kromaĵo
Name[fr]=module de KNotes
Name[he]=תוסף KNotes
Name[hr]=KNotesUmetak
Name[hu]=KNotes-modul
Name[it]=Plugin KNotes
Name[ja]=KNotesプラグイン
Name[lt]=KNotes priedas
Name[nb]=KNotes-programtillegg
Name[nl]=KNotes-plugin
Name[nn]=KNotes-programtillegg
Name[nso]=Plugin ya KDitshwao
Name[pl]=Wtyczka Żółtych karteczek
Name[pt_BR]=plugin do Knotes
Name[ru]=Модуль для заметок
Name[sk]=KNotesModul
Name[sv]=Knotes-insticksprogram
Name[tr]=KNotes Eklentisi
Name[zh_CN]=KNotes 插件
Icon=konsole
ServiceTypes=Kaplan/Plugin
X-KDE-Library=libkpknotesplugin
