[Desktop Entry]
Encoding=UTF-8
Icon=kontact_summary
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kontactsummary
X-KDE-FactoryName=kontactsummary
X-KDE-ParentApp=kontact_summaryplugin
X-KDE-ParentComponents=kontact_summaryplugin
X-KDE-CfgDlgHierarchy=KontactSummary

Name=Components
Name[be]=Кампанэнты
Name[br]=Parzhioù
Name[cs]=Komponenty
Name[cy]=Cydrannau
Name[da]=Komponenter
Name[et]=Komponendid
Name[fr]=Composants
Name[ga]=Comhpháirteanna
Name[it]=Componenti
Name[nl]=Componenten
Name[pt]=Componentes
Name[pt_BR]=Componentes
Name[ru]=Компоненты
Name[sr]=Компоненте
Name[sr@Latn]=Компоненте
Name[sv]=Komponenter
Name[tr]=Bileşenler
Name[uk]=Компоненти
Name[xx]=xxComponentsxx
Comment=General Configuration of Kontact's Summary View
Comment[bg]=Настройка на обобщението
Comment[ca]=Configuració general de la vista de resum de Kontact
Comment[cs]=Obecné nastavení souhrnného pohledu pro Kontact
Comment[da]=Generel indstilling af Kontact's sammendragsvisning
Comment[de]=Allgemeine Einstellungen für Kontacts Übersichtsansicht
Comment[es]=Configuración general de la vista del resumen de Kontact
Comment[et]=Kontacti kokkuvõttevaate üldised seadistused
Comment[fi]=Kontactin yhteenvetonäkymän yleiset asetukset
Comment[fr]=Configuration générale de la vue résumée de Kontact
Comment[gl]=Configuración xeral para a vista de resumo de Kontact
Comment[hu]=A Kontact áttekintő nézetének beállításai
Comment[it]=Configurazione generale della vista sommario di Kontact
Comment[ja]=Kontactの要約表示の一般的な設定
Comment[nb]=Generell konfigurasjon av Kontact's sammendrags oversikt
Comment[nl]=Algemene instellingen van Kontact's overzichtsweergave
Comment[nn]=Generelt oppsett av samandragsvisinga i Kontact
Comment[pl]=Ogólna konfiguracja widoku podsumowania w Kontact
Comment[pt]=Configuração Geral da Vista Sumária do Kontact
Comment[pt_BR]=Configuração Geral da Visão de Resumo do Kontact
Comment[ru]=Общие настройки дайджеста Kontact
Comment[sk]=Všeobecné nastavenie súhrnu Kontact
Comment[sl]=Splošne nastavitve za prikaz povzetka v Kontract
Comment[sr]=Опште подешавање Kontact-овог приказа сажетка
Comment[sr@Latn]=Опште подешавање Kontact-овог приказа сажетка
Comment[sv]=Allmän inställning av Kontacts översiktsvy
Comment[ta]=கான்டாக்கின் சுருக்க காட்சியின் பொது கட்டமைப்பு
Comment[tg]=Танзимотҳои умумии дайджести Kontact
Comment[tr]=Kontact'ın Özet Görünümü için Genel Yapılandırma
Comment[uk]=Загальні параметри підсумків Kontact
Comment[xx]=xxGeneral Configuration of Kontact's Summary Viewxx
Comment[zh_CN]=Kontact 概览视图的常规配置
