[Desktop Entry]
Encoding=UTF-8
Icon=kontact_summary
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kontactsummary
X-KDE-FactoryName=kontactsummary
X-KDE-ParentApp=kontact_summaryplugin
X-KDE-ParentComponents=kontact_summaryplugin
X-KDE-CfgDlgHierarchy=KontactSummary

Name=Components
Name[x-test]=xxComponentsxx
Comment=General Configuration of Kontact's Summary View
Comment[x-test]=xxGeneral Configuration of Kontact's Summary Viewxx
