[Desktop Entry]
Type=Service
Exec=
Comment=Kontact SummaryView Plugin
Name=Summary
Icon=keditbookmarks
ServiceTypes=Kontact/Plugin
X-KDE-Library=libkpsummaryplugin
X-KDE-KontactIdentifier=summary
#Always last
InitialPreference=0
