[Desktop Entry]
Type=Service
Exec=blubb
Comment=Kontact SummaryView Plugin
Name=SummaryView
Icon=konsole
ServiceTypes=Kontact/Plugin
X-KDE-Library=libkpsummaryplugin
#Always last
InitialPreference=0