[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=keditbookmarks
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_summaryplugin
X-KDE-KontactPluginVersion=2

X-KDE-PluginInfo-Name=kontact_summaryplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact SummaryView Plugin
Comment[ca]=Connector Kontact per a veure el resum
Comment[cs]=Modul souhrnu pro aplikaci Kontact
Comment[da]=Kontact SummaryView-plugin
Comment[de]=Übersichts-Plugin für Kontact
Comment[es]=Accesorio Vista resumen para Kontact
Comment[et]=Kontakti kokkuvõttevaate plugin
Comment[fr]=Module de vue résumée pour Kontact
Comment[hu]=Kontact bővítőmodul a névjegyek áttekintéséhez
Comment[it]=Plugin SummaryView Kontact
Comment[nl]=Kontact SummaryView-plugin
Comment[nn]=Kontact, programtillegg for samandragsvising
Comment[pt]='Plugin' do SummaryView do Kontact
Comment[pt_BR]=Plug-in SummaryView do Kontact
Comment[ru]=Модуль дайджеста Kontact
Comment[sr]=Додатак Kontact-а за SummaryView
Comment[sv]=Kontact-insticksprogram för översikt
Comment[tr]=Kontact Özet Gösterim Eklentisi
Comment[uk]=Втулок Kontact для перегляду зведень
Comment[xx]=xxKontact SummaryView Pluginxx
Name=Summary
Name[ca]=Resum
Name[cs]=Souhrn
Name[da]=Opsummaring
Name[de]=Übersicht
Name[es]=Resumen
Name[et]=Kokkuvõte
Name[fi]=Yhteenveto
Name[fr]=Résumé
Name[hu]=Áttekintés
Name[it]=Sommario
Name[nl]=Samenvatting
Name[nn]=Samandrag
Name[pt]=Resumo
Name[pt_BR]=Resumo
Name[ru]=Дайджест
Name[sr]=Сажетак
Name[sv]=Översikt
Name[tr]=Özet
Name[uk]=Зведення
Name[uz]=Ҳисобот
Name[xx]=xxSummaryxx
#Always last
InitialPreference=0
