[Desktop Entry]
Type=Service
Icon=kjots
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_kjotsplugin
X-KDE-KontactPluginVersion=7
X-KDE-KontactPartLibraryName=kjotspart
X-KDE-KontactPartExecutableName=kjots
X-KDE-KontactPartLoadOnStart=false
X-KDE-KontactPluginHasSummary=false

X-KDE-PluginInfo-Name=kontact_kjotsplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-AllowEmptySettings=true

Comment=Kontact KJots Plugin
Comment[ca]=Connector del KJots per al Kontact
Comment[cs]=Modul KJots pro aplikaci Kontact
Comment[da]=Kontact KJots-plugin
Comment[de]=KJots-Modul für Kontact
Comment[el]=Πρόσθετο KJots του Kontact
Comment[es]=Complemento de KJots para Kontact
Comment[et]=Kontacti KJotsi plugin
Comment[fr]=Module KJots pour Kontact
Comment[ga]=Breiseán KJots le haghaidh Kontact
Comment[gl]=Engadido de KJots para Kontact
Comment[it]=Estensione per Kontact di KJots
Comment[ja]=Kontact KJots プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​ទំនាក់ទំនង KJots
Comment[ko]=Kontact KJots 플러그인
Comment[lt]=Kontact KJots įskiepis
Comment[lv]=Kontact KJots spraudnis
Comment[nb]=Kontact programtillegg for KJots
Comment[nds]=KJots-Moduul för Kontact
Comment[nl]=Kontact KJots-plugin
Comment[nn]=Kontakt-programtillegg for KJots
Comment[pa]=ਕੇ-ਸੰਪਰਕ ਕੇਜੂਟ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Kontact do współpracy z Notatkami
Comment[pt]='Plugin' do KJots para o Kontact
Comment[pt_BR]=Plug-in do Kjots para o Kontact
Comment[ru]=Блокнот
Comment[sl]=Vstavek KJots za Kontact
Comment[sv]=Kontact insticksdelprogram för Kjots
Comment[tr]=Kontact KJots Eklentisi
Comment[uk]=Додаток KJots для Kontact
Comment[x-test]=xxKontact KJots Pluginxx
Comment[zh_CN]=Kontact KJots 插件
Comment[zh_TW]=Kontact KJots 外掛程式
Name=Notebooks
Name[cs]=Poznámky
Name[da]=Notesbøger
Name[de]=Notizbücher
Name[el]=Σημειωματάρια
Name[es]=Cuadernos de notas
Name[et]=Märkmed
Name[fr]=Carnets de notes
Name[ga]=Leabhair Nótaí
Name[gl]=Cadernos
Name[it]=Blocco appunti
Name[ja]=メモ帳
Name[km]=សៀវភៅ​ចំណាំ
Name[ko]=공책
Name[lt]=Užrašinės
Name[lv]=Piezīmju grāmatiņas
Name[nb]=Notisbøker
Name[nds]=Notizböker
Name[nl]=Notities
Name[nn]=Notatbøker
Name[pa]=ਨੋਟ ਬੁੱਕ
Name[pl]=Notatki
Name[pt]=Blocos de Notas
Name[pt_BR]=Livro de notas
Name[ro]=Carnețele
Name[ru]=Блокнот
Name[sl]=Beležnice
Name[sv]=Anteckningsböcker
Name[tr]=Not Defterleri
Name[uk]=Записники
Name[x-test]=xxNotebooksxx
Name[zh_CN]=笔记本
Name[zh_TW]=筆記本
