[Desktop Entry]
Type=Service
Icon=kjots
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_kjotsplugin
X-KDE-KontactPluginVersion=7
X-KDE-KontactPartLibraryName=kjotspart
X-KDE-KontactPartExecutableName=kjots
X-KDE-KontactPartLoadOnStart=false
X-KDE-KontactPluginHasSummary=false

X-KDE-PluginInfo-Name=kontact_kjotsplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact KJots Plugin
Comment[ga]=Breiseán KJots le haghaidh Kontact
Comment[pt]='Plugin' do KJots para o Kontact
Comment[pt_BR]=Plug-in do Kjots para o Kontact
Comment[uk]=Додаток KJots для Kontact
Name=Notebooks
Name[ga]=Leabhair Nótaí
Name[pt]=Blocos de Notas
Name[uk]=Записники
