[Desktop Entry]
Type=Service
Icon=kjots
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_kjotsplugin
X-KDE-KontactPluginVersion=9
X-KDE-KontactPartLibraryName=kjotspart
X-KDE-KontactPartExecutableName=kjots
X-KDE-KontactPartLoadOnStart=false
X-KDE-KontactPluginHasSummary=false

X-KDE-PluginInfo-Name=kontact_kjotsplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-AllowEmptySettings=true

Comment=Kontact KJots Plugin
Comment[ar]=ملحق Kontact KJots
Comment[bs]=KJots Dodatak za Kontakte
Comment[ca]=Connector del KJots pel Kontact
Comment[ca@valencia]=Connector del KJots per al Kontact
Comment[cs]=Modul KJots pro aplikaci Kontact
Comment[da]=Kontact KJots-plugin
Comment[de]=KJots-Modul für Kontact
Comment[el]=Πρόσθετο KJots του Kontact
Comment[en_GB]=Kontact KJots Plugin
Comment[es]=Complemento de KJots para Kontact
Comment[et]=Kontacti KJotsi plugin
Comment[fi]=Kontactin KJots-liitännäinen
Comment[fr]=Module KJots pour Kontact
Comment[ga]=Breiseán KJots le haghaidh Kontact
Comment[gl]=Engadido de KJots para Kontact
Comment[hu]=Kontact KJots-bővítmény
Comment[ia]=Plug-in pro Kontact KJots
Comment[it]=Estensione per Kontact di KJots
Comment[ja]=Kontact KJots プラグイン
Comment[kk]=Kontact-тың KJots плагині
Comment[km]=កម្មវិធី​ជំនួយ​ទំនាក់ទំនង KJots
Comment[ko]=Kontact KJots 플러그인
Comment[lt]=Kontact KJots įskiepis
Comment[lv]=Kontact KJots spraudnis
Comment[mr]=कॉन्टेक्ट, के-जोट्स प्लगइन
Comment[nb]=Kontact programtillegg for KJots
Comment[nds]=KJots-Moduul för Kontact
Comment[nl]=Kontact KJots-plug-in
Comment[nn]=Kontakt-programtillegg for KJots
Comment[pa]=ਕੇ-ਸੰਪਰਕ ਕੇਜੂਟ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Kontact do współpracy z Notatkami
Comment[pt]='Plugin' do KJots para o Kontact
Comment[pt_BR]=Plugin do KJots para o Kontact
Comment[ro]=Modul KJots pentru Kontact
Comment[ru]=Блокнот
Comment[sk]=Modul Kontact KJots
Comment[sl]=Vstavek KJots za Kontact
Comment[sr]=Прикључак Контакта за К‑белешке
Comment[sr@ijekavian]=Прикључак Контакта за К‑биљешке
Comment[sr@ijekavianlatin]=Priključak Kontacta za K‑bilješke
Comment[sr@latin]=Priključak Kontacta za K‑beleške
Comment[sv]=Kontact insticksdelprogram för Kjots
Comment[tr]=Kontact KJots Eklentisi
Comment[uk]=Додаток KJots для Kontact
Comment[wa]=Module KJots di Kontact
Comment[x-test]=xxKontact KJots Pluginxx
Comment[zh_CN]=Kontact KJots 插件
Comment[zh_TW]=Kontact KJots 外掛程式
Name=Notebooks
Name[ar]=دفاتر الملاحظات
Name[bs]=Sveske
Name[ca]=Notebooks
Name[ca@valencia]=Notebooks
Name[cs]=Poznámky
Name[da]=Notesbøger
Name[de]=Notizbücher
Name[el]=Σημειωματάρια
Name[en_GB]=Notebooks
Name[es]=Cuadernos de notas
Name[et]=Märkmed
Name[fi]=Muistiot
Name[fr]=Carnets de notes
Name[ga]=Leabhair Nótaí
Name[gl]=Cadernos
Name[hu]=Jegyzetfüzetek
Name[ia]=Quadernos
Name[it]=Blocco appunti
Name[ja]=メモ帳
Name[kk]=Дәптерлер
Name[km]=សៀវភៅ​ចំណាំ
Name[ko]=공책
Name[lt]=Užrašinės
Name[lv]=Piezīmju grāmatiņas
Name[mr]=नोंद पुस्तके
Name[nb]=Notisbøker
Name[nds]=Notizböker
Name[nl]=Notities
Name[nn]=Notatbøker
Name[pa]=ਨੋਟ ਬੁੱਕ
Name[pl]=Notatki
Name[pt]=Blocos de Notas
Name[pt_BR]=Livro de notas
Name[ro]=Carnete
Name[ru]=Блокнот
Name[sk]=Zápisníky
Name[sl]=Beležnice
Name[sr]=Бележнице
Name[sr@ijekavian]=Биљежнице
Name[sr@ijekavianlatin]=Bilježnice
Name[sr@latin]=Beležnice
Name[sv]=Anteckningsböcker
Name[tr]=Not Defterleri
Name[ug]=دەپتەرلەر
Name[uk]=Записники
Name[wa]=Calpins d' notes
Name[x-test]=xxNotebooksxx
Name[zh_CN]=笔记本
Name[zh_TW]=筆記本
