[Desktop Entry]
Type=Service
Icon=karm
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_karm
X-KDE-KontactPluginVersion=6
X-KDE-KontactPartLibraryName=libkarmpart

X-KDE-PluginInfo-Name=kontact_karm
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false

Comment=Time Tracker Component (KArm Plugin)
Comment[bg]=Приставка за KArm
Comment[ca]=Component de seguiment dels temps (endollable del KArm)
Comment[da]=Time Tracker-komponent (KArm-plugin)
Comment[de]=Zeitplaner-Komponente (KArm-Modul)
Comment[el]=Συστατικό γραμμής χρόνου (Πρόσθετο του KArm)
Comment[et]=Ajaarvestaja plugin (KArm)
Comment[fr]=Composant de suivi temporel (Module pour KArm)
Comment[is]=Tímastjórnunareining (KArm íforrit)
Comment[it]=Componente segna-tempo (plugin Karm)
Comment[ja]=タイムトラッカーコンポーネント (KArm プラグイン)
Comment[km]=សមាសភាគ​កម្មវិធី​តាមដាន​ពេលវេលា (កម្មវិធី​ជំនួយ KArm​)
Comment[nds]=Tietlogbook-Komponent (KArm-Moduul)
Comment[nl]=Tijdsregistratiecomponent (KArm-plugin)
Comment[pl]=Składnik śledzenia czasu (wtyczka KArm)
Comment[ru]=Отслеживание времени (модуль KArm)
Comment[sr]=Компонента праћења времена (прикључак KArm-а)
Comment[sr@Latn]=Komponenta praćenja vremena (priključak KArm-a)
Comment[sv]=Komponent för tidmätning (Karm-insticksprogram)
Comment[tr]=Zaman İzleyici Bileşeni (KArm Eklentisi)
Comment[zh_CN]=时间追踪组件(KArm 插件)
Comment[zh_TW]=時間追蹤器組件（KArm 外掛程式）

Name=Timer
Name[bg]=Таймер
Name[ca]=Cronòmetre
Name[de]=Stoppuhr
Name[el]=Χρονόμετρο
Name[et]=Ajaarvestaja
Name[fr]=Minuteur
Name[is]=Tímamælir
Name[ja]=タイマー
Name[km]=កម្មវិធី​កំណត់​ពេលវេលា
Name[nds]=Tietgever
Name[nl]=Tijdklok
Name[pl]=Stoper
Name[ru]=Таймер
Name[sr]=Тајмер
Name[sr@Latn]=Tajmer
Name[sv]=Tidmätning
Name[zh_CN]=计时器
Name[zh_TW]=計時器
