[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=karm
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_karm
X-KDE-KontactPluginVersion=7
X-KDE-KontactPartLibraryName=libkarmpart

X-KDE-PluginInfo-Name=kontact_karm
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false

Comment=KArm Plugin
Comment[af]=KArm inprop module
Comment[be]=Утулка KArm
Comment[bg]=Приставка за KArm
Comment[br]=Lugent KArm
Comment[ca]=Endollable KArm
Comment[cs]=Modul KArm
Comment[da]=KArm-plugin
Comment[de]=KArm-Modul
Comment[el]=Πρόσθετο του KArm
Comment[es]=Extensión KArm
Comment[et]=KArmi plugin
Comment[eu]=KArm plugina
Comment[fa]=وصلۀ KArm
Comment[fi]=KArm-liitännäinen
Comment[fr]=Module pour KArm
Comment[ga]=Breiseán KArm
Comment[gl]=Extensión para KArm
Comment[hu]=KArm bővítőmodul
Comment[is]=KArm íforrit
Comment[it]=Plugin KArm
Comment[ja]=KArm プラグイン
Comment[ka]=KArm მოდული
Comment[kk]=KArm модулі
Comment[km]=កម្មវិធី​ជំនួយ KArm
Comment[lt]=KArm priedas
Comment[mk]=Приклучок за KArm
Comment[ms]=Plugin KArm 
Comment[nb]=KArm-programtillegg
Comment[nds]=KArm-Moduul
Comment[ne]=केडीई आर्म प्लगइन
Comment[nl]=KArm-plugin
Comment[nn]=KArm-programtillegg
Comment[pa]=KArm ਪਲੱਗਇਨ
Comment[pl]=Wtyczka KArm
Comment[pt]='Plugin' do KArm
Comment[pt_BR]=Plugin do KArm
Comment[ru]=Модуль KArm
Comment[sl]=Vstavek za KArm
Comment[sr]=Прикључак KArm-а
Comment[sr@latin]=Priključak KArm-a
Comment[sv]=Karm-insticksprogram
Comment[tr]=KArm Eklentisi
Comment[uk]=Втулок KArm
Comment[uz]=KArm плагини
Comment[x-test]=xxKArm Pluginxx
Comment[zh_TW]=KArm 外掛程式

Name=KArm
Name[af]=Karm
Name[eo]=Tempomezurilo
Name[sv]=Karm
Name[ta]=Kஅம்
Name[x-test]=xxKArmxx
Name[xh]=KAlrm
Name[zh_TW]=KArm 個人時程紀錄
