[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=karm
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_karm
X-KDE-KontactPluginVersion=4
X-KDE-KontactPartLibraryName=libkarmpart

X-KDE-PluginInfo-Name=kontact_karm
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false

Comment=KArm Plugin
Comment[bg]=Приставка за KArm
Comment[cs]=Modul KArm
Comment[da]=KArm-plugin
Comment[es]=Extensión KArm
Comment[et]=KArmi plugin
Comment[fr]=Module pour KArm
Comment[ga]=Breiseán KArm
Comment[it]=Plugin KArm
Comment[lt]=KArm priedas
Comment[nl]=KArm-plugin
Comment[pl]=Wtyczka KArm
Comment[pt]='Plugin' KArm
Comment[pt_BR]='Plugin' KArm
Comment[ru]=Модуль KArm
Comment[sv]=Karm-insticksprogram
Comment[tr]=KArm Eklentisi
Comment[uk]=Втулок KArm
Comment[xx]=xxKArm Pluginxx
Comment[zh_CN]=KArm 插件

Name=KArm
Name[af]=Karm
Name[ar]=كارم
Name[eo]=Tempomezurilo
Name[hi]=के-आर्म
Name[mk]=КРака
Name[sv]=Karm
Name[ta]=Kஅம்
Name[xh]=KAlrm
Name[xx]=xxKArmxx
