[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kontact/Plugin
Name=Kontact Plugin

[PropertyDef::X-KDE-KontactPluginVersion]
Type=int
[PropertyDef::X-KDE-KontactPartLibraryName]
Type=QString
[PropertyDef::X-KDE-KontactPartExecutableName]
Type=QString
[PropertyDef::X-KDE-KontactPartLoadOnStart]
Type=bool
[PropertyDef::X-KDE-KontactPluginHasSummary]
Type=bool
[PropertyDef::X-KDE-KontactPluginHasPart]
Type=bool
