[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kontact/Plugin
Name=Kontact Plugin
Name[be]=Дапаўненьне Кантакту
Name[ca]=Connector Kontact
Name[da]=Kontact-plugin
Name[el]=Πρόσθετο Kontact
Name[es]=Plugin Kontact
Name[fr]=Module Kontact
Name[hu]=Kontact bővítőmodul
Name[pt_BR]=Plug-in do Kontact
Name[ru]=Модуль Kontact
Name[sr]=Додатак Kontact-а
Name[sv]=Kontact-insticksprogram
Name[tr]=Kontact Eklentisi
Name[xx]=xxKontact Pluginxx
Name[zh_CN]=Kontact 插件

[PropertyDef::X-KDE-KontactPluginVersion]
Type=int
[PropertyDef::X-KDE-KontactPartLibraryName]
Type=QString
