[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kontact/Plugin
Name=Kontact Plugin
Name[ar]=أداة إضافية لـ Kontact
Name[be]=Дапаўненьне Кантакту
Name[bg]=Приставка на Kontact
Name[br]=Lugent Kontact
Name[bs]=Dodatak za Kontact
Name[ca]=Endollable Kontact
Name[cs]=Modul aplikace Kontact
Name[cy]=Ategyn Kontact
Name[da]=Kontact-plugin
Name[de]=Kontact-Plugin
Name[el]=Πρόσθετο Kontact
Name[es]=Plugin Kontact
Name[et]=Kontacti plugin
Name[fi]=Kontact-liitännäinen
Name[fr]=Module Kontact
Name[gl]=Extensión de Kontact
Name[he]=תוסף Kontact
Name[hi]=कॉन्टेक्ट प्लगइन
Name[hu]=Kontact-bővítőmodul
Name[is]=Kontact íforrit
Name[it]=Plugin Kontact
Name[ja]=Kontact プラグイン
Name[nb]=Kontact-programtillegg
Name[nn]=Kontact-programtillegg
Name[pl]=Wtyczka Kontact
Name[pt]='Plugin' do Kontact
Name[pt_BR]=Plug-in do Kontact
Name[ro]=Modul Kontact
Name[ru]=Модуль Kontact
Name[se]=Kontact-lassemoduvla
Name[sl]=Vstavek za Kontact
Name[sr]=Прикључак Kontact-а
Name[sr@Latn]=Priključak Kontact-a
Name[sv]=Kontact-insticksprogram
Name[ta]=சொருகுப்பொருளை தொடர்புக்கொள்
Name[tg]=Модули Kontact
Name[tr]=Kontact Eklentisi
Name[uk]=Втулок Kontact
Name[uz]=Kontact учун плагин
Name[zh_CN]=Kontact 插件

[PropertyDef::X-KDE-KontactPluginVersion]
Type=int
[PropertyDef::X-KDE-KontactPartLibraryName]
Type=QString
[PropertyDef::X-KDE-KontactPartExecutableName]
Type=QString
[PropertyDef::X-KDE-KontactPartLoadOnStart]
Type=bool
[PropertyDef::X-KDE-KontactPluginHasSummary]
Type=bool
