[Desktop Entry]
Encoding=UTF-8
Icon=kontact_mail
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kmailsummary
X-KDE-FactoryName=kmailsummary
X-KDE-ParentApp=kontact_kmailplugin
X-KDE-ParentComponents=kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KontactSummary

Name=New Messages
Name[es]=Mensajes nuevos
Name[kk]=Жаңа хабарламалар
Name[sv]=Nya brev
Name[x-test]=xxNew Messagesxx
Comment=Mail Summary Setup
Comment[af]=Pos opsomming opstelling
Comment[ar]=تعيين ملخص البريد
Comment[bg]=Настройки на обобщението на писмата
Comment[ca]=Configuració del resum de correu
Comment[cs]=Nastavení souhrnu pošty
Comment[da]=Opsætning af post-opsummering
Comment[de]=Mailübersicht-Einstellungen
Comment[el]=Ρύθμιση σύνοψης αλληλογραφίας
Comment[es]=Configuración del resumen de correo
Comment[et]=E-posti kokkuvõtte seadistus
Comment[eu]=Postaren laburpenaren konfigurazioa
Comment[fa]=برپایی خلاصۀ نامه
Comment[fi]=Sähköpostiyhteenvedon asetukset
Comment[fr]=Configuration du résumé du courrier
Comment[gl]=Configuración do Resumo de Correo-e
Comment[he]=הגדרות תקציר דוא"ל
Comment[hu]=A levelek áttekintésének beállításai
Comment[is]=Uppsetning póstyfirlits
Comment[it]=Impostazioni sommario posta
Comment[ja]=メール要約の設定
Comment[ka]=ფოსტის დაიჯესტის კონფიგურაცია
Comment[kk]=Пошта тұжырымының баптау
Comment[km]=រៀបចំ​សេចក្ដី​សង្ខេប​សំបុត្រ
Comment[lt]=Pašto santraukos nustatymai
Comment[mk]=Поставување на преглед за е-пошта
Comment[ms]=Setup Ringkasan Mel 
Comment[nb]=E-post sammendrag oppsett
Comment[nds]=Nettpost-Översicht instellen
Comment[ne]=पत्र सारांश सेटअप
Comment[nl]=E-mail Overzichts-instellingen
Comment[nn]=Oppsett av e-postsamandrag
Comment[pl]=Ustawienia podsumowania poczty
Comment[pt]=Configuração do Sumário de E-mail
Comment[pt_BR]=Configuração de Resumo de E-mail
Comment[ru]=Настройка дайджеста почты
Comment[se]=Heivet e-boastačoahkkáigeasu
Comment[sl]=Nastavitve povzetka pošte
Comment[sr]=Подешавање сажетка поште
Comment[sr@Latn]=Podešavanje sažetka pošte
Comment[sv]=Inställning av postöversikt
Comment[ta]=அஞ்சல் சுருக்க அமைப்பு
Comment[tg]=Танзимоти дайджести почта
Comment[tr]=E-posta Özeti Yapılandırması
Comment[uk]=Налаштування підсумку пошти
Comment[x-test]=xxMail Summary Setupxx
Comment[zh_TW]=郵件摘要設定
Keywords=email, summary, configure, settings
Keywords[af]=email,summary,configure,settings
Keywords[bg]=резюме, общо, обобщение, пощенски, клиент, е-поща, email, summary, configure, settings
Keywords[ca]=correu-e, resum, configuració, arranjament
Keywords[cs]=email,souhrn,nastavení,nastavit
Keywords[da]=e-mail, opsummering, indstil, opsætning
Keywords[de]=E-Mail,email,Übersicht,einstellen,Einstellungen
Keywords[el]=αλληλογραφία, σύνοψη, ρύθμιση, ρυθμίσεις
Keywords[es]=correo, resumen, configurar, opciones
Keywords[et]=e-post, meil, seadistamine, seadistused
Keywords[eu]=eposta, laburpena, konfiguratu, ezarpenak
Keywords[fa]=email، خلاصه، پیکربندی، تنظیمات
Keywords[fi]=sähköposti, yhteenveto, asetukset
Keywords[fr]=message,messagerie,courrier,résumé,vue,configurer,paramètres,paramètre
Keywords[ga]=ríomhphost, achoimre, cumraigh, socruithe
Keywords[gl]=email, resumo, configurar, opcións
Keywords[he]=email, summary, configure, settings, דוא"ל, תקציר, תצורה, הגדרת, דואל, דואר, דואר אלקטרוני
Keywords[hu]=e-mail,áttekintés,konfigurálás,beállítások
Keywords[is]=tölvupóstur, yfirlit, stillingar, stilla
Keywords[it]=posta elettronica, email, sommario, configura, impostazioni
Keywords[ja]=メール,要約,設定,設定
Keywords[ka]=ელფოსტა,დაიჯესტი,კონფიგურაცია,პარამეტრები
Keywords[km]=អ៊ីមែល,សង្ខេប,កំណត់​រចនាសម្ព័ន្ធ,ការ​កំណត់
Keywords[lt]=email, summary, configure, settings, e. paštas, santrauka, konfigūruoti, nustatymai
Keywords[mk]=email, summary, configure, settings, е-пошта, преглед, конфигурација, поставувања
Keywords[ms]=e-mel, ringkasan, konfigur, seting
Keywords[nb]=e-post, sammendrag, oppsett, innstillinger
Keywords[nds]=Nettpost,Nettbreef,Översicht,instellen
Keywords[ne]=इमेल, सारांश, कन्फिगर, सेटिङ
Keywords[nl]=email,e-mail,overzicht,samenvatting,instellingen,configuratie
Keywords[nn]=e-post,samandrag,oppsett,innstillingar
Keywords[pl]=email,list,podsumowanie,konfiguracja,ustawienia
Keywords[pt]=e-mail, sumário, configurar, configuração
Keywords[pt_BR]=e-mail, resumo, configurar, configurações
Keywords[ru]=email,summary,configure,settings,настройки,дайджест,почта
Keywords[sl]=e-pošta,pošta,povzetek,nastavi,nastavitve
Keywords[sr]=емаил, сажетак, подеси, поставке
Keywords[sr@Latn]=email, sažetak, podesi, postavke
Keywords[sv]=e-post, översikt, anpassa, inställningar
Keywords[ta]=மின்னஞ்சல்,சுருக்கம்,கட்டமைப்பு,அமைவுகள்
Keywords[tg]=email, summary, configure, settings,танзимот, дайджест,почта
Keywords[tr]=e-posta, özet, yapılandır, yapılandırma
Keywords[uk]=пошта, підсумок, налаштування, параметри
Keywords[x-test]=xxemail, summary, configure, settingsxx
