[Desktop Entry]
Icon=view-pim-mail
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kmailsummary
X-KDE-FactoryName=kmailsummary
X-KDE-ParentApp=kontact_kmailplugin
X-KDE-ParentComponents=kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KontactSummary

Name=New Messages
Name[de]=Neue Nachrichten
Comment=Mail Summary Setup
Comment[de]=Mailübersicht-Einstellungen
X-KDE-Keywords=email, summary, configure, settings
X-KDE-Keywords[af]=email,summary,configure,settings
X-KDE-Keywords[be]=каляндар, заданні, настроіць, настаўленні, calendar, todos, configure, settings
X-KDE-Keywords[bg]=Keywords=резюме, общо, обобщение, пощенски, клиент, е-поща, email, summary, configure, settings
X-KDE-Keywords[ca]=correu-e, resum, configuració, arranjament
X-KDE-Keywords[cs]=email,souhrn,nastavení,nastavit
X-KDE-Keywords[da]=e-mail, opsummering, indstil, opsætning
X-KDE-Keywords[de]=E-Mail,email,Übersicht,einstellen,Einstellungen
X-KDE-Keywords[el]=αλληλογραφία, σύνοψη, ρύθμιση, ρυθμίσεις
X-KDE-Keywords[es]=correo, resumen, configurar, opciones
X-KDE-Keywords[et]=e-post, meil, seadistamine, seadistused
X-KDE-Keywords[eu]=eposta, laburpena, konfiguratu, ezarpenak
X-KDE-Keywords[fa]=email، خلاصه، پیکربندی، تنظیمات
X-KDE-Keywords[fi]=sähköposti, yhteenveto, asetukset
X-KDE-Keywords[fr]=message,messagerie,courrier,résumé,vue,configurer,paramètres,paramètre
X-KDE-Keywords[fy]=Keywords=email,e-mail,e-post,oersicht,gearfetting,ynstellings, konfiguraasje
X-KDE-Keywords[ga]=ríomhphost, achoimre, cumraigh, socruithe
X-KDE-Keywords[gl]=email, resumo, configurar, opcións
X-KDE-Keywords[he]=email, summary, configure, settings, דוא"ל, תקציר, תצורה, הגדרת, דואל, דואר, דואר אלקטרוני
X-KDE-Keywords[hu]=e-mail,áttekintés,konfigurálás,beállítások
X-KDE-Keywords[is]=tölvupóstur, yfirlit, stillingar, stilla
X-KDE-Keywords[it]=posta elettronica, email, sommario, configura, impostazioni
X-KDE-Keywords[ja]=メール,要約,設定,設定
X-KDE-Keywords[ka]=ელფოსტა,დაიჯესტი,კონფიგურაცია,პარამეტრები
X-KDE-Keywords[km]=អ៊ីមែល,សង្ខេប,កំណត់​រចនាសម្ព័ន្ធ,ការ​កំណត់
X-KDE-Keywords[ko]=전자 우편, 요약, 설정
X-KDE-Keywords[lt]=email, summary, configure, settings, e. paštas, santrauka, konfigūruoti, nustatymai
X-KDE-Keywords[mk]=email, summary, configure, settings, е-пошта, преглед, конфигурација, поставувања
X-KDE-Keywords[ms]=e-mel, ringkasan, konfigur, seting
X-KDE-Keywords[nb]=e-post, sammendrag, oppsett, innstillinger
X-KDE-Keywords[nds]=Nettpost,Nettbreef,Översicht,instellen
X-KDE-Keywords[ne]=इमेल, सारांश, कन्फिगर, सेटिङ
X-KDE-Keywords[nl]=email,e-mail,overzicht,samenvatting,instellingen,configuratie
X-KDE-Keywords[pl]=email,list,podsumowanie,konfiguracja,ustawienia
X-KDE-Keywords[pt]=e-mail, resumo, configurar, configuração
X-KDE-Keywords[pt_BR]=e-mail, resumo, configurar, configurações
X-KDE-Keywords[ru]=email,summary,configure,settings,настройки,дайджест,почта
X-KDE-Keywords[sl]=e-pošta,pošta,povzetek,nastavi,nastavitve
X-KDE-Keywords[sr]=емаил, сажетак, подеси, поставке
X-KDE-Keywords[sr@latin]=email, sažetak, podesi, postavke
X-KDE-Keywords[sv]=e-post, översikt, anpassa, inställningar
X-KDE-Keywords[ta]=மின்னஞ்சல்,சுருக்கம்,கட்டமைப்பு,அமைவுகள்
X-KDE-Keywords[tg]=email, summary, configure, settings,танзимот, дайджест,почта
X-KDE-Keywords[tr]=e-posta, özet, yapılandır, yapılandırma
X-KDE-Keywords[uk]=пошта, підсумок, налаштування, параметри
X-KDE-Keywords[x-test]=xxemail, summary, configure, settingsxx
X-KDE-Keywords[zh_CN]=email, summary, configure, settings, 电子邮件, 摘要, 配置, 设置
