[Desktop Entry]
Encoding=UTF-8
Icon=kmail
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kmailsummary
X-KDE-FactoryName=kmailsummary
X-KDE-ParentApp=kontact_kmailplugin
X-KDE-ParentComponents=kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail

Name=Mail Summary
Name[da]=Post opsummaring
Name[es]=Resumen de correo
Name[et]=Meilikokkuvõte
Name[fr]=Résumé du courrier
Name[nl]=E-mail Overzicht
Name[pt_BR]=Resumo
Name[sl]=Povzetek pošte
Name[sv]=Postöversikt
Name[ta]=அஞ்சல் சுருக்கம்
Name[xx]=xxMail Summaryxx
Comment=Mail Summary Setup
Comment[da]=Opsætning af post-opsummering
Comment[es]=Configuración del resumen de correo
Comment[et]=Meilikokkuvõtte seadistus
Comment[fr]=Configuration du résumé du courrier
Comment[nl]=E-mail Overzichts-instellingen
Comment[pt_BR]=Configuração de Resumo de E-mail
Comment[sl]=Nastavitve povzetka pošte
Comment[sv]=Inställning av postöversikt
Comment[ta]=அஞ்சல் சுருக்க அமைப்பு
Comment[xx]=xxMail Summary Setupxx
Keywords=email, summary, configure, settings
Keywords[da]=e-post, opsummering, indstil, opsætning
Keywords[es]=correo, resumen, configurar, opciones
Keywords[et]=e-post, meil, seadistamine, seadistused
Keywords[fr]=email,messagerie,courrier,résumé,vue,configurer,paramètres,paramètre
Keywords[nl]=email,e-mail,overzicht,samenvatting,instellingen,configuratie
Keywords[pt_BR]=e-mail, resumo, configurar, configurações
Keywords[sl]=e-pošta,pošta,povzetek,nastavi,nastavitve
Keywords[sv]=e-post, översikt, anpassa, inställningar
Keywords[ta]=மின்னஞ்சல்,சுருக்கம்,வடிவமைப்பு,அமைப்புகள்
Keywords[xx]=xxemail, summary, configure, settingsxx
