[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kontact_mail
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_kmailplugin
X-KDE-KontactPluginVersion=4
X-KDE-KontactPartLibraryName=libkmailpart
X-KDE-KontactPartExecutableName=kmail
X-KDE-KontactPartLoadOnStart=true
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Website=http://kmail.kde.org/
X-KDE-PluginInfo-Name=kontact_kmailplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact KMail Plugin
Comment[x-test]=xxKontact KMail Pluginxx
Name=Mail
Name[x-test]=xxMailxx
