[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kontact_mail
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_kmailplugin
X-KDE-KontactPluginVersion=4
X-KDE-KontactPartLibraryName=libkmailpart
X-KDE-KontactPartExecutableName=kmail
X-KDE-KontactPartLoadOnStart=true
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Website=http://kmail.kde.org/
X-KDE-PluginInfo-Name=kontact_kmailplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact KMail Plugin
Comment[be]=Дапаўненьне Кантакту "K Пошта"
Comment[bg]=Приставка връзка между пощата и адресника
Comment[bs]=Kontact KMail dodatak
Comment[ca]=Connector Kontact per a KMail
Comment[cs]=Modul KMailu pro aplikaci Kontact
Comment[cy]=Ategyn KMail Kontact
Comment[da]=Kontact KMail-plugin
Comment[de]=KMail-Plugin für Kontact
Comment[el]=Πρόσθετο KMail του Kontact
Comment[es]=Plugin de KMail para Kontact
Comment[et]=Kontacti KMaili plugin
Comment[fi]=Kontactin KMail-liitännäinen
Comment[fr]=Module KMail pour Kontact
Comment[gl]=Extensión de KMail para Kontact
Comment[he]=תוסף KMail עבור Kontact
Comment[hi]=कॉन्टेक्ट के-मेल प्लगइन
Comment[hu]=Kontact KMail-bővítőmodul
Comment[is]=Kontact KMail íforrit
Comment[it]=Plugin KMail Kontact
Comment[ja]=Kontact KMail プラグイン
Comment[nb]=Kontact programtillegg for KMail
Comment[nl]=Kontact KMail-plugin
Comment[nn]=Kontact, KMail-programtillegg
Comment[pl]=Wtyczka Kontact do współpracy z KMail
Comment[pt]='Plugin' do KMail para o Kontact
Comment[pt_BR]=Plug-in para KMail do Kontact
Comment[ro]=Modul KMail pentru Kontact
Comment[ru]=Модуль Kontact для доступа к KMail
Comment[sl]=Vstavek KMaila za Kontact
Comment[sr]=Прикључак Kontact-а за KMail
Comment[sr@Latn]=Dodatak Kontact-a za KMail
Comment[sv]=Kontact-insticksprogram för Kmail
Comment[ta]=கேஅஞ்சல் சொருகுப்பொருளை தொடர்பு கொள்
Comment[tg]=Модули Kontact барои дастрасӣ барои KMail
Comment[tr]=Kontact KMail Eklentisi
Comment[uk]=Втулок електронної пошти Kontact
Comment[uz]=Kontact учун KMail плагини
Comment[zh_CN]=Kontact KMail 插件
Name=Mail
Name[be]=Пошта
Name[ca]=Correu
Name[cs]=Pošta
Name[cy]=Ebost
Name[da]=Brev
Name[de]=E-Mail
Name[es]=Correo
Name[et]=E-post
Name[fi]=Sähköposti
Name[fr]=Messages
Name[gl]=Correo-e
Name[he]=דואר
Name[hi]=डाक
Name[hr]=Pošta
Name[hu]=E-mail
Name[is]=Póstur
Name[it]=Posta
Name[ja]=メール
Name[lt]=Paštas
Name[nb]=E-post
Name[nl]=E-mail
Name[nn]=E-post
Name[pl]=Poczta
Name[pt]=E-mail
Name[pt_BR]=Correio
Name[ro]=E-Mail
Name[ru]=Почта
Name[sk]=Pošta
Name[sl]=Pošta
Name[sr]=Пошта
Name[sr@Latn]=Pošta
Name[sv]=Brev
Name[ta]=அஞ்சல்
Name[tg]=Мактуб
Name[tr]=Posta
Name[uk]=Пошта
Name[uz]=Хат-хабар
Name[zh_CN]=邮件
