[Desktop Entry]
Type=Service
Exec=
Comment=Kontact KMail Plugin
Comment[be]=Дапаўненьне Кантакту "K Пошта"
Comment[ca]=Connector Kontact per a KMail
Comment[da]=Kontact KMail-plugin
Comment[el]=Πρόσθετο του Kontact για το KMail
Comment[es]=Plugin de KMail para Kontact
Comment[hu]=Kontact KMail-bővítőmodul
Comment[pt_BR]=Plug-in para KMail do Kontact
Comment[ru]=Модуль Kontact для доступа к KMail
Comment[sv]=Kontact-insticksprogram för Kmail
Comment[tr]=Kontact KMail Eklentisi
Comment[xx]=xxKontact KMail Pluginxx
Comment[zh_CN]=Kontact KMail 插件
Name=Mails
Name[be]=Пошта
Name[ca]=Correus
Name[da]=Breve
Name[es]=Correos
Name[pt_BR]=Correios
Name[ru]=Письма
Name[sv]=Brev
Name[tr]=Mesajlar
Name[xx]=xxMailsxx
Icon=kmail
ServiceTypes=Kontact/Plugin
X-KDE-Library=libkontact_kmailplugin
X-KDE-KontactIdentifier=mails
X-KDE-KontactPluginVersion=1
