[Desktop Entry]
Type=Service
Exec=blubb
Comment=Kontact KMail Plugin
Comment[bg]=KMailPlugin за Kontact
Comment[bs]=Kontact KMail plugin
Comment[cs]=Modul KMailu pro aplikaci Kontact
Comment[da]=Kontact KMail-plugin
Comment[el]=Πρόσθετο του Kontact για το KMail
Comment[eo]=Kontact-Retpoŝto-kromaĵo
Comment[es]=Plugin de Kmail de Kontact
Comment[et]=Kontact KMail plugin
Comment[fi]=Kontact KMail sovelma
Comment[fr]=Module de Kontact pour KMail
Comment[he]=תוסף KMail ל-Kontact
Comment[hu]=Kontact KMail-bővítőmodul
Comment[it]=Plugin Kontact KMail
Comment[ja]=Kontact KMail プラグイン
Comment[lt]=Kontact KMail priedas
Comment[nb]=Kontact KMail programtillegg
Comment[nl]=Kontact KMail-plugin
Comment[nn]=Kontact, KMail-programtillegg
Comment[nso]=Plugin ya KPoso ya Kontact
Comment[pl]=Wtyczka poczty elektronicznej Kontacta
Comment[pt]='Plugin' do KMail para o Kontact
Comment[pt_BR]=Plugin Kontact para o KMail
Comment[ru]=Модуль Kontact для KMail
Comment[sk]=Modul KMail pre Kontact
Comment[sv]=Kontact-insticksprogram för Kmail
Comment[tr]=Kontact KMail Eklentisi
Comment[uk]=Втулок календаря
Comment[zh_CN]=Kontact KMail 插件
Comment[zh_TW]=Kontact KMail 外掛程式
Comment[zu]=I-Plugin ye-Kontact KMail
Name=KMailPlugin
Name[bg]=Plugin за KMail
Name[cs]=Modul KMailu
Name[de]=KMail-Plugin
Name[el]=Πρόσθετο KMail
Name[eo]=Retpoŝto-kromaĵo
Name[es]=Plugin de KMail
Name[fr]=Module KMail
Name[he]=תוסף KMail
Name[hu]=KMail-modul
Name[it]=Plugin KMail
Name[ja]=KMail プラグイン
Name[lt]=KMail priedas
Name[nb]=KMail-programtillegg
Name[nl]=KMail-plugin
Name[nn]=KMail-programtillegg
Name[nso]=Plugin ya KPoso
Name[pl]=Wtyczka poczty elektronicznej
Name[ru]=Модуль для KMail
Name[sk]=KMailModul
Name[sl]=Vstavkek KMail
Name[sv]=Kmail-insticksprogram
Name[tr]=KMail Eklentisi
Name[zh_CN]=KMail 插件
Icon=konsole
ServiceTypes=Kontact/Plugin
X-KDE-Library=libkpkmailplugin
