[Desktop Entry]
Type=Service
Exec=blubb
Comment=Kaplan KMail Plugin
Comment[bs]=Kaplan KMail plugin
Comment[cs]=Modul KMailu pro aplikaci Kaplan
Comment[da]=Kaplan KMail-plugin
Comment[el]=Πρόσθετο του Kaplan για το KMail
Comment[eo]=Kaplan-Retpoŝto-kromaĵo
Comment[es]=Plugin de Kmail de Kaplan
Comment[et]=Kaplan KMail plugin
Comment[fi]=Kaplan KMail sovelma
Comment[fr]=Module de Kaplan pour KMail
Comment[he]=תוסף KMail ל-Kaplan
Comment[hu]=Kaplan KMail-bővítőmodul
Comment[it]=Plugin Kaplan KMail
Comment[ja]=Kaplan KMail プラグイン
Comment[lt]=Kaplan KMail priedas
Comment[nb]=Kaplan KMail programtillegg
Comment[nl]=Kaplan KMail-plugin
Comment[nn]=Kaplan, KMail-programtillegg
Comment[nso]=Plugin ya KPoso ya Kaplan
Comment[pl]=Wtyczka poczty elektronicznej Kaplana
Comment[pt]='Plugin' do KMail para o Kaplan
Comment[pt_BR]=Plugin Kaplan para o KMail
Comment[ru]=Модуль Kaplan для KMail
Comment[sk]=Modul KMail pre Kaplan
Comment[sv]=Kaplan-insticksprogram för Kmail
Comment[tr]=Kaplan KMail Eklentisi
Comment[uk]=Втулок календаря
Comment[zh_CN]=Kaplan KMail 插件
Comment[zh_TW]=Kaplan KMail 外掛程式
Comment[zu]=I-Plugin ye-Kaplan KMail
Name=KMailPlugin
Name[cs]=Modul KMailu
Name[de]=KMail-Plugin
Name[el]=Πρόσθετο KMail
Name[eo]=Retpoŝto-kromaĵo
Name[es]=Plugin de KMail
Name[fr]=Module KMail
Name[he]=תוסף KMail
Name[hu]=KMail-modul
Name[it]=Plugin KMail
Name[ja]=KMail プラグイン
Name[lt]=KMail priedas
Name[nb]=KMail-programtillegg
Name[nl]=KMail-plugin
Name[nn]=KMail-programtillegg
Name[nso]=Plugin ya KPoso
Name[pl]=Wtyczka poczty elektronicznej
Name[ru]=Модуль для KMail
Name[sk]=KMailModul
Name[sl]=Vstavkek KMail
Name[sv]=Kmail-insticksprogram
Name[tr]=KMail Eklentisi
Name[zh_CN]=KMail 插件
Icon=konsole
ServiceTypes=Kaplan/Plugin
X-KDE-Library=libkpkmailplugin
