[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kontact_journal
ServiceTypes=Kontact/Plugin

X-KDE-Library=libkontact_journalplugin
X-KDE-KontactPluginVersion=4
X-KDE-KontactPartLibraryName=libkorganizerpart
X-KDE-KontactPartExecutableName=korganizer
X-KDE-KontactPluginHasSummary=false

X-KDE-PluginInfo-Website=http://korganizer.kde.org
X-KDE-PluginInfo-Name=kontact_journalplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact KOrganizer Journal Plugin
Comment[bg]=Приставка за дневника
Comment[da]=Kontact KOrganizer journal-plugin
Comment[es]=Extensión de Kontact para el diario de KOrganizer
Comment[et]=Kontacti KOrganizeri žurnaaliplugin
Comment[fr]=Module de journal KOrganizer pour Kontact
Comment[nl]=Kontact KOrganizer Journaalplugin
Comment[pt]='Plugin' de Diários do KOrganizer para o Kontact
Comment[pt_BR]='Plugin' de Diários do KOrganizer para o Kontact
Comment[ru]=Модуль Kontact для доступа журнал органайзера
Comment[sv]=Kontact-journalinsticksprogram för Korganizer
Comment[tr]=Kontact KOrganizer Günlük Eklentisi
Comment[uk]=Втулок журналу для (KOrganizer) Kontact
Name=Journal
Name[br]=Deizlevr
Name[cy]=Dyddlyfr
Name[es]=Diario
Name[et]=Žurnaal
Name[ga]=Iris
Name[nl]=Journaal
Name[pt]=Diário
Name[pt_BR]=Diário
Name[ru]=Журнал
Name[tr]=Günlük
Name[uk]=Журнал
