[Desktop Entry]
Type=Service
Icon=view-pim-journal
X-KDE-ServiceTypes=Kontact/Plugin

X-KDE-Library=kontact_journalplugin
X-KDE-KontactPluginVersion=7
X-KDE-KontactPartLibraryName=korganizerpart
X-KDE-KontactPartExecutableName=korganizer
X-KDE-KontactPluginHasSummary=false

X-KDE-PluginInfo-Website=http://korganizer.kde.org
X-KDE-PluginInfo-Name=kontact_journalplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact KOrganizer Journal Plugin
Comment[de]=Kontact KOrganizer-Modul für Journaleinträge
Name=Journal
