[Desktop Entry]
Encoding=UTF-8
Icon=kontact_date
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=apptsummary
X-KDE-FactoryName=apptsummary
X-KDE-ParentApp=kontact_korganizerplugin
X-KDE-ParentComponents=kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KontactSummary

Name=Upcoming Events
Name[el]=Σημαντικά γεγονότα
Name[es]=Eventos próximos
Name[kk]=Болашақ оқиғалар
Name[sv]=Kommande händelser
Name[x-test]=xxUpcoming Eventsxx
Name[zh_TW]=將發生的事件
Comment=Upcoming Events Summary Setup
Comment[el]=Ρύθμιση σύνοψης σημαντικών ημερομηνιών
Comment[es]=Configuración del resumen de los eventos próximos
Comment[kk]=Болашақ оқигалар тұжырымының баптау
Comment[sv]=Inställning av översikt över kommande händelser
Comment[x-test]=xxUpcoming Events Summary Setupxx
Comment[zh_TW]=將發生的事件摘要設定
Keywords=calendar, events, configure, settings
Keywords[el]=ημερολόγιο, γεγονότα, ρύθμιση, ρυθμίσεις
Keywords[es]=calendario, eventos, configurar, opciones
Keywords[ja]=カレンダー,イベント,設定
Keywords[kk]=calendar, todos, configure, settings
Keywords[sv]=kalender, händelser, anpassa, inställningar
Keywords[x-test]=xxcalendar, events, configure, settingsxx
