[Desktop Entry]
Icon=view-pim-calendar
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_apptsummary
X-KDE-FactoryName=apptsummary
X-KDE-ParentApp=kontact_korganizerplugin
X-KDE-ParentComponents=kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KontactSummary

Name=Upcoming Events
Name[de]=Anstehende Ereignisse
Comment=Upcoming Events Summary Setup
Comment[de]=Einstellung der Übersicht über anstehende Ereignisse
X-KDE-Keywords=calendar, events, configure, settings
X-KDE-Keywords[bg]=Keywords=календар, задачи, организатор, calendar, todos, configure, settings
X-KDE-Keywords[ca]=calendari, esdeveniments, configuració, arranjament
X-KDE-Keywords[de]=Ereignisse,Kalendar,Aufgaben,einstellen,Einstellungen
X-KDE-Keywords[el]=ημερολόγιο, γεγονότα, ρύθμιση, ρυθμίσεις
X-KDE-Keywords[es]=calendario, eventos, configurar, opciones
X-KDE-Keywords[fa]=تقویم، رویدادها، پیکربندی، تنظیمات
X-KDE-Keywords[ga]=féilire, imeachtaí, cumraigh, socruithe
X-KDE-Keywords[it]=calendario, cose da fare, configura, impostazioni
X-KDE-Keywords[ja]=カレンダー,イベント,設定
X-KDE-Keywords[kk]=calendar, todos, configure, settings
X-KDE-Keywords[ko]=달력, 행사, 설정
X-KDE-Keywords[ne]=क्यालेन्डर, घटना, कन्फिगर, सेटिङ
X-KDE-Keywords[nl]=kalender,agenda,taken,todo,instellingen,configuratie
X-KDE-Keywords[pa]=ਕੈਲੰਡਰ, ਘਟਨਾਵਾਂ, ਸੰਰਚਨਾ, ਸੈਟਿੰਗ
X-KDE-Keywords[pt]=calendário, eventos, configurar, configuração
X-KDE-Keywords[pt_BR]=calendário, eventos, configurar, configuração
X-KDE-Keywords[sv]=kalender, händelser, anpassa, inställningar
X-KDE-Keywords[x-test]=xxcalendar, events, configure, settingsxx
X-KDE-Keywords[zh_CN]=calendar, todos, configure, settings, 日历, 待办事项, 配置, 设置
