[Desktop Entry]
Encoding=UTF-8
Icon=kontact_date
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=apptsummary
X-KDE-FactoryName=apptsummary
X-KDE-ParentApp=kontact_korganizerplugin
X-KDE-ParentComponents=kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KontactSummary

Name=Upcoming Events
Comment=Upcoming Events Summary Setup
Keywords=calendar, events, configure, settings
