[Desktop Entry]
Encoding=UTF-8
Icon=kontact_date
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=korgsummary
X-KDE-FactoryName=korgsummary
X-KDE-ParentApp=kontact_korganizerplugin,kontact_todoplugin
X-KDE-ParentComponents=kontact_korganizerplugin,kontact_todoplugin
X-KDE-CfgDlgHierarchy=KOrganizer

Name=Schedule
Name[be]=Расклад
Name[bg]=Разписание
Name[cs]=Rozvrh
Name[da]=Skema
Name[es]=Planificación
Name[et]=Ajakavad
Name[fr]=Planification
Name[hu]=Szervezés
Name[it]=Pianifica
Name[nl]=Tijdschema
Name[pt]=Escalonamento
Name[pt_BR]=Agenda
Name[ru]=Расписание
Name[sl]=Razpored
Name[sv]=Schema
Name[ta]= திட்டம்
Name[xx]=xxSchedulexx
Name[zh_CN]=日程安排
Comment=Schedule Setup
Comment[bg]=Настройки на разписанието
Comment[cs]=Nastavení rozvrhu
Comment[da]=Opsætning af skema
Comment[es]=Configuración de la planificación
Comment[et]=Ajakavade seadistamine
Comment[fr]=Configuration de la planification
Comment[hu]=A szervezés beállításai
Comment[it]=Setup pianificazione
Comment[nl]=Tijdschema-instellingen
Comment[pt]=Configuração do Escalonamento
Comment[pt_BR]=Configurações da Agenda
Comment[ru]=Настройка расписания
Comment[sl]=nastavitve razporeda
Comment[sv]=Inställning av schema
Comment[ta]=திட்ட அமைப்பு
Comment[xx]=xxSchedule Setupxx
Comment[zh_CN]=日程安排设置
Keywords=calendar, todos, configure, settings
Keywords[be]=каляндар, заданьні, настроіць, настройкі, calendar, todos, configure, settings
Keywords[bg]=календар, задачи, организатор, calendar, todos, configure, settings
Keywords[cs]=kalendář,úkoly,nastavit,nastavení
Keywords[da]=kalender, gøremål, indstil, opsætning
Keywords[es]=calendario, tareas pendientes, configurar, opciones
Keywords[et]=kalender, ülesanded, seadistamine, seadistused
Keywords[fr]=calendrier,agenda,tâches,configurer,paramètres,paramètre
Keywords[hu]=naptár,feladatok,konfigurálás,beállítások
Keywords[it]=calendario, attività, configura, impostazioni
Keywords[nl]=kalender,agenda,taken,todo,instellingen,configuratie
Keywords[pt]=calendário, a fazer, configurar, configuração
Keywords[pt_BR]=calendário, pendências, configurar, configurações
Keywords[ru]=calendar,todos,configure,settings,настройка,календарь,задачи
Keywords[sl]=koledar,za narediti,nastavitve,nastavi
Keywords[sv]=kalender, att-göra, anpassa, inställningar
Keywords[ta]=நாள்காட்டி,செய்யவேண்டியவைகள்,கட்டமைப்பு,அமைவுகள்
Keywords[xx]=xxcalendar, todos, configure, settingsxx
Keywords[zh_CN]=calendar, todos, configure, settings, 日历, 待办事项, 配置, 设置
