[Desktop Entry]
Encoding=UTF-8
Icon=kontact_date
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=korgsummary
X-KDE-FactoryName=korgsummary
X-KDE-ParentApp=kontact_korganizerplugin,kontact_todoplugin
X-KDE-ParentComponents=kontact_korganizerplugin,kontact_todoplugin
X-KDE-CfgDlgHierarchy=KontactSummary

Name=Schedule
Name[be]=Расклад
Name[bg]=Разписание
Name[ca]=Planificació
Name[cs]=Rozvrh
Name[cy]=Trefnlen
Name[da]=Skema
Name[de]=Zeitplan
Name[es]=Planificación
Name[et]=Ajakavad
Name[fi]=Kalenteri
Name[fr]=Planification
Name[ga]=Sceideal
Name[gl]=Axenda
Name[hu]=Szervezés
Name[it]=Pianifica
Name[ja]=スケジュール
Name[nb]=Planlegging
Name[nl]=Tijdschema
Name[nn]=Plan
Name[pl]=Planowanie
Name[pt]=Escalonamento
Name[pt_BR]=Agenda
Name[ru]=Календарь
Name[se]=Plána
Name[sk]=Plánovanie
Name[sl]=Razpored
Name[sr]=Закажи
Name[sr@Latn]=Zakaži
Name[sv]=Schema
Name[ta]= திட்டம்
Name[tg]=Ҷадвал
Name[tr]=Planla
Name[uk]=Розклад
Name[xx]=xxSchedulexx
Name[zh_CN]=日程安排
Comment=Schedule Setup
Comment[bg]=Настройки на разписанието
Comment[ca]=Configuració de la planificació
Comment[cs]=Nastavení rozvrhu
Comment[da]=Opsætning af skema
Comment[de]=Schedule Einstellungen
Comment[es]=Configuración de la planificación
Comment[et]=Ajakavade seadistamine
Comment[fi]=Kalenterin asetukset
Comment[fr]=Configuration de la planification
Comment[hu]=A szervezés beállításai
Comment[it]=Setup pianificazione
Comment[ja]=スケジュール設定
Comment[nb]=Planlegger oppsett
Comment[nl]=Tijdschema-instellingen
Comment[nn]=Oppsett av plan
Comment[pl]=Ustawienia Planowania
Comment[pt]=Configuração do Escalonamento
Comment[pt_BR]=Configurações da Agenda
Comment[ru]=Настройка календаря
Comment[se]=Heivet plána
Comment[sk]=Nastavenie plánovania
Comment[sl]=nastavitve razporeda
Comment[sr]=Подешавање заказивања
Comment[sr@Latn]=Podešavanje zakazivanja
Comment[sv]=Inställning av schema
Comment[ta]=திட்ட அமைப்பு
Comment[tg]=Танзимоти ҷадвал
Comment[tr]=Planlama Yapılandırması
Comment[uk]=Налаштування розкладу
Comment[xx]=xxSchedule Setupxx
Comment[zh_CN]=日程安排设置
Keywords=calendar, todos, configure, settings
Keywords[be]=каляндар, заданьні, настроіць, настройкі, calendar, todos, configure, settings
Keywords[bg]=календар, задачи, организатор, calendar, todos, configure, settings
Keywords[ca]=calendari, pendents, configuració, arranjament
Keywords[cs]=kalendář,úkoly,nastavit,nastavení
Keywords[da]=kalender, gøremål, indstil, opsætning
Keywords[de]=Kalendar, Aufgaben, einstellen, Einstellungen
Keywords[es]=calendario, tareas pendientes, configurar, opciones
Keywords[et]=kalender, ülesanded, seadistamine, seadistused
Keywords[fi]=kalenteri, tehtävät, muokkaa, asetukset
Keywords[fr]=calendrier,agenda,tâches,configurer,paramètres,paramètre
Keywords[gl]=calendario, pendentes, configurar, opcións
Keywords[hu]=naptár,feladatok,konfigurálás,beállítások
Keywords[it]=calendario, cose da fare, configura, impostazioni
Keywords[ja]=スケジュール,todos,設定,設定
Keywords[nb]=klaender, oppgavelister, oppsett, innstillinger
Keywords[nl]=kalender,agenda,taken,todo,instellingen,configuratie
Keywords[nn]=kalender,hugselister,oppsett,innstillingar
Keywords[pl]=kalendarz,do zrobienia,konfiguracja,ustawienia
Keywords[pt]=calendário, a fazer, configurar, configuração
Keywords[pt_BR]=calendário, pendências, configurar, configurações
Keywords[ru]=calendar,todos,configure,settings,настройка,календарь,задачи
Keywords[sk]=kalendár,úlohy,nastavenie
Keywords[sl]=koledar,za narediti,nastavitve,nastavi
Keywords[sr]=calendar, todos, configure, settings, календар, послови, подеси, поставке
Keywords[sr@Latn]=calendar, todos, configure, settings, kalendar, poslovi, podesi, postavke
Keywords[sv]=kalender, uppgifter, anpassa, inställningar
Keywords[ta]=நாள்காட்டி,செய்யவேண்டியவைகள்,கட்டமைப்பு,அமைவுகள்
Keywords[tg]=calendar, todos, configure, settings,танзимот, тақвим,вазифа
Keywords[tr]=takvim, yapılacaklar, yapılandır, yapılandırma
Keywords[uk]=календар, завдання, налаштування, установки
Keywords[xx]=xxcalendar, todos, configure, settingsxx
Keywords[zh_CN]=calendar, todos, configure, settings, 日历, 待办事项, 配置, 设置
