[Desktop Entry]
Icon=view-pim-tasks
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_todosummary
X-KDE-FactoryName=todosummary
X-KDE-ParentApp=kontact_todoplugin
X-KDE-ParentComponents=kontact_todoplugin
X-KDE-CfgDlgHierarchy=KontactSummary

Name=Pending To-dos
Name[de]=Zu erledigende Aufgaben
Comment=Pending To-dos Summary Setup
Comment[de]=Einstellung der Übersicht über zu erledigende Aufgaben
X-KDE-Keywords=calendar, todos, configure, settings
X-KDE-Keywords[af]=calendar,todos,configure,settings
X-KDE-Keywords[bg]=Keywords=календар, задачи, организатор, calendar, todos, configure, settings
X-KDE-Keywords[ca]=calendari, pendents, configuració, arranjament
X-KDE-Keywords[cs]=kalendář,úkoly,nastavit,nastavení
X-KDE-Keywords[da]=kalender, gøremål, indstil, opsætning
X-KDE-Keywords[de]=Kalendar,Aufgaben,einstellen,Einstellungen
X-KDE-Keywords[el]=ημερολόγιο, προς υλοποίηση, ρύθμιση, ρυθμίσεις
X-KDE-Keywords[es]=calendario, tareas pendientes, configurar, opciones
X-KDE-Keywords[et]=kalender, ülesanded, seadistamine, seadistused
X-KDE-Keywords[eu]=egutegia, egitekoak, konfiguratu, ezarpenak
X-KDE-Keywords[fa]=تقویم، کارهای انجامی، پیکربندی، تنظیمات
X-KDE-Keywords[fi]=kalenteri, tehtävät, muokkaa, asetukset
X-KDE-Keywords[fr]=calendrier,agenda,tâches,configurer,paramètres,paramètre
X-KDE-Keywords[fy]=kalinder,aginda,taken,todo,ynstellings,konfiguraasje
X-KDE-Keywords[ga]=féilire, tascanna, cumraigh, socruithe
X-KDE-Keywords[gl]=calendario, pendentes, configurar, opcións
X-KDE-Keywords[he]=calendar, todos, configure, settings, יומן, יומנים, משימות, מטלות, הגדרות, תצורה
X-KDE-Keywords[hu]=naptár,feladatok,konfigurálás,beállítások
X-KDE-Keywords[is]=dagatal, verkþættir, stillingar, stilla
X-KDE-Keywords[it]=calendario, cose da fare, configura, impostazioni
X-KDE-Keywords[ja]=カレンダー, To-Do, 設定
X-KDE-Keywords[ka]=კალენდარი,გასაკეთებლები,კონფიგურაცია,პარამეტრები
X-KDE-Keywords[km]=ប្រតិទិន,ការងារ​ត្រូវ​ធ្វើ,កំណត់​រចនាសម្ព័ន្ធ,ការ​កំណត់
X-KDE-Keywords[ko]=달력, 할 일, 설정
X-KDE-Keywords[lt]=calendar, todos, configure, settings, kalendorius, darbai, konfigūruoti, nustatymai
X-KDE-Keywords[ms]=kalendar, tugasan, konfigur, seting
X-KDE-Keywords[nb]=kalender, gjørelister, oppsett, innstillinger
X-KDE-Keywords[nds]=Kalenner,Opgaven,Opgaav,instellen,Mööt,Möten
X-KDE-Keywords[ne]=क्यालेन्डर, गर्नुपर्ने काम, कन्फिगर, सेटिङ
X-KDE-Keywords[nl]=kalender,agenda,taken,todo,instellingen,configuratie
X-KDE-Keywords[pl]=kalendarz,do zrobienia,konfiguracja,ustawienia
X-KDE-Keywords[pt]=calendário, por-fazer, configurar, configuração
X-KDE-Keywords[pt_BR]=calendário, pendências, configurar, configurações
X-KDE-Keywords[ru]=calendar,todos,configure,settings,настройка,календарь,задачи
X-KDE-Keywords[sl]=koledar,za narediti,nastavitve,nastavi
X-KDE-Keywords[sr]=calendar, todos, configure, settings, календар, послови, подеси, поставке
X-KDE-Keywords[sr@latin]=calendar, todos, configure, settings, kalendar, poslovi, podesi, postavke
X-KDE-Keywords[sv]=kalender, uppgifter, anpassa, inställningar
X-KDE-Keywords[ta]=நாள்காட்டி,செய்யவேண்டியவைகள்,கட்டமைப்பு,அமைவுகள்
X-KDE-Keywords[tg]=calendar, todos, configure, settings,танзимот, тақвим,вазифа
X-KDE-Keywords[tr]=takvim, yapılacaklar, yapılandır, yapılandırma
X-KDE-Keywords[uk]=календар, завдання, налаштування, установки
X-KDE-Keywords[x-test]=xxcalendar, todos, configure, settingsxx
X-KDE-Keywords[zh_CN]=calendar, todos, configure, settings, 日历, 待办事项, 配置, 设置
