[Desktop Entry]
Encoding=UTF-8
Icon=kontact_todo
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=todosummary
X-KDE-FactoryName=todosummary
X-KDE-ParentApp=kontact_todoplugin
X-KDE-ParentComponents=kontact_todoplugin
X-KDE-CfgDlgHierarchy=KontactSummary

Name=Pending To-dos
Comment=Pending To-dos Summary Setup
Keywords=calendar, todos, configure, settings
Keywords[x-test]=xxcalendar, todos, configure, settingsxx
