[Desktop Entry]
Encoding=UTF-8
Icon=kontact_todo
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_todosummary
X-KDE-FactoryName=todosummary
X-KDE-ParentApp=kontact_todoplugin
X-KDE-ParentComponents=kontact_todoplugin
X-KDE-CfgDlgHierarchy=KontactSummary

Name=Pending To-dos
Name[el]=Εργασίες προς υλοποίηση
Name[es]=Tareas pendientes
Name[ja]=未決 To-Do
Name[kk]=Кейінге қалдырылған жоспарлар
Name[ne]=विचारधीन काम
Name[pt]=Itens Por-Fazer Pendentes
Name[pt_BR]=Itens Por-Fazer Pendentes
Name[sv]=Väntande uppgifter
Name[x-test]=xxPending To-dosxx
Name[zh_TW]=未決定的待辦事項
Comment=Pending To-dos Summary Setup
Comment[bg]=Приставка за обобщен преглед на срещите и задачите
Comment[el]=Ρύθμιση ραντεβού και προς υλοποίηση εργασιών
Comment[es]=Configuración del resumen de tareas pendientes
Comment[fa]=برپایی خلاصۀ کارهایی که باید انجام شوند
Comment[ja]=未決 To-Do の要約設定
Comment[kk]=Кейінге қалдырылған жоспарлар тұжырымының баптау
Comment[ne]=विचारधीन काम सारांश सेटअप
Comment[pt]=Configuração do Resumo dos Itens Por-Fazer Pendentes
Comment[pt_BR]=Configuração do Resumo dos Itens Por-Fazer Pendentes
Comment[sv]=Inställning av översikt över väntande uppgifter
Comment[x-test]=xxPending To-dos Summary Setupxx
Comment[zh_TW]=未決定的待辦事項摘要設定
Keywords=calendar, todos, configure, settings
Keywords[af]=calendar,todos,configure,settings
Keywords[bg]=Keywords=календар, задачи, организатор, calendar, todos, configure, settings
Keywords[ca]=calendari, pendents, configuració, arranjament
Keywords[cs]=kalendář,úkoly,nastavit,nastavení
Keywords[da]=kalender, gøremål, indstil, opsætning
Keywords[de]=Kalendar,Aufgaben,einstellen,Einstellungen
Keywords[el]=ημερολόγιο, προς υλοποίηση, ρύθμιση, ρυθμίσεις
Keywords[es]=calendario, tareas pendientes, configurar, opciones
Keywords[et]=kalender, ülesanded, seadistamine, seadistused
Keywords[eu]=egutegia, egitekoak, konfiguratu, ezarpenak
Keywords[fa]=تقویم، کارهای انجامی، پیکربندی، تنظیمات
Keywords[fi]=kalenteri, tehtävät, muokkaa, asetukset
Keywords[fr]=calendrier,agenda,tâches,configurer,paramètres,paramètre
Keywords[fy]=kalinder,aginda,taken,todo,ynstellings,konfiguraasje
Keywords[ga]=féilire, tascanna, cumraigh, socruithe
Keywords[gl]=calendario, pendentes, configurar, opcións
Keywords[he]=calendar, todos, configure, settings, יומן, יומנים, משימות, מטלות, הגדרות, תצורה
Keywords[hu]=naptár,feladatok,konfigurálás,beállítások
Keywords[is]=dagatal, verkþættir, stillingar, stilla
Keywords[it]=calendario, cose da fare, configura, impostazioni
Keywords[ja]=カレンダー, To-Do, 設定
Keywords[ka]=კალენდარი,გასაკეთებლები,კონფიგურაცია,პარამეტრები
Keywords[km]=ប្រតិទិន,ការងារ​ត្រូវ​ធ្វើ,កំណត់​រចនាសម្ព័ន្ធ,ការ​កំណត់
Keywords[lt]=calendar, todos, configure, settings, kalendorius, darbai, konfigūruoti, nustatymai
Keywords[ms]=kalendar, tugasan, konfigur, seting
Keywords[nb]=kalender, gjørelister, oppsett, innstillinger
Keywords[nds]=Kalenner,Opgaven,Opgaav,instellen,Mööt,Möten
Keywords[ne]=पात्रो, गर्नुपर्ने कार्यहरू, कन्फिगर, सेटिङ
Keywords[nl]=kalender,agenda,taken,todo,instellingen,configuratie
Keywords[nn]=kalender,hugselister,oppsett,innstillingar
Keywords[pl]=kalendarz,do zrobienia,konfiguracja,ustawienia
Keywords[pt]=calendário, por-fazer, configurar, configuração
Keywords[pt_BR]=calendário, pendências, configurar, configurações
Keywords[ru]=calendar,todos,configure,settings,настройка,календарь,задачи
Keywords[sl]=koledar,za narediti,nastavitve,nastavi
Keywords[sr]=calendar, todos, configure, settings, календар, послови, подеси, поставке
Keywords[sr@latin]=calendar, todos, configure, settings, kalendar, poslovi, podesi, postavke
Keywords[sv]=kalender, uppgifter, anpassa, inställningar
Keywords[ta]=நாள்காட்டி,செய்யவேண்டியவைகள்,கட்டமைப்பு,அமைவுகள்
Keywords[tg]=calendar, todos, configure, settings,танзимот, тақвим,вазифа
Keywords[tr]=takvim, yapılacaklar, yapılandır, yapılandırma
Keywords[uk]=календар, завдання, налаштування, установки
Keywords[x-test]=xxcalendar, todos, configure, settingsxx
