[Desktop Entry]
Type=Service
Exec=
Comment=Kontact KOrganizer Plugin
Comment[be]=Дапаўненьне Кантакту "K Арганізатар"
Comment[ca]=Connector Kontact per a KOrganizer
Comment[da]=Kontact KOrganizer-plugin
Comment[el]=Πρόσθετο του Kontact για το KOrganizer
Comment[es]=Plugin de KOrganizer para Kontact
Comment[hu]=Kontact KOrganizer-bővítőmodul
Comment[pt_BR]=Plug-in para KOrganizer do Kontact
Comment[ru]=Модуль Kontact для доступа к органайзеру
Comment[sr]=Додатак Kontact-а за KOrganizer
Comment[sv]=Kontact-insticksprogram för Korganizer
Comment[tr]=Kontact KOrganizer Eklentisi
Comment[xx]=xxKontact KOrganizer Pluginxx
Comment[zh_CN]=Kontact KOrganizer 插件
Name=Calendar
Name[be]=Каляндар
Name[ca]=Calendari
Name[da]=Kalender
Name[es]=Calendario
Name[hu]=Naptár
Name[pt_BR]=Calendário
Name[ru]=Календарь
Name[sr]=Календар
Name[sv]=Kalender
Name[tr]=Takvim
Name[xx]=xxCalendarxx
Icon=korganizer
ServiceTypes=Kontact/Plugin
X-KDE-Library=libkontact_korganizerplugin
X-KDE-KontactIdentifier=calendar
X-KDE-KontactPluginVersion=1
X-KDE-KontactPartLibraryName=libkorganizerpart
