[Desktop Entry]
Type=Service
Icon=view-pim-calendar
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_korganizerplugin
X-KDE-KontactPluginVersion=7
X-KDE-KontactPartLibraryName=korganizerpart
X-KDE-KontactPartExecutableName=korganizer
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Website=http://korganizer.kde.org
X-KDE-PluginInfo-Name=kontact_korganizerplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact KOrganizer Plugin
Comment[af]=Kontact KOrganizer inprop module
Comment[bg]=Приставка за календар и връзка с KOrganizer
Comment[br]=Lugent Kontact KOrganizer
Comment[ca]=Connector del KOrganizer per al Kontact
Comment[cs]=Modul KOrganizeru pro aplikaci Kontact
Comment[cy]=Ategyn KOrganizer Kontact 
Comment[da]=Kontact KOrganizer-plugin
Comment[de]=KOrganizer-Modul für Kontact
Comment[el]=Πρόσθετο KOrganizer του Kontact
Comment[eo]=Kontact-KOrganizilo-kromaĵo
Comment[es]=Complemento de KOrganizer para Kontact
Comment[et]=Kontacti KOrganizeri plugin
Comment[eu]=Kontact-en KOrganizer plugin-a
Comment[fa]=وصلۀ Kontact KOrganizer
Comment[fi]=Kontactin KOrganizer-liitännäinen
Comment[fr]=Module KOrganizer pour Kontact
Comment[fy]=Kontact KOrganizer-plugin
Comment[ga]=Breiseán KOrganizer le haghaidh Kontact
Comment[gl]=Engadido do KOrganizer para o Kontact
Comment[he]=תוסף KOrganizer עבור Kontact
Comment[hu]=Kontact KOrganizer-bővítőmodul
Comment[is]=Kontact KOrganizer íforrit
Comment[it]=Estensione per Kontact di KOrganizer
Comment[ja]=Kontact KOrganizer プラグイン
Comment[ka]=Kontact KOrganizer მოდული
Comment[kk]=KOrganizer модулі
Comment[km]=កម្មវិធី​ជំនួយ KOrganizer ក្នុង Kontact
Comment[ko]=Kontact KOrganizer 플러그인
Comment[lt]=Kontact KOrganizer priedas
Comment[lv]=Kontact KOrganizer spraudnis
Comment[mk]=Приклучок за КОрганизатор во Контакт
Comment[ms]=Plugin KOragnizer Kontact 
Comment[nb]=Kontact programtillegg for KOrganizer
Comment[nds]=KOrganizer-Moduul för Kontact
Comment[ne]=केडीई आयोजक प्लगइन सम्पर्क गर्नुहोस्
Comment[nl]=Kontact KOrganizer-plugin
Comment[nn]=Kontakt-programtillegg for KOrganizer
Comment[pl]=Wtyczka Kontact do współpracy z KOrganizerem
Comment[pt]='Plugin' do KOrganizer para o Kontact
Comment[pt_BR]=Plug-in do KOrganizer para o Kontact
Comment[ro]=Modul KOrganizer pentru Kontact
Comment[ru]=Календарь
Comment[se]=Kontact, KOrganizer-lassemoduvla
Comment[sl]=Vstavek KOrganizer za Kontact
Comment[sv]=Kontact-insticksprogram för Korganizer
Comment[ta]=கேஅமைப்பாளரை சொருகுப்பொருளை தொடர்புகொள்
Comment[tg]=Модули Kontact барои дастрасӣ ба органайзер
Comment[tr]=Kontact KOrganizer Eklentisi
Comment[uk]=Втулок календаря KOrganizer для Kontact
Comment[uz]=Kontact uchun KOrganizer plagini
Comment[uz@cyrillic]=Kontact учун KOrganizer плагини
Comment[x-test]=xxKontact KOrganizer Pluginxx
Comment[zh_CN]=Kontact KOrganizer 插件
Comment[zh_TW]=Kontact KOrganizer 外掛程式
Name=Calendar
Name[af]=Kalender
Name[br]=Deiziadur
Name[ca]=Calendari
Name[cs]=Kalendář
Name[cy]=Calendr
Name[da]=Kalender
Name[de]=Kalender
Name[el]=Ημερολόγιο
Name[eo]=Kalendaro
Name[es]=Calendario
Name[et]=Kalender
Name[eu]=Egutegia
Name[fa]=تقویم
Name[fi]=Kalenteri
Name[fr]=Calendrier
Name[fy]=Aginda
Name[ga]=Féilire
Name[gl]=Calendario
Name[he]=לוח שנה
Name[hu]=Naptár
Name[is]=Dagatal
Name[it]=Calendario
Name[ja]=カレンダー
Name[ka]=კალენდარი
Name[kk]=Күнтізбе
Name[km]=ប្រតិទិន
Name[ko]=달력
Name[lt]=Kalendorius
Name[lv]=Kalendārs
Name[mk]=Календар
Name[ms]=Kalendar
Name[nb]=Kalender
Name[nds]=Kalenner
Name[ne]=क्यालेन्डर
Name[nl]=Agenda
Name[nn]=Kalender
Name[oc]=Calendièr
Name[pa]=ਕੈਲੰਡਰ
Name[pl]=Kalendarz
Name[pt]=Calendário
Name[pt_BR]=Calendário
Name[ru]=Календарь
Name[se]=Kaleandar
Name[sk]=Kalendár
Name[sl]=Koledar
Name[sv]=Kalender
Name[ta]=நாள்காட்டி
Name[tg]=Тақвим
Name[th]=ปฏิทิน
Name[tr]=Takvim
Name[uk]=Календар
Name[uz]=Kalendar
Name[uz@cyrillic]=Календар
Name[wa]=Calindrî
Name[x-test]=xxCalendarxx
Name[zh_CN]=日历
Name[zh_TW]=行事曆
