[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kontact_date
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_korganizerplugin
X-KDE-KontactPluginVersion=4
X-KDE-KontactPartLibraryName=libkorganizerpart
X-KDE-KontactPartExecutableName=korganizer
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Website=http://korganizer.kde.org
X-KDE-PluginInfo-Name=kontact_korganizerplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact KOrganizer Plugin
Comment[be]=Дапаўненьне Кантакту "K Арганізатар"
Comment[bg]=Приставка за календар и връзка с KOrganizer
Comment[br]=Lugent Kontact KOrganizer
Comment[bs]=Kontact KOrganizer dodatak
Comment[ca]=Endollable KOrganizer per a Kontact
Comment[cs]=Modul KOrganizeru pro aplikaci Kontact
Comment[cy]=Ategyn KOrganizer Kontact 
Comment[da]=Kontact KOrganizer-plugin
Comment[de]=KOrganizer-Plugin für Kontact
Comment[el]=Πρόσθετο KOrganizer του Kontact
Comment[es]=Plugin de KOrganizer para Kontact
Comment[et]=Kontacti KOrganizeri plugin
Comment[fi]=Kontactin KOrganizer-liitännäinen
Comment[fr]=Module KOrganizer pour Kontact
Comment[gl]=Extensión de KOrganizer para Kontact
Comment[hi]=कॉन्टेक्ट के-आर्गेनाइज़र प्लगइन
Comment[hu]=Kontact KOrganizer-bővítőmodul
Comment[is]=Kontact íforrit fyrir KSkipulag
Comment[it]=Plugin KOrganizer Kontact
Comment[ja]=Kontact KOrganizer プラグイン
Comment[nb]=Kontact programtillegg for KOrganizer
Comment[nl]=Kontact KOrganizer-plugin
Comment[nn]=Kontact, KOrganizer-programtillegg
Comment[pl]=Wtyczka Kontact do współpracy z KOrganizerem
Comment[pt]='Plugin' do KOrganizer para o Kontact
Comment[pt_BR]=Plug-in para KOrganizer do Kontact
Comment[ro]=Modul KOrganizer pentru Kontact
Comment[ru]=Модуль Kontact для доступа к органайзеру
Comment[se]=Kontact, KOrganizer-lassemoduvla
Comment[sl]=Vstavek KOrganizer za Kontact
Comment[sr]=Прикључак Kontact-а за KOrganizer
Comment[sr@Latn]=Dodatak Kontact-a za KOrganizer
Comment[sv]=Kontact-insticksprogram för Korganizer
Comment[ta]=கேஅமைப்பாளரை சொருகுப்பொருளை தொடர்புகொள்
Comment[tg]=Модули Kontact барои дастрасӣ ба органайзер
Comment[tr]=Kontact KOrganizer Eklentisi
Comment[uk]=Втулок календаря KOrganizer для Kontact
Comment[uz]=Kontact учун KOrganizer плагини
Comment[xx]=xxKontact KOrganizer Pluginxx
Comment[zh_CN]=Kontact KOrganizer 插件
Name=Calendar
Name[be]=Каляндар
Name[br]=Deiziadur
Name[bs]=Kalendar
Name[ca]=Calendari
Name[cs]=Kalendář
Name[cy]=Calendr
Name[da]=Kalender
Name[de]=Kalender
Name[el]=Ημερολόγιο
Name[es]=Calendario
Name[et]=Kalender
Name[fi]=Kalenteri
Name[fr]=Calendrier
Name[ga]=Féilire
Name[gl]=Calendario
Name[hi]=कैलेन्डर
Name[hu]=Naptár
Name[is]=Dagatal
Name[it]=Calendario
Name[ja]=カレンダ
Name[nb]=Kalender
Name[nl]=Agenda
Name[nn]=Kalender
Name[pl]=Kalendarz
Name[pt]=Calendário
Name[pt_BR]=Calendário
Name[ru]=Календарь
Name[se]=Kaleandar
Name[sk]=Kalendár
Name[sl]=Koledar
Name[sr]=Календар
Name[sr@Latn]=Kalendar
Name[sv]=Kalender
Name[ta]=நாள்காட்டி
Name[tg]=Тақвим
Name[tr]=Takvim
Name[uk]=Календар
Name[uz]=Календар
Name[xx]=xxCalendarxx
Name[zh_CN]=日历
