[Desktop Entry]
Type=Service
Exec=blubb
Comment=Kaplan KOrganizer Plugin
Comment[da]=Kaplan KOrganizer-indstik
Comment[el]=Πρόσθετο του Kaplan για το KOrganizer
Comment[es]=Plugin de Korganizer Kaplan
Comment[fi]=Kaplan KOrganizer sovelma
Comment[fr]=Module de Kaplan pour KOrganizer
Comment[he]=תוסף KOrganizer ל-Kaplan
Comment[hr]=Kaplan KOrganizer dodatak
Comment[hu]=Kaplan-bővítőmodul a KOrganizerhez
Comment[ja]=Kaplan KOrganizer プラグイン
Comment[pt_BR]=Plugin Kaplan para o Calendário
Comment[ro]=Modul KOrganizer pentru Kaplan
Comment[sv]=Kaplan-insticksprogram för Korganizer
Comment[tr]=Kaplan KOrganizer Eklentisi
Name=KOrganizerPlugin
Name[cs]=Modul KOrganizeru
Name[da]=KOrganizerIndstik
Name[de]=KOrganizer-Plugin
Name[fr]=module de KOrganizer
Name[he]=תוסף KOrganizer
Name[hr]=KOrganizer dodatak
Name[hu]=KOrganizer-modul
Name[ja]=KOrganizerプラグイン
Name[pt_BR]=Plugin do KOrganizer
Name[ro]=Modul KOrganizer
Name[sv]=Korganizer-insticksprogram
Name[tr]=KOrganizer Eklentisi
Icon=konsole
ServiceTypes=Kaplan/Plugin
X-KDE-Library=libkpkorganizerplugin
