[Desktop Entry]
Type=Service
Exec=blubb
Comment=Kontact KOrganizer Plugin
Comment[cs]=Modul KOrganizeru pro aplikaci Kontact
Comment[da]=Kontact KOrganizer-plugin
Comment[de]=Plugin für Kontact und KOrganizer
Comment[el]=Πρόσθετο του Kontact για το KOrganizer
Comment[eo]=Kontact-Organizilo-kromaĵo
Comment[es]=Plugin de Korganizer Kontact
Comment[et]=Kontact KOrganizer plugin
Comment[fi]=Kontact KOrganizer sovelma
Comment[fr]=Module de Kontact pour KOrganizer
Comment[he]=תוסף KOrganizer ל-Kontact
Comment[hr]=Kontact KOrganizer dodatak
Comment[hu]=Kontact-bővítőmodul a KOrganizerhez
Comment[it]=Plugin Kontact KOrganizer
Comment[ja]=Kontact KOrganizer プラグイン
Comment[lt]=Kontact KOrganizer priedas
Comment[nb]=Kontact KOrganizer-programtillegg
Comment[nl]=Kontact KOrganizer-plugin
Comment[nn]=Kontact, KOrganizer-programtillegg
Comment[nso]=Plugin ya KMokgokaganyi wa Kontact
Comment[pl]=Wtyczka Organizatora Kontacta
Comment[pt]='Plugin' de KOrganizer para o Kontact
Comment[pt_BR]=Plugin Kontact para o Calendário
Comment[ro]=Modul KOrganizer pentru Kontact
Comment[ru]=Модуль Kontact для органайзера
Comment[sk]=Modul KOrganizer pre Kontact
Comment[sv]=Kontact-insticksprogram för Korganizer
Comment[tr]=Kontact KOrganizer Eklentisi
Comment[uk]=Втулок календаря
Comment[ven]=Plugin ya mudzudzanyi wa K wa Kontact
Comment[zh_CN]=Kontact KOrganizer 插件
Comment[zh_TW]=Kontact KOrganizer 外掛程式
Comment[zu]=I-Plugin ye-Kontact KOrganizer
Name=KOrganizerPlugin
Name[bg]=Plugin за КОрганайзер
Name[cs]=Modul KOrganizeru
Name[de]=KOrganizer-Plugin
Name[eo]=Organizilo-kromaĵo
Name[fr]=module de KOrganizer
Name[he]=תוסף KOrganizer
Name[hr]=KOrganizer dodatak
Name[hu]=KOrganizer-modul
Name[it]=Plugin KOrganizer
Name[ja]=KOrganizerプラグイン
Name[lt]=KOrganizer priedas
Name[nb]=KOrganizer-programtillegg
Name[nl]=KOrganizer-plugin
Name[nn]=KOrganizer-programtillegg
Name[nso]=Plugin ya KMokgokaganyi
Name[pl]=Wtyczka Organizatora
Name[pt_BR]=Plugin do KOrganizer
Name[ro]=Modul KOrganizer
Name[ru]=Модуль для органайзера
Name[sk]=KOrganizerModul
Name[sv]=Korganizer-insticksprogram
Name[tr]=KOrganizer Eklentisi
Name[ven]=Plugin ya Mulugisi wa K
Name[zh_CN]=KOrganizer 插件
Icon=konsole
ServiceTypes=Kontact/Plugin
X-KDE-Library=libkpkorganizerplugin
