[Desktop Entry]
Type=Service
Exec=blubb
Comment=Kaplan KOrganizer Plugin
Comment[cs]=Modul KOrganizeru pro aplikaci Kaplan
Comment[da]=Kaplan KOrganizer-plugin
Comment[de]=Plugin für Kaplan und KOrganizer
Comment[el]=Πρόσθετο του Kaplan για το KOrganizer
Comment[eo]=Kaplan-Organizilo-kromaĵo
Comment[es]=Plugin de Korganizer Kaplan
Comment[et]=Kaplan KOrganizer plugin
Comment[fi]=Kaplan KOrganizer sovelma
Comment[fr]=Module de Kaplan pour KOrganizer
Comment[he]=תוסף KOrganizer ל-Kaplan
Comment[hr]=Kaplan KOrganizer dodatak
Comment[hu]=Kaplan-bővítőmodul a KOrganizerhez
Comment[it]=Plugin Kaplan KOrganizer
Comment[ja]=Kaplan KOrganizer プラグイン
Comment[lt]=Kaplan KOrganizer priedas
Comment[nb]=Kaplan KOrganizer-programtillegg
Comment[nl]=Kaplan KOrganizer-plugin
Comment[nn]=Kaplan, KOrganizer-programtillegg
Comment[nso]=Plugin ya KMokgokaganyi wa Kaplan
Comment[pl]=Wtyczka Organizatora Kaplana
Comment[pt]='Plugin' de KOrganizer para o Kaplan
Comment[pt_BR]=Plugin Kaplan para o Calendário
Comment[ro]=Modul KOrganizer pentru Kaplan
Comment[ru]=Модуль Kaplan для органайзера
Comment[sk]=Modul KOrganizer pre Kaplan
Comment[sv]=Kaplan-insticksprogram för Korganizer
Comment[tr]=Kaplan KOrganizer Eklentisi
Comment[uk]=Втулок календаря
Comment[ven]=Plugin ya mudzudzanyi wa K wa Kaplan
Comment[zh_CN]=Kaplan KOrganizer 插件
Comment[zh_TW]=Kaplan KOrganizer 外掛程式
Comment[zu]=I-Plugin ye-Kaplan KOrganizer
Name=KOrganizerPlugin
Name[cs]=Modul KOrganizeru
Name[de]=KOrganizer-Plugin
Name[eo]=Organizilo-kromaĵo
Name[fr]=module de KOrganizer
Name[he]=תוסף KOrganizer
Name[hr]=KOrganizer dodatak
Name[hu]=KOrganizer-modul
Name[it]=Plugin KOrganizer
Name[ja]=KOrganizerプラグイン
Name[lt]=KOrganizer priedas
Name[nb]=KOrganizer-programtillegg
Name[nl]=KOrganizer-plugin
Name[nn]=KOrganizer-programtillegg
Name[nso]=Plugin ya KMokgokaganyi
Name[pl]=Wtyczka Organizatora
Name[pt_BR]=Plugin do KOrganizer
Name[ro]=Modul KOrganizer
Name[ru]=Модуль для органайзера
Name[sk]=KOrganizerModul
Name[sv]=Korganizer-insticksprogram
Name[tr]=KOrganizer Eklentisi
Name[ven]=Plugin ya Mulugisi wa K
Name[zh_CN]=KOrganizer 插件
Icon=konsole
ServiceTypes=Kaplan/Plugin
X-KDE-Library=libkpkorganizerplugin
