[Desktop Entry]
Type=Service
Icon=kontact_todo
ServiceTypes=Kontact/Plugin

X-KDE-Library=libkontact_todoplugin
X-KDE-KontactPluginVersion=6
X-KDE-KontactPartLibraryName=libkorganizerpart
X-KDE-KontactPartExecutableName=korganizer
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Website=http://korganizer.kde.org
X-KDE-PluginInfo-Name=kontact_todoplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=To-do List Component (KOrganizer plugin)
Comment[bg]=Приставка за KOrganizer
Comment[ca]=Component de llista de pendents (endollable del KOrganizer)
Comment[da]=Komponent til gøremålsliste (KOrganizer-plugin)
Comment[de]=Aufgabenlisten-Komponente (KOrganizer-Modul)
Comment[el]=Συστατικό λίστα προς υλοποίηση εργασιών (Πρόσθετο του KOrganizer)
Comment[es]=Componente de tareas pendientes (complemento de KOrganizer)
Comment[et]=Ülesannete nimekirja plugin (KOrganizer)
Comment[fr]=Composant de la liste des tâches (Module KOrganizer)
Comment[is]=Verkefnaeining (KOrganizer íforrit)
Comment[it]=Componente elenco delle cose da fare (plugin KOrganizer)
Comment[ja]=To-Do リストコンポーネント (KOrganizer プラグイン)
Comment[km]=សមាសភាគ​បញ្ជី​ការងារ​ត្រូវ​ធ្វើ (កម្មវិធី​ជំនួយ KOrganizer​)
Comment[nds]=Opgavenlist-Komponent (KOrganizer-Moduul)
Comment[nl]=Takenlijstcomponent (KOrganizer-plugin)
Comment[pl]=Składnik zadań (wtyczka KOrganizer)
Comment[ru]=Задачи (модуль KOrganizer)
Comment[sk]=Komponent zoznamu úloh (Modul pre KOrganizer)
Comment[sr]=Прикључак листе обавеза (прикључак KOrganizer-а)
Comment[sr@Latn]=Priključak liste obaveza (priključak KOrganizer-a)
Comment[sv]=Uppgiftslistkomponent (Korganizer-insticksprogram)
Comment[tr]=Yapılacak İşler Bileşeni (KOrganizer eklentisi)
Comment[zh_CN]=待办清单组件(KOrganizer 插件)
Comment[zh_TW]=待辦事項清單組件（KOrganizer 外掛程式）
Name=To-do
Name[bg]=Задачи
Name[ca]=Pendents
Name[da]=Gøremål
Name[de]=Aufgaben
Name[el]=Προς υλοποίηση εργασίες
Name[es]=Tareas pendientes
Name[et]=Ülesanded
Name[fr]=Tâches
Name[is]=Verkefni
Name[it]=Cose da fare
Name[ja]=To-Do
Name[km]=​ការងារ​ត្រូវ​ធ្វើ
Name[nds]=Opgaav
Name[nl]=Takenlijst
Name[pl]=Lista zadań
Name[ru]=Задачи
Name[sk]=Zoznam úloh
Name[sr]=Обавезе
Name[sr@Latn]=Obaveze
Name[sv]=Uppgift
Name[tr]=Yapılacak Ögeleri
Name[zh_CN]=待办清单
Name[zh_TW]=待辦事項
