[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kontact_todo
ServiceTypes=Kontact/Plugin

X-KDE-Library=libkontact_todoplugin
X-KDE-KontactPluginVersion=4
X-KDE-KontactPartLibraryName=libkorganizerpart
X-KDE-KontactPartExecutableName=korganizer
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Website=http://korganizer.kde.org
X-KDE-PluginInfo-Name=kontact_todoplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact KOrganizer Todo List Plugin
Comment[be]=Дапаўненьне Кантакту "Сьпіс заданьняў K Арганізатара"
Comment[bg]=Приставка за списък със задачи и връзка с KOrganizer
Comment[bs]=Kontact KOrganizer dodatak za listu zadataka
Comment[ca]=Connector Kontact per a la llista de pendents de KOrganizer
Comment[cs]=Modul úkolů KOrganizeru pro aplikaci Kontact
Comment[cy]=Ategyn Rhestr I-Wneud KOrganizer Kontact 
Comment[da]=Kontact KOrganizer gøremålsliste-plugin
Comment[de]=KOrganizer-Aufgabenlisten-Plugin für Kontact
Comment[el]=Πρόσθετο του Kontact για την προς-υλοποίηση λίστα του KOrganizer
Comment[es]=Accesorio de tareas pendientes para Kontact KOrganizer
Comment[et]=Kontacti KOrganizeri ülesannete nimekirja plugin
Comment[fi]=Kontact ohjelman KOrganizer tehtävää liitännäinen
Comment[fr]=Module des tâches de KOrganizer pour Kontact
Comment[gl]=Extensión para Tarefas Pendentes de KOrganizer
Comment[hi]=कॉन्टेक्ट के-आर्गेनाइज़र कार्य सूची प्लगइन
Comment[hu]=Kontact KOrganizer feladatlista-bővítőmodul
Comment[is]=Kontact tossalista íforrit fyrir KSkipulag
Comment[it]=Plugin cose da fare KOrganizer
Comment[ja]=Kontact KOrganizer Todo リストプラグイン
Comment[nb]=Kontact programtillegg for KOrganizer gjøreliste
Comment[nl]=Kontact KOrganizer Takenlijst-plugin
Comment[nn]=Kontact, KOrganizer oppgåveliste-programtillegg
Comment[pl]=Wtyczka Kontact do współpracy z listą zadań KOrganizera
Comment[pt]='Plugin' de A-Fazer do KOrganizer para o Kontact
Comment[pt_BR]=Plug-in para Lista de Pendências do KOrganizer no Kontact
Comment[ru]=Модуль Kontact для доступа к списку задач органайзера
Comment[sk]=KOrganizer modul zoznamu úloh pre Kontact
Comment[sl]=Vstavek opravil KOrganizerja za Kontact
Comment[sr]=Прикључак Kontact-а за KOrganizer-ову листу задатака
Comment[sr@Latn]=Priključak Kontact-a za KOrganizer-ovu listu zadataka
Comment[sv]=Kontact-insticksprogram för Korganizers att-göra-lista
Comment[ta]=கேஅமைப்பாளர் செய்யவேண்டிய பட்டியல் சொருகுப்பொருளை தொடர்புகொள்
Comment[tg]=Модули Kontact барои дастрасӣ ба рӯйхати вазифоти органайзер
Comment[tr]=Kontact KOrganizer Yapılacaklar Listesi Eklentisi
Comment[uk]=Втулок списку завдань KOrganizer для Kontact
Comment[zh_CN]=Kontact KOrganizer 待办清单插件
Name=Todo List
Name[be]=Сьпіс заданьняў
Name[bs]=Lista zadataka
Name[ca]=Llista de pendents
Name[cs]=Seznam úkolů
Name[cy]=Rhestr I-Wneud
Name[da]=Gøremålsliste
Name[de]=Aufgabenliste
Name[el]=Προς-υλοποίηση
Name[es]=Tareas pendientes
Name[et]=Ülesanded
Name[fi]=Tehtäväluettelo
Name[fr]=Liste de tâches
Name[gl]=Lista de Tarefas
Name[he]=רשימת מטלות
Name[hi]=कार्य सूची
Name[hu]=Feladatok
Name[is]=Tossalisti
Name[it]=Cose da fare
Name[ja]=Todo リスト
Name[nb]=Gjøreliste
Name[nl]=Taken
Name[nn]=Oppgåveliste
Name[pl]=Lista zadań
Name[pt]=Lista de A-Fazer
Name[pt_BR]=Pendências
Name[ru]=Задачи
Name[sk]=Zoznam úloh
Name[sl]=Seznam opravil
Name[sr]=Листа задатака
Name[sr@Latn]=Lista zadataka
Name[sv]=Att-göra-lista
Name[ta]=செய்வதற்கான பட்டியல்
Name[tg]=Рӯйхати вазифот
Name[tr]=Yapılacaklar Listesi
Name[uk]=Список завдань
Name[uz]=Вазифалар рўйхати
Name[zh_CN]=待办清单
