[Desktop Entry]
Exec=kcmshell4 kontactconfig
Icon=kontact
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kontact
X-KDE-FactoryName=kontactconfig
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kontact
X-KDE-ParentComponents=kontact
X-KDE-Weight=0

Name=Kontact
Comment=KDE Kontact
Comment[de]=Kontact
X-KDE-Keywords=kontact
X-KDE-Keywords[bg]=Kontact
X-KDE-Keywords[de]=Kontact
X-KDE-Keywords[hu]=kapcsolat
X-KDE-Keywords[mk]=kontact,контакт
X-KDE-Keywords[nb]=kontact, kontakt
X-KDE-Keywords[nds]=Kontact
X-KDE-Keywords[ne]=सम्पर्क
X-KDE-Keywords[pa]=ਕੇ-ਸੰਪਰਕ
X-KDE-Keywords[pt]=Kontact
X-KDE-Keywords[sr]=kontact, контакт
X-KDE-Keywords[sr@latin]=kontact, kontakt
X-KDE-Keywords[sv]=kontakt
X-KDE-Keywords[ta]=தொடர்புகொள்
X-KDE-Keywords[tr]=bağlantı
X-KDE-Keywords[x-test]=xxkontactxx
