[Desktop Entry]
Icon=kontact
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kontact
X-KDE-FactoryName=kontactconfig
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kontact
X-KDE-ParentComponents=kontact
X-KDE-Weight=0

Name=Kontact Configuration
Name[bs]=Konfiguracija programa Kontakt
Name[ca]=Configuració de Kontact
Name[ca@valencia]=Configuració de Kontact
Name[cs]=Nastavení Kontact
Name[da]=Indstilling af Kontact
Name[de]=Einrichtung von Kontact
Name[el]=Διαμόρφωση Kontact
Name[es]=Configuración de Kontact
Name[et]=Kontacti seadistamine
Name[fi]=Kontactin asetukset
Name[fr]=Configuration de Kontact
Name[ga]=Cumraíocht Kontact
Name[gl]=Configuración do Kontact
Name[hu]=Kontact beállítása
Name[ia]=Configuration de Kontact
Name[it]=Configurazione di Kontact
Name[ja]=Kontact の設定
Name[kk]=Kontact баптауы
Name[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ Kontact
Name[lt]=Kontact konfigūracija
Name[mr]=कॉन्टेक्ट संयोजना
Name[nb]=Kontact-oppsett
Name[nds]=Kontact instellen
Name[nl]=Instellingen van Kontact
Name[pa]=ਕੇਸੰਪਰਕ ਸੰਰਚਨਾ
Name[pl]=Konfiguracja Kontact
Name[pt]=Configuração do Kontact
Name[pt_BR]=Configuração do Kontact
Name[ro]=Configurare Kontact
Name[ru]=Настройка Kontact
Name[sk]=Nastavenie Kontakt
Name[sl]=Nastavitve Kontacta
Name[sr]=Подешавање Контакта
Name[sr@ijekavian]=Подешавање Контакта
Name[sr@ijekavianlatin]=Podešavanje Kontacta
Name[sr@latin]=Podešavanje Kontacta
Name[sv]=Inställning av Kontact
Name[tr]=Kontact Yapılandırması
Name[uk]=Налаштування Kontact
Name[wa]=Apontiaedje di Kontact
Name[x-test]=xxKontact Configurationxx
Name[zh_CN]=Kontact 配置
Name[zh_TW]=Kontact 設定
Comment=Default KDE Kontact Component
Comment[bs]=Podrazumijevana KDE Kontakt Komponenta
Comment[ca]=Component per omissió pel Kontact del KDE
Comment[ca@valencia]=Component per omissió del Kontact del KDE
Comment[cs]=Výchozí komponenta KDE Kontact
Comment[da]=Standardkomponent i KDE Kontact
Comment[de]=Standard-Komponente von Kontact
Comment[el]=Προκαθορισμένο συστατικό KDE Kontact
Comment[en_GB]=Default KDE Kontact Component
Comment[es]=Componente predeterminado de KDE Kontact
Comment[et]=KDE Kontacti vaikekomponent
Comment[fi]=KDE:n oletusarvoinen Kontact-osa
Comment[fr]=Composant Kontact KDE par défaut
Comment[gl]=Compoñente por omisión de Kontact do KDE
Comment[hu]=Alapértelmezett KDE Kontact komponens
Comment[ia]=Componente standard de KDE Kontact
Comment[it]=Componente predefinito di KDE Kontact
Comment[ja]=KDE のデフォルト Kontact コンポーネント
Comment[kk]=Әдеттті KDE Kontact компоненті
Comment[km]=សមាសធាតុ​ Kontact របស់ KDE លំនាំដើម
Comment[lt]=Numatytasis KDE Kontact komponentas
Comment[lv]=Noklusētā KDE kontaktu komponente
Comment[mr]=मूलभूत केडीई कॉन्टेक्ट घटक
Comment[nb]=Standard KDE Kontact-komponent
Comment[nds]=Standard-Kontaktkomponent för KDE
Comment[nl]=Standaard component van KDE Kontact
Comment[nn]=Standard KDE Kontakt-komponent
Comment[pl]=Domyślny komponent Kontact
Comment[pt]=Componente Predefinido do Kontact no KDE
Comment[pt_BR]=Componente padrão do KDE Kontact
Comment[ro]=Componentă Kontact KDE implicită
Comment[ru]=Компонент электронного секретаря по умолчанию
Comment[sk]=Predvolený komponent KDE Kontact
Comment[sl]=Privzeta komponenta KDE Kontacta
Comment[sr]=Подразумевана компонента Контакта
Comment[sr@ijekavian]=Подразумијевана компонента Контакта
Comment[sr@ijekavianlatin]=Podrazumijevana komponenta Kontacta
Comment[sr@latin]=Podrazumevana komponenta Kontacta
Comment[sv]=KDE:s standardkomponent Kontact
Comment[tr]=Öntanımlı KDE Kontact Bileşeni
Comment[uk]=Типовий компонент Kontact KDE
Comment[wa]=Componint prémetou di KDE Kontact
Comment[x-test]=xxDefault KDE Kontact Componentxx
Comment[zh_CN]=默认 KDE Kontact 组件
Comment[zh_TW]=預設 KDE Kontact 元件
X-KDE-Keywords=kontact
X-KDE-Keywords[bs]=Kontact
X-KDE-Keywords[ca]=kontact
X-KDE-Keywords[ca@valencia]=kontact
X-KDE-Keywords[cs]=kontact
X-KDE-Keywords[da]=kontact
X-KDE-Keywords[de]=Kontact
X-KDE-Keywords[el]=kontact
X-KDE-Keywords[es]=kontact
X-KDE-Keywords[et]=kontact
X-KDE-Keywords[fi]=kontact
X-KDE-Keywords[fr]=Kontact
X-KDE-Keywords[ga]=kontact
X-KDE-Keywords[gl]=kontact
X-KDE-Keywords[hu]=kontact
X-KDE-Keywords[ia]=kontact
X-KDE-Keywords[it]=kontact
X-KDE-Keywords[kk]=kontact
X-KDE-Keywords[km]=kontact
X-KDE-Keywords[lt]=kontact
X-KDE-Keywords[mr]=कॉन्टेक्ट
X-KDE-Keywords[nb]=kontact
X-KDE-Keywords[nds]=Kontact
X-KDE-Keywords[nl]=kontact
X-KDE-Keywords[pl]=kontact
X-KDE-Keywords[pt]=kontact
X-KDE-Keywords[pt_BR]=kontact
X-KDE-Keywords[ro]=kontact
X-KDE-Keywords[ru]=kontact,электронный секретарь
X-KDE-Keywords[sk]=kontakt
X-KDE-Keywords[sl]=kontact
X-KDE-Keywords[sr]=kontact,Контакт
X-KDE-Keywords[sr@ijekavian]=kontact,Контакт
X-KDE-Keywords[sr@ijekavianlatin]=kontact,Kontact
X-KDE-Keywords[sr@latin]=kontact,Kontact
X-KDE-Keywords[sv]=kontakt
X-KDE-Keywords[tr]=kontact
X-KDE-Keywords[uk]=kontact
X-KDE-Keywords[wa]=kontact
X-KDE-Keywords[x-test]=xxkontactxx
X-KDE-Keywords[zh_CN]=kontact
X-KDE-Keywords[zh_TW]=kontact
