[Desktop Entry]
Name=Kontact
Name[be]=Кантакт
Name[hi]=कॉन्टेक्ट
Name[mk]=Контакт
Name[ne]=सम्पर्क गर्नुहोस्
Name[sv]=Kontakt
Name[ta]=தொடர்பு கொள்
Name[zh_TW]=Kontact 個人資訊管理
Exec=kontact
Type=Application
Icon=kontact
GenericName=Personal Information Manager
GenericName[af]=Personlike informasie bestuurder
GenericName[ar]=منظم المعلومات الشخصي
GenericName[be]=Кіраванне пэрсанальнай інфармацыяй
GenericName[bg]=Лична информация
GenericName[bs]=Upravitelj ličnim informacijama
GenericName[ca]=Gestor d'informació personal
GenericName[cs]=Správce osobních informací
GenericName[cy]=Rheolydd Gwybodaeth Personol
GenericName[da]=Personlig informationshåndtering
GenericName[de]=Persönlicher Informationsmanager
GenericName[el]=Προσωπικός διαχειριστής πληροφοριών
GenericName[eo]=Persona Inform-Mastrumilo
GenericName[es]=Gestor de información personal
GenericName[et]=Personaalse info haldur
GenericName[eu]=Informazio pertsonalaren kudeatzailea
GenericName[fa]=مدیر اطلاعات شخصی
GenericName[fi]=Henkilötietojen hallinta
GenericName[fr]=Gestionnaire d'informations personnelles
GenericName[gl]=Xestor de Información Persoal
GenericName[he]=מנהל מידע אישי
GenericName[hi]=निजी जानकारी प्रबंधक
GenericName[hu]=Információkezelő
GenericName[is]=Persónulegur upplýsingastjórnandi
GenericName[it]=Gestione informazioni personali 
GenericName[ja]=個人情報マネージャ
GenericName[ka]=პირადი ინფორმაციის მმართველი
GenericName[kk]=Дербес Ақпарат Менеджері
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​ព័ត៌មាន​ផ្ទាល់​ខ្លួន
GenericName[lt]=Asmeninės informacijos tvarkyklė
GenericName[mk]=Менаџер на лични информации
GenericName[ms]=Pengurus Makumat Peribadi
GenericName[nb]=Personlig informasjonsbehandler
GenericName[nds]=Pleger för persöönliche Informatschonen
GenericName[ne]=व्यक्तिगत सूचना प्रबन्धक
GenericName[nn]=Personleg informasjonshandtering
GenericName[pl]=Program do zarządzania informacjami osobistymi
GenericName[pt]=Gestor Pessoal de Informações
GenericName[pt_BR]=Gerenciador de Informações Pessoais
GenericName[ro]=Manager de informaţii personale
GenericName[ru]=Персональный информационный менеджер
GenericName[se]=Persuvnnalaš diehtogieđaheapmi
GenericName[sk]=Osobný manažér informácii
GenericName[sl]=Osebni upravitelj informacij
GenericName[sr]=Менаџер личних информација
GenericName[sr@Latn]=Menadžer ličnih informacija
GenericName[sv]=Personlig informationshantering
GenericName[ta]=அந்தரங்க தகவல் மேலாளர்
GenericName[tg]=Мудири маълумоти шахсӣ
GenericName[tr]=Kişisel Bilgi Yöneticisi
GenericName[uk]=Менеджер особистої інформації
GenericName[uz]=Shaxsiy maʼlumot boshqaruvchisi
GenericName[uz@cyrillic]=Шахсий маълумот бошқарувчиси
GenericName[zh_CN]=个人信息管理器
GenericName[zh_TW]=個人資訊管理者
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;Office;Network;Email;
DocPath=kontact/index.html
