[Desktop Entry]
Name=Kontact
Exec=kontact
Type=Application
Icon=kontact
GenericName=Personal Information Manager
GenericName[de]=Persönlicher Informationsmanager
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;Office;
X-DocPath=kontact/index.html
