[Desktop Entry]
Encoding=UTF-8
Name=Kontact
Exec=kontact
Type=Application
Icon=kontact
GenericName=Personal Information Manager
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;Office;
DocPath=kontact/index.html
