[Desktop Entry]
Encoding=UTF-8
Icon=cookie
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=sdsummary
X-KDE-FactoryName=sdsummary
X-KDE-ParentApp=kontact_specialdatesplugin
X-KDE-ParentComponents=kontact_specialdatesplugin
X-KDE-CfgDlgHierarchy=KontactSummary

Name=Upcoming Special Dates
Comment=Upcoming Special Dates Summary Setup
Keywords=birthday, anniversary, holiday, configure, settings
Keywords[x-test]=xxbirthday, anniversary, holiday, configure, settingsxx
