[Desktop Entry]
Encoding=UTF-8
Icon=cookie
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=sdsummary
X-KDE-FactoryName=sdsummary
X-KDE-ParentApp=kontact_specialdatesplugin
X-KDE-ParentComponents=kontact_specialdatesplugin
X-KDE-CfgDlgHierarchy=KontactSummary

Name=Special Dates
Name[da]=Særlige datoer
Name[es]=Fechas especiales
Name[et]=Tähtpäevad
Name[nl]=Speciale data
Name[pt]=Datas Especiais
Name[pt_BR]=Datas Especiais
Name[ru]=Особые даты
Name[sv]=Speciella datum
Name[tr]=Özel Tarihler
Name[uk]=Особливі дати
Comment=Special Dates Summary Setup
Comment[bg]=Настройки на специалните случаи
Comment[da]=Opsummering af opsætning af særlige datoer
Comment[es]=Configuración del resumen de las fechas especiales
Comment[et]=Tähtpäevade kokkuvõtte seadistus
Comment[nl]=Instellingen voor speciale data in overzicht
Comment[pt]=Configuração do Sumário de Datas Especiais
Comment[pt_BR]=Configuração do Sumário de Datas Especiais
Comment[ru]=Настройка особых дат
Comment[sv]=Inställning av översikt av speciella datum
Comment[tr]=Özel Tarihler Özeti Kurulumu
Comment[uk]=Налаштування підсумку особливих дат
Keywords=birthday, anniversary, holiday, configure, settings
Keywords[bg]=рождени, рожден, дни, ден, годишнина, годишнини, обобщение, birthday, anniversary, configure, settings
Keywords[da]=fødselsdag, årsdag, helligdage, indstil, opsætning
Keywords[es]=cumpleaños, aniversario, vacaciones, configurar, preferencias
Keywords[et]=sünnipäev, tähtpäev, pidupäev, seadistamine, seadistused
Keywords[nl]=verjaardag,jubileum,vakantie,instellingen,configuratie,feestdag
Keywords[pt]=data de nascimento, aniversário, feriado, configurar, configuração
Keywords[pt_BR]=data de nascimento, aniversário, feriado, configurar, configuração
Keywords[ru]=birthday,anniversary,configure,settings,дни рождения,настройки,праздники,годовщины
Keywords[sv]=födelsedag,bröllopsdag,helgdag,anpassa,inställningar
Keywords[tr]=doğum günü, yıldönümü, tatil günleri, yapılandırma, ayarlar
Keywords[uk]=birthday, anniversary, holiday, configure, settings, день народження, ювілей, свято, налаштування, параметри
