[Desktop Entry]
Encoding=UTF-8
Icon=cookie
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=sdsummary
X-KDE-FactoryName=sdsummary
X-KDE-ParentApp=kontact_specialdatesplugin
X-KDE-ParentComponents=kontact_specialdatesplugin
X-KDE-CfgDlgHierarchy=KontactSummary

Name=Special Dates
Name[ca]=Dates especials
Name[cs]=Speciální datumy
Name[da]=Særlige datoer
Name[de]=Besondere Termine
Name[es]=Fechas especiales
Name[et]=Tähtpäevad
Name[fi]=Erikoispäivät
Name[fr]=Date particulières
Name[hu]=Fontos dátumok
Name[it]=Date speciali
Name[nl]=Speciale data
Name[nn]=Spesielle datoar
Name[pl]=Daty specjalne
Name[pt]=Datas Especiais
Name[pt_BR]=Datas Especiais
Name[ru]=Особые даты
Name[sl]=Posebni datumi
Name[sr]=Посебни датуми
Name[sr@Latn]=Посебни датуми
Name[sv]=Speciella datum
Name[tr]=Özel Tarihler
Name[uk]=Особливі дати
Name[xx]=xxSpecial Datesxx
Name[zh_CN]=特殊日期
Comment=Special Dates Summary Setup
Comment[bg]=Настройки на специалните случаи
Comment[ca]=Configuració del resum de les dates especials
Comment[cs]=Nastavení souhrnu speciálních datumů
Comment[da]=Opsummering af opsætning af særlige datoer
Comment[de]=Einstellung der Übersicht über besondere Termine
Comment[es]=Configuración del resumen de las fechas especiales
Comment[et]=Tähtpäevade kokkuvõtte seadistus
Comment[fr]=Configuration du résumé des dates particulières
Comment[hu]=A fontos dátumok áttekintőjének beállításai
Comment[it]=Impostazioni per le date speciali
Comment[nl]=Instellingen voor speciale data in overzicht
Comment[nn]=Oppsett av samandrag for spesielle datoar
Comment[pl]=Ustawienia podsumowania dat specjalnych
Comment[pt]=Configuração do Sumário de Datas Especiais
Comment[pt_BR]=Configuração do Resumo de Datas Especiais
Comment[ru]=Настройка особых дат
Comment[sl]=Nastavitve povzetka posebnih datumov
Comment[sr]=Подешавање сажетка посебних датума
Comment[sr@Latn]=Подешавање сажетка посебних датума
Comment[sv]=Inställning av översikt av speciella datum
Comment[tr]=Özel Tarih Özeti Yapılandırması
Comment[uk]=Налаштування підсумку особливих дат
Comment[xx]=xxSpecial Dates Summary Setupxx
Comment[zh_CN]=特殊日期摘要设置
Keywords=birthday, anniversary, holiday, configure, settings
Keywords[bg]=рождени, рожден, дни, ден, годишнина, годишнини, обобщение, birthday, anniversary, configure, settings
Keywords[ca]=data de naixement, aniversari, vacances, configuració, arranjament
Keywords[cs]=narozeniny,výročí,nastavení,nastavit,svátek
Keywords[da]=fødselsdag, årsdag, helligdage, indstil, opsætning
Keywords[de]=Geburtstag,Jahrestag,Feiertag,einstellen,Einstellungen
Keywords[es]=cumpleaños, aniversario, vacaciones, configurar, preferencias
Keywords[et]=sünnipäev, tähtpäev, pidupäev, seadistamine, seadistused
Keywords[fr]=anniversaire,date de naissance,vacances,configurer,paramètres,préférences
Keywords[hu]=születésnap,évforduló,szabadság,konfigurálás,beállítások
Keywords[it]=compleanno, anniversario, vacanze, configura, impostazioni
Keywords[nl]=verjaardag,jubileum,vakantie,instellingen,configuratie,feestdag
Keywords[nn]=fødselsdag,bursdag,gebursdag,jubileum,ferie,helgedag,merkedag,oppsett,innstillingar
Keywords[pl]=urodziny,rocznica,rocznice,wakacje,urlop,konfiguracja,ustawienia
Keywords[pt]=data de nascimento, aniversário, feriado, configurar, configuração
Keywords[pt_BR]=aniversário,aniversário de casamento, feriados,configurar,configurações
Keywords[ru]=birthday,anniversary,configure,settings,дни рождения,настройки,праздники,годовщины
Keywords[sl]=rojstni dan, obletnica, praznik, nastavi, nastavitve
Keywords[sr]=birthday, anniversary, holiday, configure, settings, рођендан, годишњица, подеси, поставке, подешавања
Keywords[sr@Latn]=birthday, anniversary, holiday, configure, settings, рођендан, годишњица, подеси, поставке, подешавања
Keywords[sv]=födelsedag,årsdag,helgdag,anpassa,inställningar
Keywords[tr]=doğumgünü, evlilik yıldönümü, tatil, yapılandır, ypılandırma
Keywords[uk]=birthday, anniversary, holiday, configure, settings, день народження, ювілей, свято, налаштування, параметри
Keywords[xx]=xxbirthday, anniversary, holiday, configure, settingsxx
Keywords[zh_CN]=birthday, anniversary, holiday, configure, settings, 周年纪念, 配置, 设置, 假日
