[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=cookie
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_specialdatesplugin
X-KDE-KontactPluginVersion=4
X-KDE-KontactPluginHasPart=false
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Name=kontact_specialdatesplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Name=Special Dates
Name[ca]=Dates especials
Name[cs]=Speciální datumy
Name[da]=Særlige datoer
Name[de]=Besondere Termine
Name[es]=Fechas especiales
Name[et]=Tähtpäevad
Name[fi]=Erikoispäivät
Name[fr]=Date particulières
Name[it]=Date speciali
Name[nl]=Speciale data
Name[pl]=Daty specjalne
Name[pt]=Datas Especiais
Name[pt_BR]=Datas Especiais
Name[ru]=Особые даты
Name[sl]=Posebni datumi
Name[sr]=Посебни датуми
Name[sr@Latn]=Посебни датуми
Name[sv]=Speciella datum
Name[tr]=Özel Tarihler
Name[uk]=Особливі дати
Name[xx]=xxSpecial Datesxx
Name[zh_CN]=特殊日期
Comment=Special Dates Plugin
Comment[bg]=Приставка за специални случаи
Comment[ca]=Endollable de dates especials
Comment[cs]=Modul speciálních datumů
Comment[da]=Plugin for særlige datoer
Comment[de]=Plugin für besondere Termine
Comment[es]=Extensión para fechas especiales
Comment[et]=Tähtpäevade plugin
Comment[fr]=Module de dates particulières
Comment[it]=Plugin per le date speciali
Comment[nl]=Plugin voor speciale data
Comment[pl]=Wtyczka specjalnych dat
Comment[pt]='Plugin' de Datas Especiais
Comment[pt_BR]=Plugin de Datas Especiais
Comment[ru]=Модуль особых дат
Comment[sl]=Vstavek za posebne datume
Comment[sr]=Прикључак за посебне датуме
Comment[sr@Latn]=Прикључак за посебне датуме
Comment[sv]=Insticksprogram för speciella datum
Comment[tr]=Özel Tarihler Eklentisi
Comment[uk]=Втулок особливих дат
Comment[xx]=xxSpecial Dates Pluginxx
Comment[zh_CN]=特殊日期插件
